<nb-card>
  <nb-card-header>
    <span langg>Diagnosis Setting</span>:
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab [tabTitle]="'Associated Diseases' | langg">
        <diseases-setting></diseases-setting>
      </nb-tab>
      <!-- <nb-tab [tabTitle]="'X-Rays' | langg">
        .......
      </nb-tab>
      <nb-tab [tabTitle]="'analyses' | langg">
        ......
      </nb-tab>
      <nb-tab [tabTitle]="'Medicines' | langg">
        <medicines-setting></medicines-setting>
      </nb-tab> -->
      <nb-tab [tabTitle]="'Prescription Data' | langg">
        <print-setting></print-setting>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
