
<div>
  <button nbButton [routerLink]="['/pages/patients/new']" hero size="small" class="mx-3 mb-2"><nb-icon icon="person-add-outline"></nb-icon><span langg>Add New Patient</span></button>
  <button nbButton hero size="small" class="mx-3 mb-2"><nb-icon icon="archive-outline"></nb-icon><span langg>Today Booking</span></button>

</div>
<nb-card>
  <nb-card-body>
    <full-calendar [events]="calendarEvents" [plugins]="calendarPlugins" defaultView="dayGridMonth"
      titleFormat="D MMM YYYY" [header]="calendarHeader" (dateClick)="onDateClick($event)"
      (eventClick)="onEventClick($event)" (eventMouseEnter)="onMouseOver($event)" (eventRender)="onEventRender($event)"
      [locale]="locle"></full-calendar>
  </nb-card-body>
</nb-card>
