@import "../../shared/styles/themes";

@include nb-install-component() {
  ::ng-deep .fc-content {
    color: white !important;
  }
  ::ng-deep .fc-right h2,
  ::ng-deep .fc-left h2 {
    color: dodgerblue !important;
  }
  ::ng-deep .fc-title{
    font-weight: bold !important;
  }
  ::ng-deep a.fc-event,::ng-deep .fc-past,::ng-deep .fc-today, ::ng-deep .fc-content-skeleton{
    cursor: pointer;
  }
  ::ng-deep .fc-future{
    cursor: cell;
  }
  ::ng-deep .fc-past{
    background-color: lightgray;
  }
  ::ng-deep a.fc-event{
    cursor: default;
  }

  .tooltipCalendar{
    position: absolute;
    height: 100vh;
    width: 90%;
  }
}
