<nb-card>
  <nb-card-header>
    <nav class="navigation"> <a [routerLink]="" routerLinkActive="router-link-active" (click)="location.back()" class="link back-link" aria-label="Back">
        <nb-icon icon="arrow-back"></nb-icon>
      </a>
    </nav>
  </nb-card-header>
  <nb-card-body>
    <!-- <nb-route-tabset [tabs]="tabs"></nb-route-tabset> -->
    <nb-tabset>
      <nb-tab tabTitle="المعلومات الأساسية">
        <info-detail></info-detail>
      </nb-tab>
      <nb-tab tabTitle="الأشعة">
        .......
      </nb-tab>
      <nb-tab tabTitle="التحاليل">
        ......
      </nb-tab>
      <nb-tab tabTitle="تقرير الزيارات">
        .......
      </nb-tab>
     </nb-tabset>
  </nb-card-body>
</nb-card>
