<nb-card>
  <nb-card-header>
    <nav class="navigation"> <a [routerLink]="" routerLinkActive="router-link-active" (click)="location.back()"
        class="link back-link" aria-label="Back">
        <nb-icon icon="arrow-back"></nb-icon>
      </a>
    </nav>
    <h5><span langg>{{pageHeader}}</span>: <span>{{patientName}}</span></h5>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab [tabTitle]="'Basic info' | langg" [active]="tabNumber==1">
        <basic-info [(isNewPatient)]="isNewPatient"></basic-info>
      </nb-tab>
      <nb-tab [tabTitle]="'Patient History' | langg" [disabled]="isNewPatient" [active]="tabNumber==2">
        <history></history>
      </nb-tab>
      <nb-tab [tabTitle]="'C/O' | langg" [disabled]="isNewPatient || true" [active]="tabNumber==3">
        .......
      </nb-tab>
      <nb-tab [tabTitle]="'EX' | langg" [disabled]="isNewPatient || true" [active]="tabNumber==4">
        .......
      </nb-tab>
      <nb-tab [tabTitle]="'X-Rays' | langg" [disabled]="isNewPatient" [active]="tabNumber==5">
        <x-rays></x-rays>
      </nb-tab>
      <nb-tab [tabTitle]="'Analyses' | langg" [disabled]="isNewPatient" [active]="tabNumber==6">
        <analysis></analysis>
      </nb-tab>
      <nb-tab [tabTitle]="'Associated Diseases' | langg" [disabled]="isNewPatient" [active]="tabNumber==7">
        <questions></questions>
      </nb-tab>
      <nb-tab [tabTitle]="'Prescription' | langg" [disabled]="isNewPatient" [active]="tabNumber==8">
        <medicines></medicines>
      </nb-tab>
      <nb-tab [tabTitle]="'Request X-Ray & Analysis' | langg" [disabled]="isNewPatient" [active]="tabNumber==9">
        <requests></requests>
      </nb-tab>
      <!-- <nb-tab [tabTitle]="'Operation' | langg" [disabled]="isNewPatient" [active]="tabNumber==10">
        .......
      </nb-tab>
      <nb-tab [tabTitle]="'Diagnosis Summary' | langg" [disabled]="isNewPatient" [active]="tabNumber==11">
        .......
      </nb-tab> -->
    </nb-tabset>
  </nb-card-body>
</nb-card>
