<nb-card>
  <nb-card-header>
    <nav class="navigation"> <a [routerLink]="" routerLinkActive="router-link-active" (click)="location.back()"
        class="link back-link" aria-label="Back">
        <nb-icon icon="arrow-back"></nb-icon>
      </a>
    </nav>
    <h5><span langg>{{pageHeader}}</span>: <span>{{patientName}}</span></h5>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab [tabTitle]="'Basic info' | langg" >
        <info-detail [(isNewPatient)]="isNewPatient"></info-detail>
      </nb-tab>
      <nb-tab [tabTitle]="'Associated Diseases' | langg" [disabled]="isNewPatient" >
        <questions></questions>
      </nb-tab>
      <!-- <nb-tab [tabTitle]="'Patient History' | langg" [disabled]="isNewPatient" >
        .......
      </nb-tab>
      <nb-tab [tabTitle]="'C/O' | langg" [disabled]="isNewPatient" >
        .......
      </nb-tab>
      <nb-tab [tabTitle]="'EX' | langg" [disabled]="isNewPatient" >
        .......
      </nb-tab>
      <nb-tab [tabTitle]="'X-Rays' | langg" [disabled]="isNewPatient">
        .......
      </nb-tab>
      <nb-tab [tabTitle]="'analyses' | langg" [disabled]="isNewPatient">
        ......
      </nb-tab> -->
      <nb-tab [tabTitle]="'Prescription' | langg" [disabled]="isNewPatient" [active]="isTapPrescription">
        <medicines></medicines>
      </nb-tab>
      <!-- <nb-tab [tabTitle]="'Operation' | langg" [disabled]="isNewPatient">
        .......
      </nb-tab>
      <nb-tab [tabTitle]="'Diagnosis Summary' | langg" [disabled]="isNewPatient">
        .......
      </nb-tab> -->
    </nb-tabset>
  </nb-card-body>
</nb-card>
