<nb-card>
  <nb-card-header>
    <form #form="ngForm" (ngSubmit)="onSearch(form)" aria-labelledby="title" [nbSpinner]="formLoading">
      <div class="row">
        <div class="col-3">
          <input nbInput ngModel #phone="ngModel" name="phone" [placeholder]="'بحث بإسم المريض'" pattern="[0-9]*"
            minlength="10" [status]="phone.dirty ? (phone.invalid  ? 'danger' : 'success') : ''" fullWidth>
          <ng-container *ngIf="phone.invalid && phone.touched">
            <p class="error-message" *ngIf="phone?.errors.pattern || phone?.errors.minlength" langg>
              Mobile must be real number!
            </p>
          </ng-container>
        </div>
        <div class="col-3">
          <input nbInput ngModel #phone="ngModel" name="phone" [placeholder]="'بحث برقم الموبايل'" pattern="[0-9]*"
            minlength="10" [status]="phone.dirty ? (phone.invalid  ? 'danger' : 'success') : ''" fullWidth>
          <ng-container *ngIf="phone.invalid && phone.touched">
            <p class="error-message" *ngIf="phone?.errors.pattern || phone?.errors.minlength" langg>
              Mobile must be real number!
            </p>
          </ng-container>
        </div>
        <div class="col-3">
          <input nbInput ngModel #phone="ngModel" name="phone" [placeholder]="'بحث بكود المريض'" pattern="[0-9]*"
            minlength="10" [status]="phone.dirty ? (phone.invalid  ? 'danger' : 'success') : ''" fullWidth>
          <ng-container *ngIf="phone.invalid && phone.touched">
            <p class="error-message" *ngIf="phone?.errors.pattern || phone?.errors.minlength" langg>
              Mobile must be real number!
            </p>
          </ng-container>
        </div>
        <div class="col-3">
          <button nbButton status="primary" fullWidth>بحث</button>
        </div>
      </div>
    </form>
  </nb-card-header>
  <nb-card-body>
    <button nbButton [routerLink]="['/pages/patients/details/new']" hero size="small" class="mb-2"><nb-icon icon="person-add-outline"></nb-icon><span langg>Add New Patient</span></button>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th langg>Patient Name</th>
          <th langg>Mobile</th>
          <th langg>Visits</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>محمد أحمد علي</td>
          <td>0224165456</td>
          <td>20
            <button nbButton ghost size="small" status="warning" [nbTooltip]="'Visits Details' | langg"
              (click)="onOpenBookingsSummery(1)">
              <nb-icon icon="info"></nb-icon>
            </button>
          </td>
          <td>
            <button nbButton [routerLink]="['/pages/patient-detail',1]" size="small" status="info" langg >Patient Profile</button>&nbsp;|
            <button nbButton (click)="onNewBook()" size="small" status="success" langg>Book</button>&nbsp;|
            <button nbButton (click)="onDeletePatient()" size="small" status="danger" langg>Delete</button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>منى السيد عبد الحفيظ</td>
          <td>01245646546</td>
          <td>5
            <button nbButton ghost size="small" status="warning" [nbTooltip]="'Visits Details' | langg">
              <nb-icon icon="info"></nb-icon>
            </button></td>
          <td>
            <button nbButton [routerLink]="['/pages/patients/details',1]" size="small" status="info" langg >Patient Profile</button>&nbsp;|
            <button nbButton (click)="onNewBook()" size="small" status="success" langg>Book</button>&nbsp;|
            <button nbButton (click)="onDeletePatient()" size="small" status="danger" langg>Delete</button>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>حسين محمود جلال</td>
          <td>021548646</td>
          <td>7
            <button nbButton ghost size="small" status="warning" [nbTooltip]="'Visits Details' | langg">
              <nb-icon icon="info"></nb-icon>
            </button></td>
          <td>
            <button nbButton [routerLink]="['/pages/patients/details',1]" size="small" status="info" langg >Patient Profile</button>&nbsp;|
            <button nbButton (click)="onNewBook()" size="small" status="success" langg>Book</button>&nbsp;|
            <button nbButton (click)="onDeletePatient()" size="small" status="danger" langg>Delete</button>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>محمد أحمد علي</td>
          <td>0224165456</td>
          <td>20
            <button nbButton ghost size="small" status="warning" [nbTooltip]="'Visits Details' | langg">
              <nb-icon icon="info"></nb-icon>
            </button></td>
          <td>
            <button nbButton [routerLink]="['/pages/patients/details',1]" size="small" status="info" langg >Patient Profile</button>&nbsp;|
            <button nbButton (click)="onNewBook()" size="small" status="success" langg>Book</button>&nbsp;|
            <button nbButton (click)="onDeletePatient()" size="small" status="danger" langg>Delete</button>
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td>منى السيد عبد الحفيظ</td>
          <td>01245646546</td>
          <td>5
            <button nbButton ghost size="small" status="warning" [nbTooltip]="'Visits Details' | langg">
              <nb-icon icon="info"></nb-icon>
            </button></td>
          <td>
            <button nbButton [routerLink]="['/pages/patients/details',1]" size="small" status="info" langg >Patient Profile</button>&nbsp;|
            <button nbButton (click)="onNewBook()"size="small" status="success" langg>Book</button>&nbsp;|
            <button nbButton (click)="onDeletePatient()" size="small" status="danger" langg>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination [boundaryLinks]="true" [itemsPerPage]="10" [totalItems]="500" [ngModel]="1" [maxSize]="10"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
    <!-- <pagination [boundaryLinks]="true" [itemsPerPage]="pagination.pageSize" [totalItems]="pagination.totalItemCount"
    [(ngModel)]="pagination.pageNumber" (pageChanged)="pageChanged($event);" previousText="&lsaquo;"
    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination> -->
  </nb-card-body>
</nb-card>

<swal #deleteSwal icon="error" showCancelButton="true" focusCancel="true" [title]="'Attention !' | langg"
  [text]="'This data will be deleted forever and all other data related to it, and it will not be retrievable again!' | langg"
  [confirmButtonText]="'Delete' | langg" [cancelButtonText]="'Cancel' | langg" confirmButtonColor="#ff3d71">
</swal>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>
