<nb-card>
  <nb-card-header><span langg>Reset Password</span></nb-card-header>
  <nb-card-body [nbSpinner]="formLoading" nbSpinnerStatus="success">
    <form #form="ngForm">
      <div class="form-control-group">
        <label class="label" for="input-password"><span langg>New Password</span>:</label>
        <input nbInput fullWidth [(ngModel)]="userResetPassword.password" #password="ngModel" name="password"
          type="password" id="input-password" [placeholder]="'New Password' |langg"
          [ngModelOptions]="{standalone: true}"
          [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''" [required]="true" [minlength]="6"
          [attr.aria-invalid]="password.invalid && password.touched ? true : null">
        <ng-container *ngIf="password.invalid && password.touched ">
          <p class="error-message" *ngIf="password?.errors.required" langg>Password is required!</p>
          <p class="error-message" *ngIf="password?.errors.minlength || password?.errors.maxlength">
            <span langg>Password should contains from</span> 6
            <span langg>characters</span>
          </p>
        </ng-container>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="text-center nbButton-group">
    <button nbButton hero status="primary" (click)="onSave()" [disabled]="userResetPassword.password.length < 6" langg
      status="success">Save</button>
    <button nbButton hero status="danger" (click)="dialogRef.close()" langg>Cancel</button>
  </nb-card-footer>
</nb-card>
