<form #form="ngForm" (ngSubmit)="onSubmit(form)" aria-labelledby="title" [nbSpinner]="formLoading"
  nbSpinnerStatus="success">
  <nb-card>
    <nb-card-body>
      <div class="row">
          <div *ngFor="let disease of patientDiseases" class="form-control-group  form-inline text-center col-md-6">
            <label class="label" [for]="'input-disease'+disease.id" langg>{{langgService.locale=="en"? disease.questionTextEN : disease.questionTextAR}}</label>
            <nb-radio-group [(ngModel)]="disease.isYes" [name]="'disease-'+disease.id" [id]="'input-disease'+disease.id" class="form-inline mx-1">
              <nb-radio [value]="true"><span langg>Yes</span>&nbsp;</nb-radio>
              <nb-radio [value]="false"><span langg>No</span>&nbsp;</nb-radio>
            </nb-radio-group>
            <input *ngIf="disease.isYes" nbInput type="text" [(ngModel)]="disease.note" [name]="'note-'+disease.id" [placeholder]="'Caption' | langg"
              fieldSize="small" fullWidth>
          </div>
      </div>
      <div class="text-center nbButton-group">
        <button nbButton type="submit" status="success" [disabled]="!form.valid || !form.dirty" langg>Save</button>
        <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
      </div>
    </nb-card-body>
  </nb-card>
</form>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>
