<form #form="ngForm" (ngSubmit)="onSubmitQuest(form)" aria-labelledby="title" [nbSpinner]="formLoading"
  nbSpinnerStatus="success">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <ng-container *ngFor="let quest of questionsList">
          <div *ngIf="quest.isActive" class="form-control-group  form-inline text-center col-md-6">
            <label class="label" [for]="quest.id"><span langg>{{quest.question}}</span><span langg>?</span></label>
            <nb-radio-group ngModel [id]="quest.id" [name]="quest.id" class="form-inline mx-1">
              <nb-radio [value]="1"><span langg>Yes</span>&nbsp;</nb-radio>
              <nb-radio [value]="0"><span langg>No</span>&nbsp;</nb-radio>
            </nb-radio-group>
            <input *ngIf="form.controls[quest.id]?.value" nbInput type="text" [placeholder]="'Caption' | langg"
              fieldSize="small" fullWidth>
          </div>
        </ng-container>
      </div>
      <div class="text-center nbButton-group">
        <button nbButton type="submit" status="success" [disabled]="!form.valid || !form.dirty" langg>Save</button>
        <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
      </div>
    </nb-card-body>
  </nb-card>
</form>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>
