<nb-card>
  <nb-card-body>
    <table class="table table-striped table-bordered table-light" [nbSpinner]="formLoading" nbSpinnerStatus="info">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th langg>Month</th>
          <th langg>Total Paid</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of monthPayments; let i = index;">
          <td>{{i + 1}}</td>
          <td>{{payment.month | localMonthLong}}</td>
          <td>{{payment.totalPaid | currency:'EGP':'symbol':'1.0'}}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
