<nb-card>
  <nb-card-header>
    <!-- <div class="row">
      <div class="col-4">
        <h6 class="d-inline" langg>Doctor Name</h6>:
        <div class="d-inline">
          <nb-select #bookingDoctor name="bookingDoctor" id="input-doctor" selected="2">
            <nb-option value="1">عادل حسن</nb-option>
            <nb-option value="2">علي أبو مضاوي</nb-option>
            <nb-option value="3">محمد زادة</nb-option>
          </nb-select>
        </div>
      </div>
    </div> -->
    <div class="text-center">
      <h5 class="font-andalus">{{today | localDateLong}}</h5>
    </div>
  </nb-card-header>
  <nb-card-body [nbSpinner]="formLoading" nbSpinnerStatus="info">
    <button (click)="onBookToday()" nbButton size="small" status="success" [nbTooltip]="'New Booking' | langg">
      <nb-icon icon="file-add-outline"></nb-icon>
      <span langg>Add New Booking</span>
    </button>
    <small class="form-text text-muted font-weight-bold">&#9733;&nbsp;<span langg>Current Order of Bookings made
        according to the Clinic Settings</span>:&nbsp;<span langg>{{sortBookingsByText | langg}}</span>.</small>
    <small class="form-text text-muted font-weight-bold">&#9733;&#9733;&nbsp;<span langg>Bookings sequence can be changed by
        Drag-and-Drop or Double-Click on one of attendees to be brought to the next role</span>.</small>
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th langg>Time</th>
          <th langg>Name</th>
          <th langg>Mobile</th>
          <th langg>Booking Type</th>
          <th langg>Services</th>
          <th langg>Price</th>
          <th langg>Amount Paid</th>
          <th langg>Amount Due</th>
          <th langg>Attendance</th>
          <th langg>Entrance</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="!bookingsList?.length">
        <tr>
          <td colspan="12" class="text-center">
            <h5 langg>No Results !</h5>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="bookingsList?.length" cdkDropList (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let booking of bookingsList; let i = index;"
          [class]="booking.isEnter || booking.isCanceled ?'table-danger' :(booking.isAttend ? 'table-success' :  'table-light')"
          cdkDrag [cdkDragDisabled]="booking.isEnter || booking.isCanceled || bookingsList.length == 1"
          (dblclick)="onSetNextBooking(booking,i)">
          <th>{{booking.daySeqNo}}</th>
          <td>{{booking.time | time12Hour}}</td>
          <td>{{booking.name}}
            <button nbButton outline *ngIf="nextBooking==i" status="warning" size="tiny" class="btn-label" langg>Next
              Booking</button>
            <button nbButton outline *ngIf="booking.isCanceled" status="danger" size="tiny" class="btn-label"
              langg>Canceled Booking</button>
          </td>
          <td>{{booking.mobile}}</td>
          <td>{{booking.type}}</td>
          <td>{{booking.services}}</td>
          <td>{{booking.paid + booking.due | currency:'EGP':'symbol':'1.0'}}</td>
          <td>{{booking.paid | currency:'EGP':'symbol':'1.0'}}</td>
          <td class="text-danger">{{booking.due | currency:'EGP':'symbol':'1.0'}}</td>
          <td class="text-center">
            <nb-checkbox [checked]="booking.isAttend" [(ngModel)]="booking.isAttend" status="success"
              [disabled]="booking.isEnter || booking.isCanceled" (ngModelChange)="onChangeAttend(booking)">
            </nb-checkbox>
            <div *ngIf="booking.isAttend || booking.isEnter">
              <small class="text-success">{{booking.attendTime | time12Hour }}</small>
            </div>
          </td>
          <td class="text-center">
            <nb-checkbox [checked]="booking.isEnter" [(ngModel)]="booking.isEnter" status="danger"
              [disabled]="booking.isCanceled || authService.roleName == userRole.employee"
              (ngModelChange)="onChangeEnter(booking)"></nb-checkbox>
            <div *ngIf="booking.isEnter">
              <small class="text-danger">{{booking.entryTime | time12Hour}}</small>
            </div>
          </td>
          <td class="text-center">
            <button (click)="onBook(booking.bookId,booking.patientId)" nbButton size="tiny" status="warning"
              [nbTooltip]="'Edit Booking' | langg">
              <nb-icon icon="edit"></nb-icon>
            </button>&nbsp;
            <button *ngIf="booking.isEnter || booking.isCanceled" (click)="onBook(0,booking.patientId)" nbButton
              size="tiny" status="success" [nbTooltip]="'New Booking' | langg">
              <nb-icon icon="file-add"></nb-icon>
            </button>
            <button *ngIf="!booking.isEnter && !booking.isCanceled" (click)="onDeleteBooking(booking.bookId)" nbButton
              size="tiny" status="danger" [nbTooltip]="'Cancel Booking' | langg">
              <nb-icon icon="slash"></nb-icon>
            </button>&nbsp;
            <button nbButton (click)="onOpenFilePatient(booking.patientCodeId)" size="tiny" status="info"
              [nbTooltip]="'Patient Profile' | langg">
              <nb-icon icon="folder"></nb-icon>
            </button>
          </td>
        </tr>
      </tbody>
      <!-- <tfoot>
        <tr class="table-dark font-weight-bolder lead" cdkDrag cdkDragDisabled>
          <td colspan="7"><span langg>Total Amount:</span></td>
          <td colspan="5">{{totalPaid | currency:'EGP':'symbol':'1.0'}}</td>
        </tr>
      </tfoot> -->
    </table>
  </nb-card-body>

  <swal #cancelSwal icon="warning" showCancelButton="true" focusCancel="true" [title]="'Attention !' | langg"
    [text]="'Are you sure to cancel the Booking?' | langg" [confirmButtonText]="'Cancel Booking' | langg"
    [cancelButtonText]="'No' | langg" confirmButtonColor="#ff3d71">
  </swal>

  <swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
    [showConfirmButton]="false">
  </swal>
