<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-4">
        <h6 class="d-inline" langg>Doctor Name</h6>:
        <div class="d-inline">
          <nb-select #bookingDoctor name="bookingDoctor" id="input-doctor" selected="2">
            <nb-option value="1">عادل حسن</nb-option>
            <nb-option value="2">علي أبو مضاوي</nb-option>
            <nb-option value="3">محمد زادة</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="col-8">
        <h5 class="font-naskh">{{today | localDateLong}}</h5>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <button (click)="onBookToday()" nbButton size="small" status="success"
              [nbTooltip]="'New Booking' | langg">
              <nb-icon icon="file-add-outline"></nb-icon>
              <span langg>Add New Booking</span>
            </button>
    <small class="form-text text-muted font-weight-bold">&#9733;&nbsp;<span langg>Current Order of Bookings made
        according to the Clinic Settings</span>:&nbsp;<span langg>{{sortBookingsByText | langg}}</span>.</small>
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th langg>Time</th>
          <th langg>Booking Type</th>
          <th langg>ID</th>
          <th langg>Name</th>
          <th langg>Mobile</th>
          <th langg>Cost</th>
          <th langg>Attendance</th>
          <th langg>Entrance</th>
          <th></th>
        </tr>
      </thead>
      <tbody cdkDropList (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let booking of bookingsList; let i = index;"
          [class]="booking.isEnter ? 'table-danger':(booking.isAttend?'table-success':'table-light')" cdkDrag
          [cdkDragDisabled]="booking.isEnter || sortBookingsBy!='manual'">
          <th>{{booking.seq}}</th>
          <td>{{booking.time | time12Hour}}</td>
          <td langg>{{booking.type}}</td>
          <th>{{booking.id}}</th>
          <td>{{booking.name}}
            <button nbButton outline *ngIf="nextBooking==i" status="warning" size="tiny" class="btn-label" langg>Next
              Booking</button>
          </td>
          <td>{{booking.mobile}}</td>
          <td langg>{{booking.cost | currency:'EGP'}}
            <button nbButton (click)="onOpenPaymentSummary(1)" ghost size="tiny" status="warning"
              [nbTooltip]="'Payment Details' | langg">
              <nb-icon icon="info"></nb-icon>
            </button>
          </td>
          <td class="text-center">
            <nb-checkbox [checked]="booking.isAttend" [(ngModel)]="booking.isAttend" status="success"
              [disabled]="booking.isEnter" (ngModelChange)="onChangeAttend(booking)"></nb-checkbox>
            <div *ngIf="booking.isAttend || booking.isEnter">
              <small class="text-success">{{booking.attendTime | time12Hour }}</small>
            </div>
          </td>
          <td class="text-center">
            <nb-checkbox [checked]="booking.isEnter" [(ngModel)]="booking.isEnter" status="danger"
              (ngModelChange)="onChangeEnter(booking)"></nb-checkbox>
            <div *ngIf="booking.isEnter">
              <small class="text-danger">{{booking.entryTime | time12Hour}}</small>
            </div>
          </td>
          <td class="text-center">
            <button (click)="onBook(1)" nbButton size="tiny" status="warning"
              [nbTooltip]="'Edit Booking' | langg">
              <nb-icon icon="edit"></nb-icon>
            </button>&nbsp;
            <button *ngIf="booking.isEnter" (click)="onBook(0)" nbButton size="tiny" status="success"
              [nbTooltip]="'New Booking' | langg">
              <nb-icon icon="file-add"></nb-icon>
            </button>
            <button *ngIf="!booking.isEnter" (click)="onDeleteBooking()" nbButton size="tiny" status="danger"
              [nbTooltip]="'Cancel Booking' | langg">
              <nb-icon icon="trash-2"></nb-icon>
            </button>&nbsp;
            <button nbButton [routerLink]="['/pages/patients/details',booking.id]" size="tiny" status="info"
              [nbTooltip]="'Patient Profile' | langg">
              <nb-icon icon="folder"></nb-icon>
            </button>
          </td>
        </tr>
        <tr class="table-dark font-weight-bolder lead" cdkDrag cdkDragDisabled>
          <td colspan="6"><span langg>Total Amount:</span></td>
          <td colspan="4">{{totalCost | currency:'EGP'}}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>

  <swal #deleteSwal icon="error" showCancelButton="true" focusCancel="true" [title]="'Attention !' | langg"
    [text]="'This data will be deleted forever and all other data related to it, and it will not be retrievable again!' | langg"
    [confirmButtonText]="'Delete' | langg" [cancelButtonText]="'Cancel' | langg" confirmButtonColor="#ff3d71">
  </swal>

  <swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
    [showConfirmButton]="false">
  </swal>
