<form #form="ngForm" aria-labelledby="title" [nbSpinner]="formLoading" nbSpinnerStatus="success">
  <h6><span langg>Patient Diagnoses</span>:</h6>
  <table class="table">
    <tbody>
      <tr *ngFor="let item of patientDiagnoses; index as i;">
        <td>
          <input nbInput [(ngModel)]="item.name" [typeahead]="diagnosesNames" fullWidth
            (typeaheadNoResults)="item.isNameValid = !$event" [placeholder]="'Diagnosis' | langg" [isAnimated]="true"
            fieldSize="small" [typeaheadMinLength]="0" [ngModelOptions]="{standalone: true}"
            [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="15">
          <ng-container *ngIf="!item.isNameValid">
            <label class="error-message" langg>This Name does not exist! Do you add it to the
              list?</label>&nbsp;
            <button nbButton type="button" (click)="onAddNewItemToList(item.name);item.isNameValid=true" status="info"
              size="small" class="mt-2" langg>Add</button>
          </ng-container>
        </td>
        <td>
          <nb-select fullWidth [(ngModel)]="item.grade" [ngModelOptions]="{standalone: true}"
            [placeholder]="'Disease Severity' | langg" size="small">
            <nb-option [value]="0">Grade 0</nb-option>
            <nb-option [value]="1">Grade 1</nb-option>
            <nb-option [value]="2">Grade 2</nb-option>
            <nb-option [value]="3">Grade 3</nb-option>
            <nb-option [value]="4">Grade 4</nb-option>
          </nb-select>
        </td>
        <td>
          <input nbInput [(ngModel)]="item.note" [ngModelOptions]="{standalone: true}" [placeholder]="'Notes' | langg"
            fullWidth fieldSize="small">
        </td>
        <td class="label pt-2">
          <label><span langg>Added Date</span>:&nbsp;<b>{{item.createdOn | localDateShort}}</b>
          </label>
        </td>
        <td>
          <button (click)="onRemoveDiagnose(i)" nbButton [nbTooltip]="'Remove Diagnose' | langg" size="tiny"
            status="danger" [hidden]="item== patientDiagnoses[0]">
            <nb-icon icon="close-square"></nb-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <button nbButton
    [disabled]="patientDiagnoses.length &&(!patientDiagnoses[patientDiagnoses?.length-1]?.name || !patientDiagnoses[patientDiagnoses?.length-1]?.isNameValid)"
    size="small" (click)="onAddDiagnose()" class="mx-1 mb-1">
    <nb-icon icon="plus-outline"></nb-icon><span langg>Add Another Diagnose</span>
  </button>

  <div class="text-center nbButton-group">
    <button nbButton type="submit" (click)="onSave()" status="success"
      [disabled]="patientDiagnoses.length &&(!patientDiagnoses[patientDiagnoses?.length-1]?.name || !patientDiagnoses[patientDiagnoses?.length-1]?.isNameValid)"
      langg>Save</button>
    <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
  </div>
</form>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>

<swal #deleteSwal icon="error" showCancelButton="true" focusCancel="true" [title]="'Attention !' | langg"
  [text]="'This data will be deleted forever and all other data related to it, and it will not be retrievable again!' | langg"
  [confirmButtonText]="'Delete' | langg" [cancelButtonText]="'Cancel' | langg" confirmButtonColor="#ff3d71">
</swal>
