@model clinic_panel.DTOs.GradesIndexDTO

@{
    ViewBag.Title = "درجات الأمراض";
}

    <div class="row">
        <div class="col-md-6">
            <h2>درجات ضغط الدم</h2>

            @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
            <table class="table">
                <tr class="info">
                    <th>
                        درجة ضغط الدم
                    </th>
                </tr>

                @foreach (var item in Model.BloodPressureValues)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-6">
            <h2>درجات حدة المرض</h2>

            @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
        <table class="table">
            <tr class="info">
                <th>
                    درجة حدة المرض
                </th>
            </tr>

            @foreach (var item in Model.DiseaseGradesValues)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                </tr>
            }
        </table>
        </div>
    </div>
