<nb-card>
  <nb-card-body [nbSpinner]="formLoading" nbSpinnerStatus="success">
    <h6 langg>Add New Requests:</h6>
    <form #form="ngForm" aria-labelledby="title">
      <table class="table requests">
        <tbody>
          <tr *ngFor="let item of newRequests; index as i;">
            <td class="font-weight-bold text-center">
              {{item.requestType=='ray'?('Request X-Ray' | langg):('Request Analysis' | langg)}}&nbsp;:</td>
            <td>
              <input nbInput [(ngModel)]="item.requestName"
                [typeahead]="item.requestType=='ray'? rayNames: analysisNames" fullWidth
                (typeaheadOnSelect)="onSelectRequest($event,i)" typeaheadOptionField="text"
                (typeaheadNoResults)="item.isNameValid = !$event"
                (keyup)="!item.isNameValid || item.requestName=='' || !item.requestId ? isAnyNameInvalid = true : isAnyNameInvalid = false"
                [placeholder]="item.requestType=='ray'?('X-Ray Name' | langg):('Analysis Name' | langg)"
                [isAnimated]="true" fieldSize="small" [typeaheadMinLength]="0" [ngModelOptions]="{standalone: true}"
                [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="15">
              <!-- <ng-container *ngIf="!item.isNameValid && item.requestName != ''">
                <label class="error-message" langg>Must choose from the list !</label>
              </ng-container> -->
              <ng-container *ngIf="!item.isNameValid && item.requestName != ''">
                <label class="error-message" langg>This Name does not exist! Do you add it to the
                  list?</label>&nbsp;
                <button nbButton type="button" (click)="onAddNewItemToList(item,item.requestType);item.isNameValid=true" status="info"
                  size="small" class="mt-2" langg>Add</button>
              </ng-container>
            </td>
            <td>
              <input nbInput [(ngModel)]="item.rayAreaName" [typeahead]="rayAreas" fullWidth
                (typeaheadNoResults)="item.isAreaValid = !$event" (typeaheadOnSelect)="onSelectArea($event,i)"
                [hidden]="item.requestType!='ray'" [placeholder]="'X-Ray Area' | langg" [isAnimated]="true"
                typeaheadOptionField="text" fieldSize="small" [typeaheadMinLength]="0"
                [ngModelOptions]="{standalone: true}" [typeaheadScrollable]="true"
                [typeaheadOptionsInScrollableView]="15">
              <!-- <ng-container *ngIf="!item.isAreaValid  && item.rayAreaName != ''">
                <label class="error-message" langg>Must choose from the list !</label>
              </ng-container> -->
              <ng-container *ngIf="!item.isAreaValid && item.rayAreaName != ''">
                <label class="error-message" langg>This Name does not exist! Do you add it to the
                  list?</label>&nbsp;
                <button nbButton type="button" (click)="onAddNewItemToList(item,'area');item.isAreaValid=true" status="info"
                  size="small" class="mt-2" langg>Add</button>
              </ng-container>
            </td>
            <td>
              <input nbInput [(ngModel)]="item.note" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Note' | langg" fullWidth fieldSize="small">
            </td>
            <td>
              <button (click)="onRemoveRequest(i)" nbButton [nbTooltip]="'Remove Request' | langg" size="tiny"
                status="danger">
                <nb-icon icon="close-square"></nb-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <button nbButton size="small" (click)="onAddRequest('ray')"
        [disabled]="newRequests?.length &&(!newRequests[newRequests?.length-1]?.requestName || !newRequests[newRequests?.length-1]?.isNameValid)"
        class="mx-1 mb-1">
        <nb-icon icon="plus-outline"></nb-icon><span langg>Request X-Ray</span>
      </button>
      <button nbButton size="small" (click)="onAddRequest('analysis')"
        [disabled]="newRequests?.length &&(!newRequests[newRequests?.length-1]?.requestName || !newRequests[newRequests?.length-1]?.isNameValid)"
        class="mx-1 mb-1">
        <nb-icon icon="plus-outline"></nb-icon><span langg>Request Analysis</span>
      </button>

      <div class="text-center nbButton-group mb-1">
        <button nbButton type="submit" status="success" (click)="onSave(false)"
          [disabled]="isAnyNameInvalid ||(!newRequests[newRequests?.length-1]?.requestName || !newRequests[newRequests?.length-1]?.isNameValid)"
          langg>Save</button>
        <button nbButton type="submit" status="success" (click)="onSave(true)"
          [disabled]="isAnyNameInvalid ||(!newRequests[newRequests?.length-1]?.requestName || !newRequests[newRequests?.length-1]?.isNameValid)"
          langg>Save
          &
          Print Request</button>
        <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
      </div>
    </form>


    <h6 langg>Past Requests:</h6>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th langg>Request Date</th>
          <th langg>Type</th>
          <th langg>Request</th>
          <th langg>Request Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="!prevPatientRequests?.length">
        <tr>
          <td colspan="5" class="text-center">
            <h5 langg>No Results !</h5>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="prevPatientRequests?.length">
        <tr *ngFor="let request of prevPatientRequests; index as i">
          <td>{{request.requestDate | localDateShort}}</td>
          <td>{{request.requestType=='ray'?('Request X-Ray' | langg):('Request Analysis' | langg)}}</td>
          <td>{{request.requestName}}</td>
          <td>{{request.isHasResult ? ('Registered Result' | langg) :('No Result Recorded' | langg)}}</td>
          <td class="text-center">
            <button nbButton (click)="onOpenDetails(request.id,request.requestType)" type="click"
              [status]="request.isHasResult ? 'info' : 'success'"
              size="small">{{request.isHasResult ? ('Show Result' | langg) : ('Register Result' | langg)}}</button>&nbsp;
            <button nbButton (click)="onDeleteRequest(request.id,request.requestType,i)" size="small" status="danger"
              langg>Delete Request</button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>

<swal #deleteSwal icon="error" showCancelButton="true" focusCancel="true" [title]="'Attention !' | langg"
  [text]="'This data will be deleted forever and all other data related to it, and it will not be retrievable again!' | langg"
  [confirmButtonText]="'Delete' | langg" [cancelButtonText]="'Cancel' | langg" confirmButtonColor="#ff3d71">
</swal>
