<nb-card>
  <nb-card-header>
    <span langg>New Prescriptions</span>:
  </nb-card-header>
  <nb-card-body>
    <table class="table table-striped table-light table-bordered" [nbSpinner]="formLoading" nbSpinnerStatus="success">
      <thead class="thead-dark">
        <tr>
          <th langg>Doctor Name</th>
          <th langg>Patient Name</th>
          <th langg>Patient Career</th>
          <th langg>Patient Phone</th>
          <th langg>Patient Phone 2</th>
          <th langg>City</th>
          <th langg>Sent Date</th>
          <th langg>Sent Time</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="!newPrescList?.length">
        <tr>
          <td colspan="8" class="text-center">
            <h5 langg>No Results !</h5>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="newPrescList?.length">
        <tr *ngFor="let item of newPrescList; index as i">
          <td>{{item.doctorFullName}}</td>
          <td>{{item.patientFullName}}</td>
          <td>{{item.career}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.phone2}}</td>
          <td>{{item.city}}</td>
          <td>{{item.createdOn | localDateShort}}</td>
          <td>{{item.createdOn | time12Hour}}</td>
          <td class="text-center">
            <button nbButton (click)="onOpenPresc(item)" size="small" status="info" shape="round"
              langg>Prescription</button>
          </td>
          <td class="text-center">
            <button nbButton (click)="onDonePresc(item.id,i)" size="small" status="success" langg>Done</button>&nbsp;
            <button nbButton (click)="onDeletePresc(item.id,i)" size="small" status="danger" langg>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>

<swal #doneSwal [title]="'Success' | langg" [text]="'Moved to Prev Prescriptions' | langg" icon="success" timer="3000"
  [showConfirmButton]="false">
</swal>

<swal #deleteSwal icon="error" showCancelButton="true" focusCancel="true" [title]="'Attention !' | langg"
  [text]="'This data will be deleted forever and all other data related to it, and it will not be retrievable again!' | langg"
  [confirmButtonText]="'Delete' | langg" [cancelButtonText]="'Cancel' | langg" confirmButtonColor="#ff3d71">
</swal>
