<nb-card>
  <nb-card-header>
    <div class="text-center">
      <h5 class="font-andalus" langg>Expenses during the month</h5>
    </div>
  </nb-card-header>
  <nb-card-body [nbSpinner]="formLoading" nbSpinnerStatus="success">
    <div  class="row mb-2">
      <div *ngIf="allExpenses?.length" class="col-4">
        <h6 class="d-inline" langg>Month</h6>:&nbsp;
        <div class="d-inline">
          <nb-select #expensesMonth name="expensesMonth" (selectedChange)="onChangeMonth($event)"
            [selected]="allExpenses?.length ? allExpenses[0].month : ''">
            <nb-option *ngFor="let item of allExpenses" [value]="item.month">{{item.month | localMonthLong}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div [class]="(allExpenses?.length ? 'col-8' : 'col-12') + ' d-flex flex-row-reverse'">
        <button nbButton [routerLink]="['/pages/accounting/expense/details','new']" hero>
          <nb-icon icon="plus-outline"></nb-icon><span langg>Add New Expense</span>
        </button>
      </div>
    </div>
    <table class="table table-striped table-light">
      <thead class="thead-dark">
        <tr>
          <th langg>Date</th>
          <th langg>Expense Amount</th>
          <th langg>Expense Item</th>
          <th langg>Expense Type</th>
          <th langg>Note</th>
        </tr>
      </thead>
      <tbody *ngIf="!monthExpenses?.length">
        <tr>
          <td colspan="5" class="text-center">
            <h5 langg>No Results !</h5>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="monthExpenses?.length">
        <tr *ngFor="let item of monthExpenses; index as i">
          <td>{{item.date | localDateShort}}</td>
          <td>{{item.amount| currency:'EGP':'symbol':'1.0'}}</td>
          <td>{{item.item}}</td>
          <td>{{item.type | langg}}</td>
          <td>{{item.note}}</td>
        </tr>
      </tbody>
      <tfoot *ngIf="monthExpenses?.length">
        <tr class="table-dark font-weight-bolder lead">
          <td colspan="1"><span langg>Total Amount:</span></td>
          <td colspan="4">{{totalPaid | currency:'EGP':'symbol':'1.0'}}</td>
        </tr>
      </tfoot>
    </table>
  </nb-card-body>
</nb-card>
