@import "./themes";

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }

  // =====> remove uppercase from nebular buttons and tab titles:
  [nbButton].appearance-filled,
  [nbButton].appearance-hero,
  [nbButton].appearance-outline.status-info,
  [nbButton].appearance-outline.status-warning,
  nb-tabset .tab-link,
  nb-route-tabset span {
    text-transform: none !important;
  }

  // =====> add style to error message if input not valid:
  .error-message {
    color: red;
    margin-bottom: 0;
  }
  .form-control-group {
    margin-bottom: 1rem;
  }

  // =====> less padding for layout in home:
  .columns nb-layout-column {
    padding: 0.5rem 1rem !important;
  }

  // =====> style tow buttons in end of form:
  .nbButton-group button {
    min-width: 5rem;
    margin: 0 0.5rem;
  }

  // =====> remove padding for tabs:
  nb-tab {
    padding: 0 !important;
    overflow: hidden;
  }
  nb-route-tabset ul.route-tabset {
    padding: 0 !important;
  }

  // =====> style tabs titles:
  nb-tabset .tab-link,
  nb-route-tabset .tab-link {
    padding: 1rem 1.5rem !important;
    color: black;
    font-family: "Tajawal" !important;
  }
  nb-route-tabset .route-tab:hover .tab-link {
    background-color: transparent;
    color: #598bff;
  }
  nb-route-tabset .route-tab.active .tab-link {
    background-color: transparent;
    color: #3366ff;
  }

  // =====> reset border radius for first and last buttons in pagination:
  pagination .page-item:first-child .page-link {
    border-radius: unset;
    @include nb-ltr(border-top-left-radius, 0.25rem);
    @include nb-ltr(border-bottom-left-radius, 0.25rem);
    @include nb-rtl(border-top-right-radius, 0.25rem);
    @include nb-rtl(border-bottom-right-radius, 0.25rem);
  }
  pagination .page-item:last-child .page-link {
    border-radius: unset;
    @include nb-ltr(border-top-right-radius, 0.25rem);
    @include nb-ltr(border-bottom-right-radius, 0.25rem);
    @include nb-rtl(border-top-left-radius, 0.25rem);
    @include nb-rtl(border-bottom-left-radius, 0.25rem);
  }

  // =====> style dialogs:
  nb-card.dialog-center {
    min-width: 90vh !important;
    max-height: 90vh !important;
    margin: 0 auto !important;
  }

  // =====> style button (AM-PM) in timePicker:
  timepicker .btn-default {
    background-color: lightgrey !important;
  }

  // =====> change mouse cursor to drag drop table:
  table.table-hover tbody tr {
    cursor: move !important;
  }
  table.table-hover tbody tr.cdk-drag-disabled {
    cursor: default !important;
  }

  // =====> text align in drag drop table:
  .cdk-drag-preview {
    @include nb-ltr(text-align, left);
    @include nb-rtl(text-align, right);
    @include nb-ltr(direction, ltr);
    @include nb-rtl(direction, rtl);
    display: inline-table !important;
  }

  // =====> style drag item on drag drop table:
  .table-danger > th,
  .table-danger > td,
  .table-success > th,
  .table-success > td,
  .table-light > th,
  .table-light > td {
    padding: 0.5rem !important;
    vertical-align: top !important;
    font-family: Open Sans, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.25rem;
  }

  // =====> style checkbox:
  nb-checkbox label.label {
    padding: 0 !important;
  }

  // =====> style label class:
  .label {
    color: black;
    font-family: "Tajawal" !important;
  }

  // =====> remove white spaces in repeate nb-card:
  nb-card nb-card-body nb-card-body {
    padding: 1rem 0 0;
    overflow: hidden;
  }
  nb-card nb-card {
    margin-bottom: 0;
    box-shadow: none;
  }

  // =====> center th in tables:
  .table thead th {
    vertical-align: middle !important;
  }

  // =====> less padding in tables cells:
  .table th,
  .table td {
    padding: 0.25rem;
  }

  // =====> less padding if button tiny:
  [nbButton].appearance-filled.size-tiny,
  [nbButton].appearance-ghost.size-tiny {
    padding: 0.25rem 0.25rem;
  }
  [nbButton]:focus {
    box-shadow: 0 0 0 0.1rem #e4e9f2;
  }

  // =====> text align in autocomplete:
  .dropdown-menu {
    @include nb-ltr(text-align, left);
    @include nb-rtl(text-align, right);
  }

  // =====> good arabic font but with arabic number only:
  .font-naskh {
    @include nb-ltr(font-family, cursive);
    @include nb-rtl(font-family, "ah-naskh-hadith");
  }

  .font-r {
    font-family: "ToyorAljanah";
    font-weight: bold;
  }

  // =====> less width for sidebar:
  nb-sidebar {
    width: 13rem;
  }
  nb-sidebar.expanded {
    width: 13rem;
  }
  nb-sidebar .main-container {
    width: 13rem;
  }
  .menu-sidebar .scrollable {
    padding-top: 1rem !important;
  }

  // =====> add border after block based on direction:
  .border-after {
    @include nb-ltr(border-right, 0.125rem solid #edf1f7);
    @include nb-rtl(border-left, 0.125rem solid #edf1f7);
  }

  // =====> less padding for bootstrap alerts:
  .alert {
    padding: 0.5rem 1rem;
  }

  // =====> change color hyper link if class disabled:
  a.disabled {
    background-color: #edf1f7 !important;
    border-color: #edf1f7 !important;
    color: #c5cee0 !important;
  }

  textarea:disabled{
    color: black !important;
    background-color: #faebd7 !important;
  }
}
