@import './themes';

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }

  // =====> remove uppercase from nebular buttons:
  [nbButton].appearance-filled{
    text-transform: none;
  }

  // =====> add style to error message if input not valid:
  p.error-message{
    color: red;
    margin-bottom: 0;
  }
  .form-control-group{
    margin-bottom: 1rem;
  }
}
