<nb-card>
  <nb-card-header>
    <h5><span langg>Users List</span>:</h5>
  </nb-card-header>
  <nb-card-body>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th langg>الإسم</th>
          <th langg>مستوى الصلاحية</th>
          <th langg>التفعيل</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>دكتور أحمد علي</td>
          <td>طبيب</td>
          <td>
            <nb-toggle [checked]="true"></nb-toggle>
          </td>
        </tr>
        <tr>
          <td>شيماء محمود</td>
          <td>استقبال</td>
          <td>
            <nb-toggle [checked]="true"></nb-toggle>
          </td>
        </tr>
        <tr>
          <td>حسين جلال</td>
          <td>استقبال</td>
          <td>
            <nb-toggle [checked]="false"></nb-toggle>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
