<nb-card>
  <nb-card-header>
    <span langg>Users List</span>:
  </nb-card-header>
  <nb-card-body>
    <table class="table table-striped font-weight-bolder">
      <thead class="thead-dark h6">
        <tr>
          <th langg>Name</th>
          <th langg>Role</th>
          <th langg>Activation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>دكتور محمد</td>
          <td>طبيب</td>
          <td>
            <nb-toggle [checked]="true" disabled status="success"></nb-toggle>
          </td>
        </tr>
        <tr>
          <td>شيماء محمود</td>
          <td>استقبال</td>
          <td>
            <nb-toggle [checked]="true" status="success"></nb-toggle>
          </td>
        </tr>
        <tr>
          <td>حسين جلال</td>
          <td>استقبال</td>
          <td>
            <nb-toggle [checked]="false" status="success"></nb-toggle>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
