<nb-card>
  <nb-card-header>
    <span langg>Users List</span>:
  </nb-card-header>
  <nb-card-body>
    <table class="table table-striped font-weight-bolder" [nbSpinner]="formLoading"
    nbSpinnerStatus="success">
      <thead class="thead-dark h6">
        <tr>
          <th langg>Name</th>
          <th langg>Role</th>
          <th langg>Activation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of usersList">
          <td>{{item.fullName}}</td>
          <td>{{item.roleTitle | langg}}</td>
          <td>
            <nb-toggle [checked]="item.isActive" (checkedChange)="onChangeActive(item.id, $event)" [disabled]="item.roleTitle=='طبيب'" status="success"></nb-toggle>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>
