@model clinic_panel.Models.AspNetUser

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>هل أنت متأكد من حذف المستخدم?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            اسم المستخدم
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            الإسم
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("رجوع", "Index")
        </div>
    }
</div>
