<nb-card>
  <nb-card-header>إضافة مريض جديد:</nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="معلومات المريض">
        <nb-accordion multi>
          <nb-accordion-item expanded>
            <nb-accordion-item-header>
             البيانات الأساسية
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              - الأسم <br>
              – السن<br>
              – النوع<br>
              - الحالة الاجتماعية<br>
              – العنوان (المحافظة – المنطقة)<br>
              - رقم التليفون<br>
              - نوع الخدمة<br>
              – ملاحظات<br>
              – النقابات<br>
              – نسبة الخصم<br>
              - سعر الخدمة<br>
              – محمول من<br>
              - الطبيب المعالج<br>
              – تاريخ الادخال<br>
              – اسم المدخل<br>
            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header>
              الأشعة
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              - نوع الاشعة<br>
              - رفع<br>
              - معاينة<br>
            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header>
              التحاليل
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              - اسم التحليل<br>
              - الدرجة<br>
              - تاريخ الادخال<br>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-tab>
      <nb-tab tabTitle="التاريخ المرضي">
        تفاصيل التاريخ المرضي
      </nb-tab>
     </nb-tabset>
  </nb-card-body>
</nb-card>

