@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">حدث خطأ ما!</h1>
<h4 class="text-danger">الرجاء التأكد من سرعة الإنترنت والمحاولة مرة أخرى أو التواصل مع المطور.</h4>

