/* // =====> to make input in table with fixed width:
table {
  table-layout: fixed !important;
}
[nbInput],
nb-select {
  width: -webkit-fill-available !important;
  width: -moz-available !important;
}

// =====> style input when not editing:
[nbInput]:disabled,
nb-select ::ng-deep button.select-button {
  color: black !important;
  background-color: unset !important;
  border: unset !important;
}

nb-select ::ng-deep nb-icon {
  visibility: hidden !important;
}
nb-select.ng-valid ::ng-deep nb-icon {
  visibility: visible !important;
}
nb-select {
  background-color: white !important;
}
nb-select.ng-valid {
  background-color: #f7f9fc !important;
  border-radius: 0.25rem;
  border-color: #edf1f7;
  border-style: solid;
  border-width: 1px;
}
 */
