    <button [routerLink]="['/pages/patients/details',patientService.patientCodeId,'request']" [queryParams]="{type:'ray'}" nbButton class="mb-1" langg>{{'Request New X-Ray' | langg}}</button>
    <table class="table table-striped" [nbSpinner]="formLoading" nbSpinnerStatus="success">
      <thead class="thead-dark">
        <tr>
          <th>{{'X-Rays' | langg}}</th>
          <th>{{'X-Ray Area' | langg}}</th>
          <th>{{'Request Date' | langg}}</th>
          <th>{{'Result Date' | langg}}</th>
          <th>{{'Disease Severity' | langg}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="!xraysList?.length">
        <tr>
          <td colspan="6" class="text-center">
            <h5>{{'No Results !' | langg}}</h5>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="xraysList?.length">
        <tr *ngFor="let item of xraysList">
          <td>{{item.xrayName}}</td>
          <td>{{item.xrayArea}}</td>
          <td>{{item.requestDate | localDateShort}}</td>
          <td>{{item.resultDate | localDateShort}}</td>
          <td>Grade {{item.resultGrade}}</td>
          <td class="text-center">
            <button nbButton (click)="onOpenXrayDetails(item.id)" type="submit" [status]="item.isHasResult ? 'info' : 'success'" size="small">{{item.isHasResult ? ('Details' | langg) : ('Register Result' | langg)}}</button>
          </td>
        </tr>
      </tbody>
    </table>
