<form #form="ngForm" (ngSubmit)="onSave()" aria-labelledby="title" [nbSpinner]="formLoading" nbSpinnerStatus="success">
  <div class="row">
    <!-- <div class="col-md-6">
      <label for="input-diseasesInQuestions" class="label"><span langg>Associated Diseases Summary</span>:</label>
      <textarea nbInput [ngModel]="diseaseSummary" #diseases name="diseases" id="input-diseasesInQuestions" disabled
        fullWidth rows="1"></textarea>
    </div>
    <div class="col-md-6">
      <label for="input-complaints" class="label"><span langg>Complaints Summary:</span></label>
      <textarea nbInput [ngModel]="complaintSummary" #complaints name="complaints" id="input-complaints" disabled
        fullWidth rows="1"></textarea>
    </div> -->
    <div class="col-md-2 col-sm-6 form-control-group">
      <label for="input-weight" class="label"><span>{{'Weight' | langg}}</span>:</label>
      <input nbInput [(ngModel)]="patientExaminations.weight" type="number" #weight="ngModel" name="weight"
        id="input-weight" fullWidth>
    </div>
    <div class="col-md-2 col-sm-6 form-control-group">
      <label for="input-length" class="label"><span>{{'Length' | langg}}</span>:</label>
      <input nbInput [(ngModel)]="patientExaminations.length" type="number" #length="ngModel" name="length"
        id="input-length" fullWidth>
    </div>
    <div class="col-md-2 col-sm-6 form-control-group">
      <label for="input-mass" class="label"><span>{{'Body Mass' | langg}}</span>:</label>
      <input nbInput [(ngModel)]="patientExaminations.mass" type="number" #mass="ngModel" name="mass" id="input-mass"
        fullWidth>
    </div>
    <div class="col-md-3 col-sm-6 form-control-group">
      <label for="input-pressure" class="label"><span>{{'Blood pressure' | langg}}</span>:</label>
      <nb-select fullWidth [(ngModel)]="patientExaminations.pressureId" #pressure="ngModel" name="pressure"
        id="input-pressure">
        <nb-option *ngFor="let item of pressureValues" [value]="item.id">{{item.pressure}}</nb-option>
      </nb-select>
    </div>
    <div class="col-md-3 col-sm-6 form-control-group">
      <label for="input-temperature" class="label"><span>{{'Temperature' | langg}}</span>:</label>
      <input nbInput [(ngModel)]="patientExaminations.temperature" type="number" #temperature="ngModel"
        name="temperature" id="input-temperature" fullWidth>
    </div>

    <div class="col-12">
      <h6>{{'Clinical Examination:' | langg}}</h6>
      <table class="table mb-1">
        <tbody>
          <tr *ngFor="let item of patientExaminations.examinations; index as i;">
            <td>
              <!-- <nb-select [(ngModel)]="item.typeId" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Examination Type' | langg" size="small" fullWidth>
                <nb-option *ngFor="let typeValue of examinationsTypes" [value]="typeValue.typeId">
                  {{typeValue.typeText}}
                </nb-option>
              </nb-select> -->
              <input nbInput [(ngModel)]="item.typeName" [typeahead]="examinationsTypes" typeaheadOptionField="typeText"
                (typeaheadOnSelect)="onSelectType($event,i)" (typeaheadNoResults)="item.isNameValid = !$event"
                (keyup)="!item.isNameValid || item.typeName==''? isAnyNameInvalid = true : isAnyNameInvalid = false"
                [placeholder]="'Examination Type' | langg" [isAnimated]="true" [typeaheadMinLength]="0"
                [ngModelOptions]="{standalone: true}" class="font-weight-bold"
                [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="15" fullWidth>
              <ng-container *ngIf="!item.isNameValid && item.typeName != ''">
                <label class="error-message" langg>This Name does not exist! Do you add it to the
                  list?</label>&nbsp;
                <button nbButton type="button" (click)="onAddNewTypeToList(item);item.isNameValid=true" status="info"
                  size="small" class="mt-2" langg>Add</button>
              </ng-container>
            </td>
            <td>
              <!-- <nb-select [(ngModel)]="item.areaId" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Examination Area' | langg" size="small" fullWidth>
                <nb-option *ngFor="let areaValue of examinationsAreas" [value]="areaValue.areaId">
                  {{areaValue.areaText}}
                </nb-option>
              </nb-select> -->
              <input nbInput [(ngModel)]="item.areaName" [typeahead]="examinationsAreas" typeaheadOptionField="areaText"
                (typeaheadOnSelect)="onSelectArea($event,i)" (typeaheadNoResults)="item.isNameValid = !$event"
                (keyup)="!item.isNameValid || item.areaName==''? isAnyNameInvalid = true : isAnyNameInvalid = false"
                [placeholder]="'Examination Area' | langg" [isAnimated]="true" [typeaheadMinLength]="0"
                [ngModelOptions]="{standalone: true}" class="font-weight-bold"
                [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="15" fullWidth>
              <ng-container *ngIf="!item.isNameValid && item.areaName != ''">
                <label class="error-message" langg>This Name does not exist! Do you add it to the
                  list?</label>&nbsp;
                <button nbButton type="button" (click)="onAddNewAreaToList(item);item.isNameValid=true" status="info"
                  size="small" class="mt-2" langg>Add</button>
              </ng-container>
            </td>
            <td class="label pt-2">
              <label
                *ngIf="item.typeId"><span>{{'Added Date' | langg}}</span>:&nbsp;<b>{{item.createdOn | localDateShort}}</b>
              </label>
            </td>
            <td>
              <button *ngIf="!item.id" (click)="onRemoveExamination(i)" type="button" nbButton
                [nbTooltip]="'Remove Examination' | langg" size="tiny" status="danger">
                <nb-icon icon="close-square"></nb-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button nbButton size="small" type="button" (click)="onAddExamination()"
        [disabled]="patientExaminations?.examinations?.length && !patientExaminations?.examinations[patientExaminations?.examinations?.length-1]?.typeId"
        class="mb-1">
        <nb-icon icon="plus-outline"></nb-icon><span>{{'Add Examination Type' | langg}}</span>
      </button>
    </div>

    <div class="col-12 text-center nbButton-group">
      <button nbButton type="submit" status="success"
        [disabled]="!form.valid || !patientExaminations?.examinations?.length || (patientExaminations?.examinations?.length && !patientExaminations?.examinations[patientExaminations?.examinations?.length-1]?.typeId)">{{'Save' | langg}}</button>
      <button nbButton type="button" status="danger" (click)="location.back()">{{'Cancel' | langg}}</button>
    </div>
  </div>
</form>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>

<swal #deleteSwal icon="error" showCancelButton="true" focusCancel="true" [title]="'Attention !' | langg"
  [text]="'This data will be deleted forever and all other data related to it, and it will not be retrievable again!' | langg"
  [confirmButtonText]="'Delete' | langg" [cancelButtonText]="'Cancel' | langg" confirmButtonColor="#ff3d71">
</swal>
