<form #form="ngForm" (ngSubmit)="onSave(form)" aria-labelledby="title" [nbSpinner]="formLoading"
  nbSpinnerStatus="success">
  <div class="row">
    <div class="col-md-6">
      <label for="input-diseasesInQuestions" class="label"><span langg>Associated Diseases Summary</span>:</label>
      <textarea nbInput [ngModel]="diseaseSummary" #diseases name="diseases" id="input-diseasesInQuestions" disabled
        fullWidth rows="1"></textarea>
    </div>
    <div class="col-md-6">
      <label for="input-complaints" class="label"><span langg>Complaints Summary:</span></label>
      <textarea nbInput [ngModel]="complaintSummary" #complaints name="complaints" id="input-complaints" disabled
        fullWidth rows="1"></textarea>
    </div>
    <div class="col-md-2 col-sm-6 form-control-group">
      <label for="input-weight" class="label"><span langg>Weight</span>:</label>
      <input nbInput ngModel type="number" #weight="ngModel" name="weight" id="input-weight" fullWidth>
    </div>
    <div class="col-md-2 col-sm-6 form-control-group">
      <label for="input-length" class="label"><span langg>Length</span>:</label>
      <input nbInput ngModel type="number" #length="ngModel" name="length" id="input-length" fullWidth>
    </div>
    <div class="col-md-2 col-sm-6 form-control-group">
      <label for="input-mass" class="label"><span langg>Body Mass</span>:</label>
      <input nbInput ngModel type="text" #mass="ngModel" name="mass" id="input-mass" fullWidth>
    </div>
    <div class="col-md-3 col-sm-6 form-control-group">
      <label for="input-pressure" class="label"><span langg>Blood pressure</span>:</label>
      <nb-select fullWidth ngModel #pressure="ngModel" name="pressure" id="input-pressure">
        <nb-option value="1" langg>Hypotension</nb-option>
        <nb-option value="2" langg>Normal</nb-option>
        <nb-option value="3" langg>Hypertension</nb-option>
      </nb-select>
    </div>
    <div class="col-md-3 col-sm-6 form-control-group">
      <label for="input-temperature" class="label"><span langg>Temperature</span>:</label>
      <input nbInput ngModel type="text" #temperature="ngModel" name="temperature" id="input-temperature" fullWidth>
    </div>

    <div class="col-12">
      <h6 langg>Clinical Examination:</h6>
      <table class="table mb-1">
        <tbody>
          <tr *ngFor="let item of examinations; index as i;">
            <td>
              <input nbInput [(ngModel)]="item.name" [typeahead]="examinationsNames" fullWidth
                (typeaheadNoResults)="item.isNameValid = !$event" [placeholder]="'Examination Type' | langg"
                [isAnimated]="true" fieldSize="small" [typeaheadMinLength]="0" [ngModelOptions]="{standalone: true}"
                [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="15">
              <ng-container *ngIf="!item.isNameValid">
                <label class="error-message" langg>This Name does not exist! Do you add it to the
                  list?</label>&nbsp;
                <button nbButton type="button" (click)="onAddNewItemToList(item.name,'name');item.isNameValid=true"
                  status="info" size="small" class="mt-2" langg>Add</button>
              </ng-container>
            </td>
            <td>
              <input nbInput [(ngModel)]="item.area" [typeahead]="examinationsAreas" fullWidth
                (typeaheadNoResults)="item.isAreaValid = !$event" [placeholder]="'Examination Area' | langg"
                [isAnimated]="true" fieldSize="small" [typeaheadMinLength]="0" [ngModelOptions]="{standalone: true}"
                [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="15">
              <ng-container *ngIf="!item.isAreaValid">
                <label class="error-message" langg>This Name does not exist! Do you add it to the
                  list?</label>&nbsp;
                <button nbButton type="button" (click)="onAddNewItemToList(item.area,'area');item.isAreaValid=true"
                  status="info" size="small" class="mt-2" langg>Add</button>
              </ng-container>
            </td>
            <td class="label pt-2">
              <label *ngIf="item.name"><span langg>Added Date</span>:&nbsp;<b>{{today | localDateShort}}</b>
              </label>
            </td>
            <td>
              <button (click)="onRemoveExamination(i)" type="button" nbButton [hidden]="item== examinations[0]"
                [nbTooltip]="'Remove Examination' | langg" size="tiny" status="danger">
                <nb-icon icon="close-square"></nb-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button nbButton size="small" type="button" (click)="onAddExamination()"
        [disabled]="examinations.length &&(!examinations[examinations?.length-1]?.name||!examinations[examinations?.length-1]?.isNameValid)"
        class="mb-1">
        <nb-icon icon="plus-outline"></nb-icon><span langg>Add Examination Type</span>
      </button>
    </div>

    <div class="col-12 text-center nbButton-group">
      <button nbButton type="submit" status="success"
        [disabled]="(!form.valid || !form.dirty) && !examinations[0]?.name" langg>Save</button>
      <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
    </div>
  </div>
</form>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>

<swal #deleteSwal icon="error" showCancelButton="true" focusCancel="true" [title]="'Attention !' | langg"
  [text]="'This data will be deleted forever and all other data related to it, and it will not be retrievable again!' | langg"
  [confirmButtonText]="'Delete' | langg" [cancelButtonText]="'Cancel' | langg" confirmButtonColor="#ff3d71">
</swal>
