.prices-group input{
margin: 0 1rem;
}

.prices-group label{
  font-size: 0.8125rem;
  font-weight: 600;
}

table td{
  border-top: none;
}

input{
  max-width: 10rem !important;
}

.col-md-6{
  border-bottom: 1px solid lightgray;
}
