<form [formGroup]="form" (ngSubmit)="onSaveSetting()" aria-labelledby="title" [nbSpinner]="formLoading"
  nbSpinnerStatus="success">
  <nb-card>
    <nb-card-header>
      <span langg>Clinic Setting</span>:
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-6 form-control-group">
          <label class="label" for="input-workdays"><span langg>Work Days</span>:</label>
          <nb-select multiple formControlName="workdays" [placeholder]="'Work Days' | langg" id="input-workdays"
            class="d-block">
            <nb-option [value]="6">{{'Saturday' | langg}}</nb-option>
            <nb-option [value]="0">{{'Sunday' | langg}}</nb-option>
            <nb-option [value]="1">{{'Monday' | langg}}</nb-option>
            <nb-option [value]="2">{{'Tuesday' | langg}}</nb-option>
            <nb-option [value]="3">{{'Wednesday' | langg}}</nb-option>
            <nb-option [value]="4">{{'Thursday' | langg}}</nb-option>
            <nb-option [value]="5">{{'Friday' | langg}}</nb-option>
          </nb-select>
          <small class="form-text text-muted" langg>The days when Bookings will be allowed.</small>
          <ng-container *ngIf="form.get('workdays').invalid">
            <p class="error-message text-danger" *ngIf="form.get('workdays').errors.required" langg>
              Work Days is required!
            </p>
          </ng-container>
        </div>
        <div class="col-md-6 form-control-group">
          <label class="label" for="input-sort"><span langg>Entry order</span>:</label>
          <nb-radio-group id="input-sort" formControlName="sortBookings" class="form-inline">
            <nb-radio value="byAttend"><span langg>According to the Attendance</span>&nbsp;</nb-radio>
            <nb-radio value="byTime"><span langg>According to the Booking Time</span>&nbsp;</nb-radio>
            <nb-radio value="manual"><span langg>Manual</span>&nbsp;</nb-radio>
          </nb-radio-group>
        </div>
        <div class="col-md-6 form-control-group">
          <label class="label" for="input-workdays"><span langg>Bookings Hours</span>:</label>
          <div class="row">
            <div class="col-6">
              <span langg>From</span>:
              <timepicker formControlName="bookingTimeFrom" required showMeridian="true" labelMinutes="Minutes"
                minuteStep="30" style="direction: ltr;" ></timepicker>
            </div>
            <div class="col-5">
              <span langg>To</span>:
              <timepicker formControlName="bookingTimeTo" required showMeridian="true" labelMinutes="Minutes"
                minuteStep="30" style="direction: ltr;" >
              </timepicker>
            </div>
          </div>
          <small class="form-text text-muted" langg>Allowed Bookings Hours on Work Days.</small>
          <ng-container *ngIf="form.get('bookingTimeFrom').invalid || form.get('bookingTimeTo').invalid ">
            <p class="error-message text-danger"
              *ngIf="form.get('bookingTimeFrom').errors?.required || form.get('bookingTimeTo').errors?.required" langg>
              Bookings Hours is required!
            </p>
          </ng-container>
        </div>
        <div class="col-md-6 form-control-group">
          <label class="label" for="input-workdays"><span langg>Booking Period</span>:</label>
          <nb-select multiple formControlName="workdays" [placeholder]="'Choose Period' | langg" id="input-workdays"
            class="d-block">
            <nb-option value="6">15 {{'Minutes' | langg}}</nb-option>
            <nb-option value="0">30 {{'Minutes' | langg}}</nb-option>
            <nb-option value="1">{{'An Hour' | langg}}</nb-option>
          </nb-select>
          <ng-container *ngIf="form.get('workdays').invalid">
            <p class="error-message text-danger" *ngIf="form.get('workdays').errors.required" langg>
              Work Days is required!
            </p>
          </ng-container>
        </div>
        <div class="col-md-6 prices-group">
          <label class="label"><span langg>Bookings prices</span>:</label>
          <table class="table">
            <tr [hidden]="!form.value.isDiagnose">
              <td><label><span langg>Diagnose</span>:</label></td>
              <td><input nbInput type="number" formControlName="diagnose" fieldSize="small"
                  [status]="form.get('diagnose').dirty ? (form.get('diagnose').invalid ? 'danger':'success'):''">
                <label langg>EGP</label>
                <ng-container *ngIf="form.get('diagnose').invalid && form.get('diagnose').touched">
                  <p class="error-message text-danger" *ngIf="form.get('diagnose').errors.required" langg>
                    Price is required!
                  </p>
                  <p class="error-message text-danger" *ngIf="form.get('diagnose').errors.min" langg>
                    Price cannot be less than: 0
                  </p>
                </ng-container>
              </td>
            </tr>
            <tr [hidden]="!form.value.isConsult">
              <td><label><span langg>Consult</span>:</label></td>
              <td><input nbInput type="number" formControlName="consult" fieldSize="small"
                  [status]="form.get('consult').dirty ? (form.get('consult').invalid ? 'danger':'success'):''">
                <label langg>EGP</label>
                <ng-container *ngIf="form.get('consult').invalid && form.get('consult').touched">
                  <p class="error-message text-danger" *ngIf="form.get('consult').errors.required" langg>
                    Price is required!
                  </p>
                  <p class="error-message text-danger" *ngIf="form.get('consult').errors.min" langg>
                    Price cannot be less than: 0
                  </p>
                </ng-container>
              </td>
            </tr>
            <tr [hidden]="!form.value.isUrgentDiagnos">
              <td><label><span langg>Urgent Diagnose</span>:</label></td>
              <td><input nbInput type="number" formControlName="urgentDiagnos" fieldSize="small"
                  [status]="form.get('urgentDiagnos').dirty ? (form.get('urgentDiagnos').invalid ? 'danger':'success'):''">
                <label langg>EGP</label>
                <ng-container *ngIf="form.get('urgentDiagnos').invalid && form.get('urgentDiagnos').touched">
                  <p class="error-message text-danger" *ngIf="form.get('urgentDiagnos').errors.required" langg>
                    Price is required!
                  </p>
                  <p class="error-message text-danger" *ngIf="form.get('urgentDiagnos').errors.min" langg>
                    Price cannot be less than: 0
                  </p>
                </ng-container>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-6 prices-group">
          <label class="label"><span langg>Services prices</span>:</label>
          <table class="table">
            <tr [hidden]="!form.value.isXRay">
              <td><label><span langg>X-Ray</span>:</label></td>
              <td><input nbInput type="number" formControlName="xRay" fieldSize="small"
                  [status]="form.get('xRay').dirty ? (form.get('xRay').invalid ? 'danger':'success'):''">
                <label langg>EGP</label>
                <ng-container *ngIf="form.get('xRay').invalid && form.get('xRay').touched">
                  <p class="error-message text-danger" *ngIf="form.get('xRay').errors.required" langg>
                    Price is required!
                  </p>
                  <p class="error-message text-danger" *ngIf="form.get('xRay').errors.min" langg>
                    Price cannot be less than: 0
                  </p>
                </ng-container>
              </td>
            </tr>
            <tr [hidden]="!form.value.isAnalsis">
              <td><label><span langg>Analysis</span>:</label></td>
              <td><input nbInput type="number" formControlName="analsis" fieldSize="small"
                  [status]="form.get('analsis').dirty ? (form.get('analsis').invalid ? 'danger':'success'):''">
                <label langg>EGP</label>
                <ng-container *ngIf="form.get('analsis').invalid && form.get('analsis').touched">
                  <p class="error-message text-danger" *ngIf="form.get('analsis').errors.required" langg>
                    Price is required!
                  </p>
                  <p class="error-message text-danger" *ngIf="form.get('analsis').errors.min" langg>
                    Price cannot be less than: 0
                  </p>
                </ng-container>
              </td>
            </tr>
            <tr [hidden]="!form.value.isSonar">
              <td><label><span langg>Sonar</span>:</label></td>
              <td><input nbInput type="number" formControlName="sonar" fieldSize="small"
                  [status]="form.get('sonar').dirty ? (form.get('sonar').invalid ? 'danger':'success'):''">
                <label langg>EGP</label>
                <ng-container *ngIf="form.get('sonar').invalid && form.get('sonar').touched">
                  <p class="error-message text-danger" *ngIf="form.get('sonar').errors.required" langg>
                    Price is required!
                  </p>
                  <p class="error-message text-danger" *ngIf="form.get('sonar').errors.min" langg>
                    Price cannot be less than: 0
                  </p>
                </ng-container>
              </td>
            </tr>
            <tr [hidden]="!form.value.isLaserSession">
              <td><label><span langg>Laser Session</span>:</label></td>
              <td><input nbInput type="number" formControlName="laserSession" fieldSize="small"
                  [status]="form.get('laserSession').dirty ? (form.get('laserSession').invalid ? 'danger':'success'):''">
                <label langg>EGP</label>
                <ng-container *ngIf="form.get('laserSession').invalid && form.get('laserSession').touched">
                  <p class="error-message text-danger" *ngIf="form.get('laserSession').errors.required" langg>
                    Price is required!
                  </p>
                  <p class="error-message text-danger" *ngIf="form.get('laserSession').errors.min" langg>
                    Price cannot be less than: 0
                  </p>
                </ng-container>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="text-center nbButton-group mt-1">
        <button nbButton type="submit" status="success" [disabled]="!form.valid" langg>Save</button>
        <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
      </div>
    </nb-card-body>
  </nb-card>
</form>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>

<!-- <nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      <span langg>Work Days</span>
    </nb-accordion-item-header>
    <nb-accordion-item-body>

    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item disabled="true">
    <nb-accordion-item-header>
      <span langg>Bookings Types & Services</span>
    </nb-accordion-item-header>
    <nb-accordion-item-body>

    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion> -->
