    <button [routerLink]="['/pages/patients/details',1,'request']" [queryParams]="{type:'analysis'}" nbButton class="mb-1" langg>Request New Analysis</button>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th hidden>Id</th>
          <th langg>Analysis</th>
          <th langg>Request Date</th>
          <th langg>Result Date</th>
          <th langg>Disease Severity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of analysisList">
          <th hidden>{{item.id}}</th>
          <td>{{item.analysisName}}</td>
          <td>{{item.requestDate | localDateShort}}</td>
          <td>{{item.isHasResult ? (item.resultDate | localDateShort) : ('No Result' | langg)}}</td>
          <td>{{item.isHasResult ? 'Grade '+item.resultGrade : ''}}</td>
          <td class="text-center">
            <button nbButton (click)="onOpenDetails(item.id)" type="submit" [status]="item.isHasResult ? 'info' : 'success'" size="small">{{item.isHasResult ? ('Details' | langg) : ('Register Result' | langg)}}</button>
          </td>
        </tr>
      </tbody>
    </table>
