    <button [routerLink]="['/pages/patients/details',patientService.patientCodeId,'request']" [queryParams]="{type:'analysis'}" nbButton class="mb-1">{{'Request New Analysis' | langg}}</button>
    <table class="table table-striped" [nbSpinner]="formLoading" nbSpinnerStatus="success">
      <thead class="thead-dark">
        <tr>
          <th>{{'Analysis' | langg}}</th>
          <th>{{'Request Date' | langg}}</th>
          <th>{{'Result Date' | langg}}</th>
          <th>{{'Disease Severity' | langg}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="!analysisList?.length">
        <tr>
          <td colspan="6" class="text-center">
            <h5>{{'No Results !' | langg}}</h5>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="analysisList?.length">
        <tr *ngFor="let item of analysisList">
          <td>{{item.analysisName}}</td>
          <td>{{item.requestDate | localDateShort}}</td>
          <td>{{item.isHasResult ? (item.resultDate | localDateShort) : ('No Result' | langg)}}</td>
          <td>{{item.isHasResult ? 'Grade '+item.resultGrade : ''}}</td>
          <td class="text-center">
            <button nbButton (click)="onOpenDetails(item.id)" type="submit" [status]="item.isHasResult ? 'info' : 'success'" size="small">{{item.isHasResult ? ('Details' | langg) : ('Register Result' | langg)}}</button>
          </td>
        </tr>
      </tbody>
    </table>
