USE [master]
GO
/****** Object:  Database [SmartClinic_db_First]    Script Date: 13/04/2020 12:01:34 م ******/
CREATE DATABASE [SmartClinic_db_First]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartClinic_db_First', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SmartClinic_db.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SmartClinic_db_First_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SmartClinic_db_log.ldf' , SIZE = 2304KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartClinic_db_First].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartClinic_db_First]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles_1] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [uniqueidentifier] NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookingPayments]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingPayments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[Paid] [decimal](18, 2) NOT NULL,
	[NextPaymentDate] [datetime] NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_BookingPayments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[BookingDateTime] [datetime] NOT NULL,
	[TypeId] [int] NOT NULL,
	[DiscountId] [int] NULL,
	[DaySeqNo] [int] NULL,
	[IsAttend] [bit] NULL,
	[AttendanceTime] [datetime] NULL,
	[IsEnter] [bit] NULL,
	[EntryTime] [datetime] NULL,
	[IsFinish] [bit] NULL,
	[FinishTime] [datetime] NULL,
	[IsCanceled] [bit] NULL,
	[CanceledOn] [datetime] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookingServices]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingServices](
	[BookingId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
 CONSTRAINT [PK_BookingServices] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC,
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClinicBookingTypes]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicBookingTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClinicId] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ClinicBookingTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClinicDiscounts]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicDiscounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClinicId] [uniqueidentifier] NOT NULL,
	[Discount] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[IsPercent] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ClinicDiscounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clinics]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clinics](
	[Id] [uniqueidentifier] NOT NULL,
	[ClinicName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
	[EntryOrderId] [int] NULL,
	[BookingPeriod] [int] NULL,
	[ConsultExpiration] [int] NULL,
	[PrintDoctorName] [nvarchar](max) NULL,
	[PrintDoctorDegree] [nvarchar](max) NULL,
	[PrintClinicName] [nvarchar](max) NULL,
	[PrintLogoUrl] [nvarchar](max) NULL,
	[PrintAddress1] [nvarchar](max) NULL,
	[PrintAddress2] [nvarchar](max) NULL,
	[PrintAddress3] [nvarchar](max) NULL,
	[PrintPhone1] [nvarchar](max) NULL,
	[PrintPhone2] [nvarchar](max) NULL,
	[PrintPhone3] [nvarchar](max) NULL,
	[IsAllDaysOn] [bit] NULL,
	[WorkDays] [nvarchar](max) NULL,
	[IsAllDaysSameTime] [bit] NULL,
	[AllDaysTimeFrom] [datetime] NULL,
	[AllDaysTimeTo] [datetime] NULL,
	[SaturdayTimeFrom] [datetime] NULL,
	[SundayTimeFrom] [datetime] NULL,
	[MondayTimeFrom] [datetime] NULL,
	[TuesdayTimeFrom] [datetime] NULL,
	[WednesdayTimeFrom] [datetime] NULL,
	[ThursdayTimeFrom] [datetime] NULL,
	[FridayTimeFrom] [datetime] NULL,
 CONSTRAINT [PK_Clinics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClinicServices]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicServices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClinicId] [uniqueidentifier] NOT NULL,
	[Service] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ClinicServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClinicUsers]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicUsers](
	[ClinicId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ClinicUsers] PRIMARY KEY CLUSTERED 
(
	[ClinicId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorAnalysisValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorAnalysisValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[AnalysisName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DoctorAnalysisValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorClinics]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorClinics](
	[DoctorId] [uniqueidentifier] NOT NULL,
	[ClinicId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DoctorClinics] PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC,
	[ClinicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorComplaintChoicesValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorComplaintChoicesValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DetailedComplaintId] [int] NOT NULL,
	[Choice] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DoctorComplaintChoicesValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorDetailedComplaintsValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorDetailedComplaintsValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[Complaint] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DoctorDetailedComplaintsValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorDiagnosisValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorDiagnosisValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[Diagnosis] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DoctorDiagnosisValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorExaminationAreasValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorExaminationAreasValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[ExaminationArea] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DoctorExaminationAreasValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorExaminationsValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorExaminationsValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[Examination] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DoctorExaminationsValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorGeneralComplaintsValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorGeneralComplaintsValues](
	[Id] [int] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[Complaint] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DoctorGeneralComplaintsValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorMedicinesValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorMedicinesValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[MedicineId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DoctorMedicinesValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorOperationTypesValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorOperationTypesValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[OperationType] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DoctorOperationTypesValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorRayAreasValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorRayAreasValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[RayArea] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DoctorRayAreas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorRaysValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorRaysValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[RayName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DoctorRaysValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[SpecialtyId] [int] NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
	[PatientRecordSections] [nvarchar](max) NULL,
	[DiseasesQuestions] [nvarchar](max) NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientAnalysis]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientAnalysis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[AnalysisId] [int] NOT NULL,
	[RequestNote] [nvarchar](max) NULL,
	[IsHasResult] [bit] NULL,
	[ResultDate] [datetime] NULL,
	[ResultText] [nvarchar](max) NULL,
	[ResultGradeId] [int] NULL,
	[ResultNote] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PatientAnalysis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientAnalysisFiles]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientAnalysisFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientAnalysisId] [int] NOT NULL,
	[FileTypeId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PatientAnalysisFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientDetailedComplaints]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDetailedComplaints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[ComplaintChoiceId] [int] NOT NULL,
	[Period] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PatientDetailedComplaints_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientDiagnosis]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDiagnosis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[DiagnosisId] [int] NOT NULL,
	[GradeId] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PatientDiagnosis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientDiseases]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDiseases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[DiseaseId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PatientDiseases_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientExaminations]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientExaminations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[ExaminationId] [int] NOT NULL,
	[ExaminationAreaId] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PatientExaminations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientGeneralComplaints]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientGeneralComplaints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[GeneralComplaintId] [int] NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PatientGeneralComplaints_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientOperations]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientOperations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[OperationTypeId] [int] NOT NULL,
	[OperationDate] [datetime] NULL,
	[Place] [nvarchar](max) NULL,
	[Cost] [decimal](18, 2) NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PatientOperations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientPrescriptions]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientPrescriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[MedicineId] [int] NOT NULL,
	[ConcentrationId] [int] NULL,
	[FormId] [int] NULL,
	[DoseId] [int] NULL,
	[TimingId] [int] NULL,
	[PeriodId] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
	[IsPrint] [bit] NULL,
 CONSTRAINT [PK_PatientPrescriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientRayFiles]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientRayFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientRayId] [int] NOT NULL,
	[FileTypeId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PatientRayFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientRays]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientRays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[RayId] [int] NOT NULL,
	[RayAreaId] [int] NULL,
	[RequestNote] [nvarchar](max) NULL,
	[IsHasResult] [bit] NULL,
	[ResultDate] [datetime] NULL,
	[ResultText] [nvarchar](max) NULL,
	[ResultGradeId] [int] NULL,
	[ResultNote] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PatientRays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientReferrals]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientReferrals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[ReferralToDoctorId] [uniqueidentifier] NOT NULL,
	[PatientDiagnosisId] [int] NULL,
	[Note] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
	[IsRead] [bit] NULL,
	[ReadOn] [datetime] NULL,
	[IsApproved] [bit] NULL,
	[ApprovedOn] [datetime] NULL,
	[IsCanceled] [bit] NULL,
	[CanceledOn] [datetime] NULL,
 CONSTRAINT [PK_PatientReferrals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patients]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[ClinicId] [uniqueidentifier] NOT NULL,
	[SeqNo] [int] NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Age] [int] NULL,
	[Gender] [bit] NULL,
	[SocialStatusId] [int] NULL,
	[Career] [nvarchar](max) NULL,
	[GovernorateId] [int] NULL,
	[CityId] [int] NULL,
	[Children] [int] NULL,
	[PrevMarriages] [int] NULL,
	[PrevMarriagesPartner] [int] NULL,
	[TreatmentHistory] [nvarchar](max) NULL,
	[FamilyHistory] [nvarchar](max) NULL,
	[Weight] [decimal](18, 2) NULL,
	[Length] [decimal](18, 2) NULL,
	[BodyMass] [decimal](18, 2) NULL,
	[BloodPressureId] [int] NULL,
	[Temperature] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysAnalysisFileTypesValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysAnalysisFileTypesValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysAnalysisFileTypesValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysBloodPressureValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysBloodPressureValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysBloodPressureValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysCitiesValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysCitiesValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GovId] [int] NOT NULL,
	[Text_ar] [nvarchar](256) NOT NULL,
	[Text_en] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_SysCitiesValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysDiseaseGradesValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysDiseaseGradesValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysDiseaseGradesValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysDiseasesQuestionsValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysDiseasesQuestionsValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysDiseasesQuestionsValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysDoctorsSpecialties]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysDoctorsSpecialties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysDoctorsSpecialties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysEntryOrderValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysEntryOrderValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysEntryOrderValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysGovernoratesValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysGovernoratesValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text_ar] [nvarchar](256) NOT NULL,
	[Text_en] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_SysGovernoratesValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysMedicineConcentrationsValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMedicineConcentrationsValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysMedicineConcentrationsValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysMedicineDosesValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMedicineDosesValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysMedicineDosesValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysMedicineFormsValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMedicineFormsValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysMedicineFormsValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysMedicinePeriodsValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMedicinePeriodsValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysMedicinePeriodsValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysMedicinesValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMedicinesValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysMedicinesValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysMedicineTimingsValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMedicineTimingsValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysMedicineTimingsValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysPatientRecordSectionsValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysPatientRecordSectionsValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysPatientRecordSectionsValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysRayFileTypesValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysRayFileTypesValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysRayFileTypesValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SysSocialStatusValues]    Script Date: 13/04/2020 12:01:34 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysSocialStatusValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SysSocialStatusValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[SysCitiesValues] ON 

INSERT [dbo].[SysCitiesValues] ([Id], [GovId], [Text_ar], [Text_en]) VALUES (1, 1, N'القاهره', N'Cairo')
INSERT [dbo].[SysCitiesValues] ([Id], [GovId], [Text_ar], [Text_en]) VALUES (2, 2, N'الجيزة', N'Giza')
INSERT [dbo].[SysCitiesValues] ([Id], [GovId], [Text_ar], [Text_en]) VALUES (3, 2, N'السادس من أكتوبر', N'Sixth of October')
GO
SET IDENTITY_INSERT [dbo].[SysCitiesValues] OFF
SET IDENTITY_INSERT [dbo].[SysGovernoratesValues] ON 

INSERT [dbo].[SysGovernoratesValues] ([Id], [Text_ar], [Text_en]) VALUES (1, N'القاهرة', N'Cairo')
INSERT [dbo].[SysGovernoratesValues] ([Id], [Text_ar], [Text_en]) VALUES (2, N'الجيزة', N'Giza')
INSERT [dbo].[SysGovernoratesValues] ([Id], [Text_ar], [Text_en]) VALUES (3, N'الأسكندرية', N'Alexandria')
SET IDENTITY_INSERT [dbo].[SysGovernoratesValues] OFF
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 13/04/2020 12:01:34 م ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 13/04/2020 12:01:34 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 13/04/2020 12:01:34 م ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 13/04/2020 12:01:34 م ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 13/04/2020 12:01:34 م ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [EmailIndex]    Script Date: 13/04/2020 12:01:34 م ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 13/04/2020 12:01:34 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BookingPayments]  WITH CHECK ADD  CONSTRAINT [FK_BookingPayments_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
GO
ALTER TABLE [dbo].[BookingPayments] CHECK CONSTRAINT [FK_BookingPayments_Bookings]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_ClinicBookingTypes] FOREIGN KEY([TypeId])
REFERENCES [dbo].[ClinicBookingTypes] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_ClinicBookingTypes]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_ClinicDiscounts] FOREIGN KEY([DiscountId])
REFERENCES [dbo].[ClinicDiscounts] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_ClinicDiscounts]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Patients]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_BookingServices_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_BookingServices_Bookings]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_BookingServices_ClinicServices] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[ClinicServices] ([Id])
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_BookingServices_ClinicServices]
GO
ALTER TABLE [dbo].[ClinicBookingTypes]  WITH CHECK ADD  CONSTRAINT [FK_ClinicBookingTypes_Clinics] FOREIGN KEY([ClinicId])
REFERENCES [dbo].[Clinics] ([Id])
GO
ALTER TABLE [dbo].[ClinicBookingTypes] CHECK CONSTRAINT [FK_ClinicBookingTypes_Clinics]
GO
ALTER TABLE [dbo].[ClinicDiscounts]  WITH CHECK ADD  CONSTRAINT [FK_ClinicDiscounts_Clinics] FOREIGN KEY([ClinicId])
REFERENCES [dbo].[Clinics] ([Id])
GO
ALTER TABLE [dbo].[ClinicDiscounts] CHECK CONSTRAINT [FK_ClinicDiscounts_Clinics]
GO
ALTER TABLE [dbo].[Clinics]  WITH CHECK ADD  CONSTRAINT [FK_Clinics_SysEntryOrderValues] FOREIGN KEY([EntryOrderId])
REFERENCES [dbo].[SysEntryOrderValues] ([Id])
GO
ALTER TABLE [dbo].[Clinics] CHECK CONSTRAINT [FK_Clinics_SysEntryOrderValues]
GO
ALTER TABLE [dbo].[ClinicServices]  WITH CHECK ADD  CONSTRAINT [FK_ClinicServices_Clinics] FOREIGN KEY([ClinicId])
REFERENCES [dbo].[Clinics] ([Id])
GO
ALTER TABLE [dbo].[ClinicServices] CHECK CONSTRAINT [FK_ClinicServices_Clinics]
GO
ALTER TABLE [dbo].[ClinicUsers]  WITH CHECK ADD  CONSTRAINT [FK_ClinicUsers_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ClinicUsers] CHECK CONSTRAINT [FK_ClinicUsers_AspNetUsers]
GO
ALTER TABLE [dbo].[ClinicUsers]  WITH CHECK ADD  CONSTRAINT [FK_ClinicUsers_Clinics] FOREIGN KEY([ClinicId])
REFERENCES [dbo].[Clinics] ([Id])
GO
ALTER TABLE [dbo].[ClinicUsers] CHECK CONSTRAINT [FK_ClinicUsers_Clinics]
GO
ALTER TABLE [dbo].[DoctorAnalysisValues]  WITH CHECK ADD  CONSTRAINT [FK_DoctorAnalysisValues_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[DoctorAnalysisValues] CHECK CONSTRAINT [FK_DoctorAnalysisValues_Doctors]
GO
ALTER TABLE [dbo].[DoctorClinics]  WITH CHECK ADD  CONSTRAINT [FK_DoctorClinics_Clinics] FOREIGN KEY([ClinicId])
REFERENCES [dbo].[Clinics] ([Id])
GO
ALTER TABLE [dbo].[DoctorClinics] CHECK CONSTRAINT [FK_DoctorClinics_Clinics]
GO
ALTER TABLE [dbo].[DoctorClinics]  WITH CHECK ADD  CONSTRAINT [FK_DoctorClinics_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[DoctorClinics] CHECK CONSTRAINT [FK_DoctorClinics_Doctors]
GO
ALTER TABLE [dbo].[DoctorComplaintChoicesValues]  WITH CHECK ADD  CONSTRAINT [FK_DoctorComplaintChoicesValues_DoctorDetailedComplaintsValues] FOREIGN KEY([DetailedComplaintId])
REFERENCES [dbo].[DoctorDetailedComplaintsValues] ([Id])
GO
ALTER TABLE [dbo].[DoctorComplaintChoicesValues] CHECK CONSTRAINT [FK_DoctorComplaintChoicesValues_DoctorDetailedComplaintsValues]
GO
ALTER TABLE [dbo].[DoctorDetailedComplaintsValues]  WITH CHECK ADD  CONSTRAINT [FK_DoctorDetailedComplaintsValues_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[DoctorDetailedComplaintsValues] CHECK CONSTRAINT [FK_DoctorDetailedComplaintsValues_Doctors]
GO
ALTER TABLE [dbo].[DoctorDiagnosisValues]  WITH CHECK ADD  CONSTRAINT [FK_DoctorDiagnosisValues_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[DoctorDiagnosisValues] CHECK CONSTRAINT [FK_DoctorDiagnosisValues_Doctors]
GO
ALTER TABLE [dbo].[DoctorExaminationAreasValues]  WITH CHECK ADD  CONSTRAINT [FK_DoctorExaminationAreasValues_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[DoctorExaminationAreasValues] CHECK CONSTRAINT [FK_DoctorExaminationAreasValues_Doctors]
GO
ALTER TABLE [dbo].[DoctorExaminationsValues]  WITH CHECK ADD  CONSTRAINT [FK_DoctorExaminationsValues_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[DoctorExaminationsValues] CHECK CONSTRAINT [FK_DoctorExaminationsValues_Doctors]
GO
ALTER TABLE [dbo].[DoctorGeneralComplaintsValues]  WITH CHECK ADD  CONSTRAINT [FK_DoctorGeneralComplaintsValues_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[DoctorGeneralComplaintsValues] CHECK CONSTRAINT [FK_DoctorGeneralComplaintsValues_Doctors]
GO
ALTER TABLE [dbo].[DoctorMedicinesValues]  WITH CHECK ADD  CONSTRAINT [FK_DoctorMedicinesValues_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[DoctorMedicinesValues] CHECK CONSTRAINT [FK_DoctorMedicinesValues_Doctors]
GO
ALTER TABLE [dbo].[DoctorMedicinesValues]  WITH CHECK ADD  CONSTRAINT [FK_DoctorMedicinesValues_SysMedicinesValues] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[SysMedicinesValues] ([Id])
GO
ALTER TABLE [dbo].[DoctorMedicinesValues] CHECK CONSTRAINT [FK_DoctorMedicinesValues_SysMedicinesValues]
GO
ALTER TABLE [dbo].[DoctorOperationTypesValues]  WITH CHECK ADD  CONSTRAINT [FK_DoctorOperationTypesValues_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[DoctorOperationTypesValues] CHECK CONSTRAINT [FK_DoctorOperationTypesValues_Doctors]
GO
ALTER TABLE [dbo].[DoctorRayAreasValues]  WITH CHECK ADD  CONSTRAINT [FK_DoctorRayAreas_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[DoctorRayAreasValues] CHECK CONSTRAINT [FK_DoctorRayAreas_Doctors]
GO
ALTER TABLE [dbo].[DoctorRaysValues]  WITH CHECK ADD  CONSTRAINT [FK_DoctorRaysValues_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[DoctorRaysValues] CHECK CONSTRAINT [FK_DoctorRaysValues_Doctors]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_SysDoctorsSpecialties] FOREIGN KEY([SpecialtyId])
REFERENCES [dbo].[SysDoctorsSpecialties] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_SysDoctorsSpecialties]
GO
ALTER TABLE [dbo].[PatientAnalysis]  WITH CHECK ADD  CONSTRAINT [FK_PatientAnalysis_DoctorAnalysisValues] FOREIGN KEY([AnalysisId])
REFERENCES [dbo].[DoctorAnalysisValues] ([Id])
GO
ALTER TABLE [dbo].[PatientAnalysis] CHECK CONSTRAINT [FK_PatientAnalysis_DoctorAnalysisValues]
GO
ALTER TABLE [dbo].[PatientAnalysis]  WITH CHECK ADD  CONSTRAINT [FK_PatientAnalysis_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[PatientAnalysis] CHECK CONSTRAINT [FK_PatientAnalysis_Patients]
GO
ALTER TABLE [dbo].[PatientAnalysis]  WITH CHECK ADD  CONSTRAINT [FK_PatientAnalysis_SysDiseaseGradesValues] FOREIGN KEY([ResultGradeId])
REFERENCES [dbo].[SysDiseaseGradesValues] ([Id])
GO
ALTER TABLE [dbo].[PatientAnalysis] CHECK CONSTRAINT [FK_PatientAnalysis_SysDiseaseGradesValues]
GO
ALTER TABLE [dbo].[PatientAnalysisFiles]  WITH CHECK ADD  CONSTRAINT [FK_PatientAnalysisFiles_PatientAnalysis] FOREIGN KEY([PatientAnalysisId])
REFERENCES [dbo].[PatientAnalysis] ([Id])
GO
ALTER TABLE [dbo].[PatientAnalysisFiles] CHECK CONSTRAINT [FK_PatientAnalysisFiles_PatientAnalysis]
GO
ALTER TABLE [dbo].[PatientAnalysisFiles]  WITH CHECK ADD  CONSTRAINT [FK_PatientAnalysisFiles_SysAnalysisFileTypesValues] FOREIGN KEY([FileTypeId])
REFERENCES [dbo].[SysAnalysisFileTypesValues] ([Id])
GO
ALTER TABLE [dbo].[PatientAnalysisFiles] CHECK CONSTRAINT [FK_PatientAnalysisFiles_SysAnalysisFileTypesValues]
GO
ALTER TABLE [dbo].[PatientDetailedComplaints]  WITH CHECK ADD  CONSTRAINT [FK_PatientDetailedComplaints_DoctorComplaintChoicesValues] FOREIGN KEY([ComplaintChoiceId])
REFERENCES [dbo].[DoctorComplaintChoicesValues] ([Id])
GO
ALTER TABLE [dbo].[PatientDetailedComplaints] CHECK CONSTRAINT [FK_PatientDetailedComplaints_DoctorComplaintChoicesValues]
GO
ALTER TABLE [dbo].[PatientDetailedComplaints]  WITH CHECK ADD  CONSTRAINT [FK_PatientDetailedComplaints_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[PatientDetailedComplaints] CHECK CONSTRAINT [FK_PatientDetailedComplaints_Patients]
GO
ALTER TABLE [dbo].[PatientDiagnosis]  WITH CHECK ADD  CONSTRAINT [FK_PatientDiagnosis_DoctorDiagnosisValues] FOREIGN KEY([DiagnosisId])
REFERENCES [dbo].[DoctorDiagnosisValues] ([Id])
GO
ALTER TABLE [dbo].[PatientDiagnosis] CHECK CONSTRAINT [FK_PatientDiagnosis_DoctorDiagnosisValues]
GO
ALTER TABLE [dbo].[PatientDiagnosis]  WITH CHECK ADD  CONSTRAINT [FK_PatientDiagnosis_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[PatientDiagnosis] CHECK CONSTRAINT [FK_PatientDiagnosis_Patients]
GO
ALTER TABLE [dbo].[PatientDiagnosis]  WITH CHECK ADD  CONSTRAINT [FK_PatientDiagnosis_SysDiseaseGradesValues] FOREIGN KEY([GradeId])
REFERENCES [dbo].[SysDiseaseGradesValues] ([Id])
GO
ALTER TABLE [dbo].[PatientDiagnosis] CHECK CONSTRAINT [FK_PatientDiagnosis_SysDiseaseGradesValues]
GO
ALTER TABLE [dbo].[PatientDiseases]  WITH CHECK ADD  CONSTRAINT [FK_PatientDiseases_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[PatientDiseases] CHECK CONSTRAINT [FK_PatientDiseases_Patients]
GO
ALTER TABLE [dbo].[PatientDiseases]  WITH CHECK ADD  CONSTRAINT [FK_PatientDiseases_SysDiseasesQuestionsValues] FOREIGN KEY([DiseaseId])
REFERENCES [dbo].[SysDiseasesQuestionsValues] ([Id])
GO
ALTER TABLE [dbo].[PatientDiseases] CHECK CONSTRAINT [FK_PatientDiseases_SysDiseasesQuestionsValues]
GO
ALTER TABLE [dbo].[PatientExaminations]  WITH CHECK ADD  CONSTRAINT [FK_PatientExaminations_DoctorExaminationAreasValues] FOREIGN KEY([ExaminationAreaId])
REFERENCES [dbo].[DoctorExaminationAreasValues] ([Id])
GO
ALTER TABLE [dbo].[PatientExaminations] CHECK CONSTRAINT [FK_PatientExaminations_DoctorExaminationAreasValues]
GO
ALTER TABLE [dbo].[PatientExaminations]  WITH CHECK ADD  CONSTRAINT [FK_PatientExaminations_DoctorExaminationsValues] FOREIGN KEY([ExaminationId])
REFERENCES [dbo].[DoctorExaminationsValues] ([Id])
GO
ALTER TABLE [dbo].[PatientExaminations] CHECK CONSTRAINT [FK_PatientExaminations_DoctorExaminationsValues]
GO
ALTER TABLE [dbo].[PatientExaminations]  WITH CHECK ADD  CONSTRAINT [FK_PatientExaminations_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[PatientExaminations] CHECK CONSTRAINT [FK_PatientExaminations_Patients]
GO
ALTER TABLE [dbo].[PatientGeneralComplaints]  WITH CHECK ADD  CONSTRAINT [FK_PatientGeneralComplaints_DoctorGeneralComplaintsValues] FOREIGN KEY([GeneralComplaintId])
REFERENCES [dbo].[DoctorGeneralComplaintsValues] ([Id])
GO
ALTER TABLE [dbo].[PatientGeneralComplaints] CHECK CONSTRAINT [FK_PatientGeneralComplaints_DoctorGeneralComplaintsValues]
GO
ALTER TABLE [dbo].[PatientGeneralComplaints]  WITH CHECK ADD  CONSTRAINT [FK_PatientGeneralComplaints_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[PatientGeneralComplaints] CHECK CONSTRAINT [FK_PatientGeneralComplaints_Patients]
GO
ALTER TABLE [dbo].[PatientOperations]  WITH CHECK ADD  CONSTRAINT [FK_PatientOperations_DoctorOperationTypesValues] FOREIGN KEY([OperationTypeId])
REFERENCES [dbo].[DoctorOperationTypesValues] ([Id])
GO
ALTER TABLE [dbo].[PatientOperations] CHECK CONSTRAINT [FK_PatientOperations_DoctorOperationTypesValues]
GO
ALTER TABLE [dbo].[PatientOperations]  WITH CHECK ADD  CONSTRAINT [FK_PatientOperations_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[PatientOperations] CHECK CONSTRAINT [FK_PatientOperations_Patients]
GO
ALTER TABLE [dbo].[PatientPrescriptions]  WITH CHECK ADD  CONSTRAINT [FK_PatientPrescriptions_DoctorMedicinesValues] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[DoctorMedicinesValues] ([Id])
GO
ALTER TABLE [dbo].[PatientPrescriptions] CHECK CONSTRAINT [FK_PatientPrescriptions_DoctorMedicinesValues]
GO
ALTER TABLE [dbo].[PatientPrescriptions]  WITH CHECK ADD  CONSTRAINT [FK_PatientPrescriptions_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[PatientPrescriptions] CHECK CONSTRAINT [FK_PatientPrescriptions_Patients]
GO
ALTER TABLE [dbo].[PatientPrescriptions]  WITH CHECK ADD  CONSTRAINT [FK_PatientPrescriptions_SysMedicineConcentrationsValues] FOREIGN KEY([ConcentrationId])
REFERENCES [dbo].[SysMedicineConcentrationsValues] ([Id])
GO
ALTER TABLE [dbo].[PatientPrescriptions] CHECK CONSTRAINT [FK_PatientPrescriptions_SysMedicineConcentrationsValues]
GO
ALTER TABLE [dbo].[PatientPrescriptions]  WITH CHECK ADD  CONSTRAINT [FK_PatientPrescriptions_SysMedicineDosesValues] FOREIGN KEY([DoseId])
REFERENCES [dbo].[SysMedicineDosesValues] ([Id])
GO
ALTER TABLE [dbo].[PatientPrescriptions] CHECK CONSTRAINT [FK_PatientPrescriptions_SysMedicineDosesValues]
GO
ALTER TABLE [dbo].[PatientPrescriptions]  WITH CHECK ADD  CONSTRAINT [FK_PatientPrescriptions_SysMedicineFormsValues] FOREIGN KEY([FormId])
REFERENCES [dbo].[SysMedicineFormsValues] ([Id])
GO
ALTER TABLE [dbo].[PatientPrescriptions] CHECK CONSTRAINT [FK_PatientPrescriptions_SysMedicineFormsValues]
GO
ALTER TABLE [dbo].[PatientPrescriptions]  WITH CHECK ADD  CONSTRAINT [FK_PatientPrescriptions_SysMedicinePeriodsValues] FOREIGN KEY([PeriodId])
REFERENCES [dbo].[SysMedicinePeriodsValues] ([Id])
GO
ALTER TABLE [dbo].[PatientPrescriptions] CHECK CONSTRAINT [FK_PatientPrescriptions_SysMedicinePeriodsValues]
GO
ALTER TABLE [dbo].[PatientPrescriptions]  WITH CHECK ADD  CONSTRAINT [FK_PatientPrescriptions_SysMedicineTimingsValues] FOREIGN KEY([TimingId])
REFERENCES [dbo].[SysMedicineTimingsValues] ([Id])
GO
ALTER TABLE [dbo].[PatientPrescriptions] CHECK CONSTRAINT [FK_PatientPrescriptions_SysMedicineTimingsValues]
GO
ALTER TABLE [dbo].[PatientRayFiles]  WITH CHECK ADD  CONSTRAINT [FK_PatientRayFiles_PatientRays] FOREIGN KEY([PatientRayId])
REFERENCES [dbo].[PatientRays] ([Id])
GO
ALTER TABLE [dbo].[PatientRayFiles] CHECK CONSTRAINT [FK_PatientRayFiles_PatientRays]
GO
ALTER TABLE [dbo].[PatientRayFiles]  WITH CHECK ADD  CONSTRAINT [FK_PatientRayFiles_SysRayFileTypesValues] FOREIGN KEY([FileTypeId])
REFERENCES [dbo].[SysRayFileTypesValues] ([Id])
GO
ALTER TABLE [dbo].[PatientRayFiles] CHECK CONSTRAINT [FK_PatientRayFiles_SysRayFileTypesValues]
GO
ALTER TABLE [dbo].[PatientRays]  WITH CHECK ADD  CONSTRAINT [FK_PatientRays_DoctorRayAreas] FOREIGN KEY([RayAreaId])
REFERENCES [dbo].[DoctorRayAreasValues] ([Id])
GO
ALTER TABLE [dbo].[PatientRays] CHECK CONSTRAINT [FK_PatientRays_DoctorRayAreas]
GO
ALTER TABLE [dbo].[PatientRays]  WITH CHECK ADD  CONSTRAINT [FK_PatientRays_DoctorRaysValues] FOREIGN KEY([RayId])
REFERENCES [dbo].[DoctorRaysValues] ([Id])
GO
ALTER TABLE [dbo].[PatientRays] CHECK CONSTRAINT [FK_PatientRays_DoctorRaysValues]
GO
ALTER TABLE [dbo].[PatientRays]  WITH CHECK ADD  CONSTRAINT [FK_PatientRays_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[PatientRays] CHECK CONSTRAINT [FK_PatientRays_Patients]
GO
ALTER TABLE [dbo].[PatientRays]  WITH CHECK ADD  CONSTRAINT [FK_PatientRays_SysDiseaseGradesValues] FOREIGN KEY([ResultGradeId])
REFERENCES [dbo].[SysDiseaseGradesValues] ([Id])
GO
ALTER TABLE [dbo].[PatientRays] CHECK CONSTRAINT [FK_PatientRays_SysDiseaseGradesValues]
GO
ALTER TABLE [dbo].[PatientReferrals]  WITH CHECK ADD  CONSTRAINT [FK_PatientReferrals_Doctors] FOREIGN KEY([ReferralToDoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[PatientReferrals] CHECK CONSTRAINT [FK_PatientReferrals_Doctors]
GO
ALTER TABLE [dbo].[PatientReferrals]  WITH CHECK ADD  CONSTRAINT [FK_PatientReferrals_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[PatientReferrals] CHECK CONSTRAINT [FK_PatientReferrals_Patients]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Clinics] FOREIGN KEY([ClinicId])
REFERENCES [dbo].[Clinics] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Clinics]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Doctors]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_SysBloodPressureValues] FOREIGN KEY([BloodPressureId])
REFERENCES [dbo].[SysBloodPressureValues] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_SysBloodPressureValues]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_SysCitiesValues] FOREIGN KEY([CityId])
REFERENCES [dbo].[SysCitiesValues] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_SysCitiesValues]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_SysGovernoratesValues] FOREIGN KEY([GovernorateId])
REFERENCES [dbo].[SysGovernoratesValues] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_SysGovernoratesValues]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_SysSocialStatusValues] FOREIGN KEY([SocialStatusId])
REFERENCES [dbo].[SysSocialStatusValues] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_SysSocialStatusValues]
GO
ALTER TABLE [dbo].[SysCitiesValues]  WITH CHECK ADD  CONSTRAINT [FK_SysCitiesValues_SysGovernoratesValues] FOREIGN KEY([GovId])
REFERENCES [dbo].[SysGovernoratesValues] ([Id])
GO
ALTER TABLE [dbo].[SysCitiesValues] CHECK CONSTRAINT [FK_SysCitiesValues_SysGovernoratesValues]
GO
USE [master]
GO
