<nb-card class="dialog-center">
  <nb-card-header>
    <span langg>X-Ray Name</span>:&nbsp;{{ xRayDetails }}
    <br>
    <small class="font-weight-bold">
      <span langg>Request Date</span>:&nbsp;<span>1/5/2020</span>&nbsp;|
      <span langg>Result Date</span>:&nbsp;<span>15/5/2020</span>
    </small>
  </nb-card-header>
  <nb-card-body>
    <form #form="ngForm" (ngSubmit)="onSave(form)" aria-labelledby="title" [nbSpinner]="formLoading"
      nbSpinnerStatus="success">
      <div class="row">
        <div class="col-md-6">
          <div class="form-control-group">
            <label for="input-result" class="label"><span langg>Result</span>:</label>
            <textarea nbInput ngModel #result="ngModel" id="input-result" name="result"
              [placeholder]="'Register Result' | langg" fullWidth></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group">
            <label for="input-resultGrade" class="label"><span langg>Disease Severity</span>:</label>
            <nb-select fullWidth ngModel #resultGrade="ngModel" name="resultGrade"
              [placeholder]="'Disease Severity' | langg">
              <nb-option value="0">Grade 0</nb-option>
              <nb-option value="1">Grade 1</nb-option>
              <nb-option value="2">Grade 2</nb-option>
              <nb-option value="3">Grade 3</nb-option>
              <nb-option value="4">Grade 4</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-12 text-center nbButton-group border-bottom pb-1">
          <button nbButton type="submit" status="success" [disabled]="!form.valid || !form.dirty || attachedFile"
            langg>Save</button>
          <button nbButton type="button" status="danger" [disabled]="attachedFile" langg (click)="dialogRef.close()">Cancel</button>
        </div>
      </div>
    </form>
    <div class="row mt-1">
      <div class="col-12">
        <h6><span langg>Attached Files</span>:</h6>
        <button nbButton size="tiny" type="button" (click)="onAddAttach()" [disabled]="attachedFile" class="mb-1">
          <nb-icon icon="plus-outline"></nb-icon><span langg>Add Attachment</span>
        </button>
        <div *ngIf="attachedFile" class="row">
          <div class="col-3">
            <nb-select #fileType="ngModel" name="fileType" [(ngModel)]="attachedFile.type"
              [ngModelOptions]="{standalone: true}" required [placeholder]="'File Type' | langg" size="small"
              [nbTooltip]="fileType.invalid? ('File Type is required!' | langg):('File Type' | langg)"
              [nbTooltipStatus]="fileType.invalid?'danger':'basic'"
              [status]="fileType.touched ? (fileType.invalid  ? 'danger' : 'success') : ''" fullWidth>
              <nb-option value="item" langg>X-Ray Image</nb-option>
              <nb-option value="item" langg>Report File</nb-option>
              <nb-option value="item" langg>Before Treatment</nb-option>
              <nb-option value="item" langg>After Treatment</nb-option>
            </nb-select>
          </div>
          <div class="col-3 form-control-group">
            <input nbInput [(ngModel)]="attachedFile.note" [ngModelOptions]="{standalone: true}"
              [placeholder]="'Note' | langg" [nbTooltip]="'Note' | langg" fullWidth fieldSize="small">
          </div>
          <div class="col-3 form-control-group">
            <input nbInput type="file" #attachment name="attachment" ng2FileSelect [uploader]="uploader"
              [status]="!uploader.queue.length ? 'danger' : 'success'" [nbTooltip]="'Choose File' | langg"
              [nbTooltipStatus]="!uploader.queue.length?'danger':'basic'" fieldSize="small" fullWidth />
          </div>
          <div class="col-3 form-control-group">
            <div class="row">
              <div class="progress col-12">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.queue[0]?.progress + '%' }">
                </div>
              </div>
              <div *ngIf="uploader.options.isHTML5" class="col-6 p-0">
                <span langg>File size:</span> {{ uploader.queue[0]?.file?.size/1024/1024 | number:'.0-2' }} MB
              </div>
              <div class="col-6 p-0">
                <button nbButton type="button"
                  [disabled]="!uploader.queue.length || fileType.invalid || uploader.queue[0]?.isReady || uploader.queue[0]?.isUploading || uploader.queue[0]?.isSuccess"
                  (click)="uploader.queue[0]?.upload()" status="success" size="small">
                  <span langg>Upload</span>
                </button>&nbsp;
                <button nbButton type="button" (click)="uploader.queue[0]?.remove(); attachedFile=null" status="danger"
                  size="small">
                  <span langg>Cancel</span>
                </button>
              </div>
              <!-- <div class="col-12 text-center">
                  <div *ngIf="uploader.queue[0]?.isSuccess" class="alert alert-success" role="alert">
                    <span langg>Upload successful</span>&nbsp;
                    <nb-icon icon="done-all-outline"></nb-icon>
                  </div>
                  <div *ngIf="uploader.queue[0]?.isError" class="alert alert-danger" role="alert">
                    <span langg>Upload failed</span>&nbsp;
                    <nb-icon icon="alert-triangle-outline"></nb-icon>
                  </div>
                </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th langg>Upload Date</th>
              <th langg>File Type</th>
              <th langg>Note</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5/6/2020</td>
              <td langg>X-Ray Image</td>
              <td>Left knee</td>
              <td>
                <a nbButton href="../../../../../../assets/images/team.png" target="_blank" [ngClass]="attachedFile?'disabled':''" status="info" size="small"
                  langg>Preview</a>&nbsp;
                <a nbButton href="../../../../../../assets/images/team.png" download="x-ray_image" [ngClass]="attachedFile?'disabled':''" size="small"
                  langg>Download</a>&nbsp;
                <button nbButton type="button" (click)="deleteSwal.fire()" status="danger" [disabled]="attachedFile" size="small"
                  langg>Delete</button>
              </td>
            </tr>
            <tr>
              <td>12/6/2020</td>
              <td langg>Report File</td>
              <td>Right knee</td>
              <td>
                <a nbButton href="../../../../../../assets/images/team.png" target="_blank" [ngClass]="attachedFile?'disabled':''" status="info" size="small"
                  langg>Preview</a>&nbsp;
                <a nbButton href="../../../../../../assets/images/team.png" download="x-ray_image" [ngClass]="attachedFile?'disabled':''" size="small"
                  langg>Download</a>&nbsp;
                <button nbButton type="button" (click)="deleteSwal.fire()" status="danger" [disabled]="attachedFile" size="small"
                  langg>Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>

<swal #deleteSwal icon="error" showCancelButton="true" focusCancel="true" [title]="'Attention !' | langg"
  [text]="'This data will be deleted forever and all other data related to it, and it will not be retrievable again!' | langg"
  [confirmButtonText]="'Delete' | langg" [cancelButtonText]="'Cancel' | langg" confirmButtonColor="#ff3d71">
</swal>
