<form #form="ngForm" (ngSubmit)="onSubmitPatient()" aria-labelledby="title" [nbSpinner]="formLoading"
  nbSpinnerStatus="success">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-md-3 col-sm-6 form-control-group" [nbSpinner]="nameLoading" nbSpinnerStatus="success">
          <label for="input-name" class="label"><span langg>Patient Name</span>:</label>
          <input nbInput [(ngModel)]="patientNameData" #patientName="ngModel" name="patientName" id="input-name"
            [placeholder]="'Patient Name' | langg" fullWidth required minlength="5" maxlength="50"
            (blur)="onBlurName(patientName)"
            [status]="patientName.touched ? (patientName.invalid  ? 'danger' : 'success') : ''">
          <ng-container *ngIf="patientName.invalid && patientName.touched">
            <p class="error-message" *ngIf="patientName?.errors.required" langg>
              Patient Name is required!
            </p>
            <p class="error-message" *ngIf="patientName?.errors.minlength || patientName?.errors.maxlength" langg>
              Patient Name should contains from 5 to 50 characters!
            </p>
          </ng-container>
        </div>
        <div class="col-md-3 col-sm-6 form-control-group">
          <label for="input-mobile" class="label"><span langg>Mobile</span>:</label>
          <input nbInput [(ngModel)]="patientPhoneData" #patientPhone="ngModel" name="patientPhone"
            id="input-mobile" [placeholder]="'Mobile' | langg" fullWidth pattern="[0-9]*" minlength="10" required
            [status]="patientPhone.touched ? (patientPhone.invalid  ? 'danger' : 'success') : ''">
          <ng-container *ngIf="patientPhone.invalid && patientPhone.touched">
            <p class="error-message" *ngIf="patientPhone?.errors.required" langg>
              Mobile is required!
            </p>
            <p class="error-message" *ngIf="patientPhone?.errors.pattern || patientPhone?.errors.minlength" langg>
              Mobile must be real number!
            </p>
          </ng-container>
        </div>
        <div class="col-md-3 col-sm-6 form-control-group">
          <label for="input-age" class="label"><span langg>Age</span>:</label>
          <input nbInput [(ngModel)]="patientAgeData" #age="ngModel" name="age" id="input-age"
            [placeholder]="'Age' | langg" fullWidth type="number" min="1" max="120">
        </div>
        <div class="col-md-3 col-sm-6 form-control-group form-inline">
          <label for="input-gender" class="label" langg>Gender:</label>
          <nb-radio-group ngModel #gender="ngModel" id="input-gender" name="gender" class="form-inline">
            <nb-radio [value]="1"><span langg>Male</span>&nbsp;&nbsp;</nb-radio>
            <nb-radio [value]="2"><span langg>Female</span>&nbsp;&nbsp;</nb-radio>
          </nb-radio-group>
        </div>
        <div class="col-md-3 col-sm-6 form-control-group">
          <label for="input-status" class="label"><span langg>Social Status</span>:</label>
          <nb-select fullWidth ngModel #socialStatus="ngModel" name="socialStatus" id="input-status"
            [placeholder]="'Social Status' | langg">
            <nb-option value="1" langg>Single</nb-option>
            <nb-option value="2" langg>Married</nb-option>
            <nb-option value="3" langg>Divorced</nb-option>
            <nb-option value="4" langg>Widower</nb-option>
          </nb-select>
        </div>
        <div class="col-md-3 col-sm-6 form-control-group">
          <label for="input-children" class="label"><span langg>Children Number</span>:</label>
          <input nbInput ngModel type="number" #children="ngModel" name="children" id="input-children"
            [placeholder]="'Children Number' | langg" fullWidth>
        </div>
        <div class="col-md-3 col-sm-6 form-control-group">
          <label for="input-prevMarriage" class="label"><span langg>Previous Marriages</span>:</label>
          <input nbInput ngModel type="number" #prevMarriage="ngModel" name="prevMarriage" id="input-prevMarriage"
            [placeholder]="'Previous Marriages' | langg" fullWidth>
        </div>
        <div class="col-md-3 col-sm-6 form-control-group">
          <label for="input-prevMarriagePartner" class="label"><span langg>Previous Marriages for Partner</span>:</label>
          <input nbInput ngModel type="number" #prevMarriagePartner="ngModel" name="prevMarriagePartner" id="input-prevMarriagePartner"
            [placeholder]="'Previous Marriages for Partner' | langg" fullWidth>
        </div>
        <div class="col-md-3 col-sm-6 form-control-group">
          <label for="input-career" class="label"><span langg>Career</span>:</label>
          <input nbInput ngModel #career="ngModel" name="career" id="input-career" [placeholder]="'Career' | langg" fullWidth>
        </div>
        <div class="col-md-6 col-sm-6 form-control-group">
          <label for="input-address" class="label"><span langg>Address</span>:</label>
          <input nbInput ngModel #address="ngModel" name="address" id="input-address" [placeholder]="'Address' | langg" fullWidth>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="text-center nbButton-group">
        <button nbButton type="submit" status="success" [disabled]="!form.valid" langg>Save</button>
        <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>

<swal #duplicateNameSwal icon="warning" showCancelButton="true" focusCancel="true" [title]="'Attention !' | langg"
  [text]="'This Name is already on the patient list!' | langg"
  [confirmButtonText]="'Get previously added patient' | langg"
  [cancelButtonText]="'Change current Patient Name' | langg">
</swal>

<swal #doneSwal icon="success" showCancelButton="true" focusConfirm="true" [title]="'Success' | langg"
  [text]="'Done successfully!' | langg" [confirmButtonText]="'Add New Booking' | langg"
  [cancelButtonText]="'Close' | langg" confirmButtonColor="#00d68f">
</swal>
