<nb-card>
  <nb-card-body>
    <form #form="ngForm" (ngSubmit)="onAddPrescription(form)" aria-labelledby="title" [nbSpinner]="formLoading"
      nbSpinnerStatus="success">
      <h6 langg>Add Prescription:</h6>
      <table class="table mb-1">
        <tbody>
          <tr *ngFor="let item of medicines; index as i;">
            <td>
              <nb-select fullWidth [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Medication Name' | langg" size="small">
                <nb-option value="Antox">Antox</nb-option>
                <nb-option value="Cornivita">Cornivita</nb-option>
                <nb-option value="Plaquanile">Plaquanile</nb-option>
                <nb-option value="Tolmet">Tolmet</nb-option>
                <nb-option value="Multirelax">Multirelax</nb-option>
              </nb-select>
            </td>
            <td>
              <nb-select fullWidth [(ngModel)]="item.concentration" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Concentration' | langg" size="small">
                <nb-option value="1 mg">1 mg</nb-option>
                <nb-option value="2 mg">2 mg</nb-option>
                <nb-option value="10 mg">10 mg</nb-option>
                <nb-option value="35 mg">35 mg</nb-option>
                <nb-option value="60 mg">60 mg</nb-option>
              </nb-select>
            </td>
            <td>
              <nb-select fullWidth [(ngModel)]="item.form" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Form' | langg" size="small">
                <nb-option value="Tab">Tab</nb-option>
                <nb-option value="Caps">Caps</nb-option>
                <nb-option value="Syrap">Syrap</nb-option>
                <nb-option value="Vail">Vail</nb-option>
                <nb-option value="Ampule">Ampule</nb-option>
              </nb-select>
            </td>
            <td>
              <nb-select fullWidth [(ngModel)]="item.dose" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Dose' | langg" size="small">
                <nb-option value="مرة واحدة يومياً">مرة واحدة يومياً</nb-option>
                <nb-option value="مرتان يومياً">مرتان يومياً</nb-option>
                <nb-option value="ثلاث مرات يومياً">ثلاث مرات يومياً</nb-option>
                <nb-option value="مرة أسبوعياً">مرة أسبوعياً</nb-option>
                <nb-option value="يوم ويوم">يوم ويوم</nb-option>
                <nb-option value="عند اللزوم">عند اللزوم</nb-option>
              </nb-select>
            </td>
            <td>
              <nb-select fullWidth [(ngModel)]="item.timing" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Timing' | langg" size="small">
                <nb-option value="قبل الأكل">قبل الأكل</nb-option>
                <nb-option value="بعد الأكل">بعد الأكل</nb-option>
                <nb-option value="أثناء الأكل">أثناء الأكل</nb-option>
                <nb-option value="بعد الإفطار">بعد الإفطار</nb-option>
                <nb-option value="قبل النوم">قبل النوم</nb-option>
              </nb-select>
            </td>
            <td>
              <nb-select fullWidth [(ngModel)]="item.period" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Period' | langg" size="small">
                <nb-option value="لمدة يوم واحد">لمدة يوم واحد</nb-option>
                <nb-option value="لمدة ثلاثة أيام">لمدة ثلاثة أيام</nb-option>
                <nb-option value="لمدة عشرة أيام">لمدة عشرة أيام</nb-option>
                <nb-option value="لمدة أسبوع">لمدة أسبوع</nb-option>
                <nb-option value="لمدة شهر">لمدة شهر</nb-option>
              </nb-select>
            </td>
            <td>
              <button (click)="onRemoveMedicine(i)" nbButton [nbTooltip]="'Add Medicine' | langg" size="tiny"
                status="danger" [hidden]="item== medicines[0]">
                <nb-icon icon="close-square"></nb-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button (click)="onAddMedicine()" nbButton [nbTooltip]="'Add Medicine' | langg" size="small" class="mb-1"
        [disabled]="!medicines[0].name">
        <nb-icon icon="plus"></nb-icon>
      </button>
      <div class="form-control-group">
        <textarea nbInput ngModel #note="ngModel" name="note" [placeholder]="'Other medications or Notes ...' | langg" fullWidth ></textarea>
      </div>
      <div class="text-center nbButton-group mb-1">
        <button nbButton type="submit" status="success" (click)="onSave()" [disabled]="!medicines[0].name" langg>Save</button>
        <button nbButton type="button" status="success" (click)="onSavePrint(form)" [disabled]="!medicines[0].name"
          langg>Save
          &
          Print</button>
        <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <h6 langg>Past Prescriptions:</h6>
    <table class="table table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th langg>Date</th>
          <th langg>Medicines</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="small">
        <tr>
          <td>1/1/2020</td>
          <td>Antox, Cornivita, Multirelax, Plaquanile, Tolmet
            <button nbButton (click)="onOpenMedicinesSummary()" ghost size="tiny" status="warning"
              [nbTooltip]="'Prescription Details' | langg">
              <nb-icon icon="info"></nb-icon>
            </button>
          </td>
          <td class="text-center">
            <button nbButton type="submit" status="basic" size="tiny" (click)="onSavePrint()" langg>Print</button>
          </td>
        </tr>
        <tr>
          <td>5/2/2020</td>
          <td>Antox, Cornivita
            <button nbButton (click)="onOpenMedicinesSummary()" ghost size="tiny" status="warning"
              [nbTooltip]="'Prescription Details' | langg">
              <nb-icon icon="info"></nb-icon>
            </button>
          </td>
          <td class="text-center">
            <button nbButton type="submit" status="basic" size="tiny" (click)="onSavePrint()" langg>Print</button>
          </td>
        </tr>
        <tr>
          <td>3/3/2020</td>
          <td>Plaquanile, Tolmet
            <button nbButton (click)="onOpenMedicinesSummary()" ghost size="tiny" status="warning"
              [nbTooltip]="'Prescription Details' | langg">
              <nb-icon icon="info"></nb-icon>
            </button>
          </td>
          <td class="text-center">
            <button nbButton type="submit" status="basic" size="tiny" (click)="onSavePrint()" langg>Print</button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-footer>
</nb-card>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>
