<nb-card>
  <nb-card-body>
    <form #form="ngForm" aria-labelledby="title" [nbSpinner]="formLoading" nbSpinnerStatus="success">
      <h6 langg>Add Prescription:</h6>
      <table class="table mb-1">
        <tbody>
          <tr *ngFor="let item of medicines; index as i;">
            <td>
              <input nbInput [(ngModel)]="item.name" [placeholder]="'Type Medicine Name ..' | langg"
                [typeahead]="medicinesValues.names" typeaheadOptionField="nameMobile" fullWidth
                (typeaheadNoResults)="item.isNameValid = !$event" [placeholder]="'Medication Name' | langg"
                [isAnimated]="true" fieldSize="small" [typeaheadMinLength]="0" [ngModelOptions]="{standalone: true}"
                [typeaheadScrollable]="true"
                [typeaheadOptionsInScrollableView]="15">
              <ng-container *ngIf="!item.isNameValid">
                <label class="error-message" langg>This Medication Name does not exist! Do you add it to the list?</label>&nbsp;
                <button nbButton type="button" (click)="onAddNewMedicinetoList(item.name);item.isNameValid=true"
                  status="info" size="small" class="mt-2" langg>Add</button>
              </ng-container>
              <!-- <nb-select fullWidth [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Medication Name' | langg" size="small">
                <nb-option *ngFor="let item of medicinesValues.names" value="item">{{item}}</nb-option>
              </nb-select> -->
            </td>
            <td>
              <nb-select fullWidth [(ngModel)]="item.concentration" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Concentration' | langg" size="small">
                <nb-option *ngFor="let item of medicinesValues.concentrations" value="item">{{item}}</nb-option>
              </nb-select>
            </td>
            <td>
              <nb-select fullWidth [(ngModel)]="item.form" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Form' | langg" size="small">
                <nb-option *ngFor="let item of medicinesValues.forms" value="item">{{item}}</nb-option>
              </nb-select>
            </td>
            <td>
              <nb-select fullWidth [(ngModel)]="item.dose" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Dose' | langg" size="small">
                <nb-option *ngFor="let item of medicinesValues.doses" value="item">{{item}}</nb-option>
              </nb-select>
            </td>
            <td>
              <nb-select fullWidth [(ngModel)]="item.timing" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Timing' | langg" size="small">
                <nb-option *ngFor="let item of medicinesValues.timings" value="item">{{item}}</nb-option>
              </nb-select>
            </td>
            <td>
              <nb-select fullWidth [(ngModel)]="item.period" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Period' | langg" size="small">
                <nb-option *ngFor="let item of medicinesValues.periods" value="item">{{item}}</nb-option>
              </nb-select>
            </td>
            <td>
              <button (click)="onRemoveMedicine(i)" nbButton [nbTooltip]="'Remove Medicine' | langg" size="tiny"
                status="danger" [hidden]="item== medicines[0]">
                <nb-icon icon="close-square"></nb-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button (click)="onAddMedicine()" nbButton [nbTooltip]="'Add Medicine' | langg" size="small" class="mb-1"
        [disabled]="!medicines[0].name || !medicines[0].isNameValid">
        <nb-icon icon="plus"></nb-icon>
      </button>
      <div class="form-control-group">
        <textarea nbInput ngModel #note="ngModel" name="note" [placeholder]="'Other Notes ...' | langg"
          fullWidth></textarea>
      </div>

      <!-- <div class="form-control-group">
        <label for="input-newMedicine" class="label"><span langg>Add a new non-existing Medication Name to the list
            above</span>:</label>&nbsp;
        <input nbInput ngModel #newMedicine="ngModel" type="text" [placeholder]="'New Medication Name' | langg"
          fieldSize="small" [ngModelOptions]="{standalone: true}">&nbsp;
        <button nbButton type="button" (click)="onAddNewMedicinetoList(newMedicine)" [disabled]="!newMedicine.value"
          status="info" size="small" langg>Add</button>
      </div> -->

      <div class="text-center nbButton-group mb-1">
        <button nbButton type="submit" status="success" (click)="onSave(form)"
          [disabled]="!medicines[0].name || !medicines[0].isNameValid" langg>Save</button>
        <button nbButton type="submit" status="success" (click)="onSavePrint(form)"
          [disabled]="!medicines[0].name || !medicines[0].isNameValid" langg>Save
          &
          Print</button>
        <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
      </div>
    </form>


    <h6 langg>Past Prescriptions:</h6>
    <table class="table table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th langg>Date</th>
          <th langg>Medicines</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="small">
        <tr>
          <td>1/1/2020</td>
          <td>Antox, Cornivita, Multirelax, Plaquanile, Tolmet
            <button nbButton (click)="onOpenMedicinesSummary()" ghost size="tiny" status="warning"
              [nbTooltip]="'Prescription Details' | langg">
              <nb-icon icon="info"></nb-icon>
            </button>
          </td>
          <td class="text-center">
            <button nbButton type="submit" status="basic" size="tiny" (click)="onSavePrint(form)" langg>Print</button>
          </td>
        </tr>
        <tr>
          <td>5/2/2020</td>
          <td>Antox, Cornivita
            <button nbButton (click)="onOpenMedicinesSummary()" ghost size="tiny" status="warning"
              [nbTooltip]="'Prescription Details' | langg">
              <nb-icon icon="info"></nb-icon>
            </button>
          </td>
          <td class="text-center">
            <button nbButton type="submit" status="basic" size="tiny" (click)="onSavePrint(form)" langg>Print</button>
          </td>
        </tr>
        <tr>
          <td>3/3/2020</td>
          <td>Plaquanile, Tolmet
            <button nbButton (click)="onOpenMedicinesSummary()" ghost size="tiny" status="warning"
              [nbTooltip]="'Prescription Details' | langg">
              <nb-icon icon="info"></nb-icon>
            </button>
          </td>
          <td class="text-center">
            <button nbButton type="submit" status="basic" size="tiny" (click)="onSavePrint(form)" langg>Print</button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>
