<nb-card>
  <nb-card-body>
    <table class="table table-striped table-bordered table-light" [nbSpinner]="formLoading" nbSpinnerStatus="info">
      <thead class="thead-dark">
        <tr>
          <th langg>Day</th>
          <th langg>Total Income</th>
          <th langg>Total Expenses</th>
          <th langg>Total Profits</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dayProfits; let i = index;">
          <td>{{item.day | localDateShort}}</td>
          <td>{{item.totalIncomes | currency:'EGP':'symbol':'1.0'}}</td>
          <td>{{item.totalExpenses | currency:'EGP':'symbol':'1.0'}}</td>
          <td class="table-success font-weight-bolder lead">{{(item.totalIncomes - item.totalExpenses) | currency:'EGP':'symbol':'1.0'}}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
