<form #form="ngForm" (ngSubmit)="onAddBooking(form)" aria-labelledby="title" [nbSpinner]="formLoading"
  nbSpinnerStatus="success">
  <nb-card class="dialog-center">
    <nb-card-header><b langg>New Booking for:</b>{{ patientDetails }}
      <br>
      <small>
        <b langg>Last Visit Type</b>: <span langg>Diagnose</span>&nbsp;|
        <b langg>Last Visit Date</b>: 1/5/2020م
      </small>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-6">
          <div class="form-control-group">
            <label for="input-bookingDoctor" class="label"><span langg>Doctor Name</span>:</label>
            <nb-select fullWidth [(ngModel)]="bookingDoctorData" #bookingDoctor="ngModel" name="bookingDoctor"
              [placeholder]="'Doctor Name' | langg" required [status]="!bookingDoctorData ? 'danger' : 'success'">
              <nb-option value="1">عادل حسن</nb-option>
              <nb-option value="2">علي أبو مضاوي</nb-option>
              <nb-option value="3">محمد زادة</nb-option>
            </nb-select>
          </div>
          <div class="form-control-group" [nbSpinner]="bookingDateLoading" nbSpinnerStatus="success">
            <label for="input-bookingDate" class="label"><span langg>Booking Date</span>:</label>
            <input type="text" bsDatepicker nbInput #bookingDate name="bookingDate" fullWidth required
              [minDate]="todayDate" [bsValue]="bookingDateData" [daysDisabled]="weekendDays"
              [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-dark-blue', showWeekNumbers: false }"
              (bsValueChange)="onChooseBookingDate(bookingDate)" [placeholder]="'Booking Date' | langg"
              [status]="bookingDate.touched ? (bookingDate.invalid  ? 'danger' : 'success') : ''">
            <ng-container *ngIf="bookingDate.invalid && bookingDate.touched">
              <p class="error-message text-danger" *ngIf="bookingDate?.errors.required" langg>
                Bookings Date is required!
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <label for="input-bookingTime" class="label"><span langg>Booking Time</span>:</label>
            <timepicker (ngModelChange)="onChooseBookingTime(bookingTime)" [(ngModel)]="bookingTimeData"
              #bookingTime="ngModel" name="bookingTime" required showMeridian="true" labelMinutes="Minutes"
              minuteStep="15" style="direction: ltr;" [min]="bookingTimeMin" [max]="bookingTimeMax"></timepicker>
            <ng-container *ngIf="bookingTime.invalid">
              <p class="error-message text-danger" *ngIf="bookingTime?.errors.duplicateTime">
                <span langg>This Time</span>&nbsp;05:00&nbsp;<span langg>is already Booked!</span>
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <label for="input-bookingType" class="label"><span langg>Booking Type</span>:</label>
            <nb-select fullWidth [(ngModel)]="bookingTypeData" #bookingType="ngModel" name="bookingType"
              [placeholder]="'Booking Type' | langg" required (ngModelChange)="onChangeType(bookingType)"
              [status]="!bookingTypeData ? 'danger' : 'success'">
              <nb-option value="1" langg>Diagnose</nb-option>
              <nb-option value="2" langg>Consult</nb-option>
              <nb-option value="3" langg>Urgent Diagnose</nb-option>
              <nb-option value="4" langg>Foreign Diagnose</nb-option>
              <nb-option value="5" langg>Just Service</nb-option>
            </nb-select>
          </div>
          <div class="form-control-group">
            <label for="input-bookingService" class="label"><span langg>Add Service</span>:</label>
            <nb-select multiple fullWidth [(selected)]="bookingServiceData" #bookingService name="bookingService" [placeholder]="'Add Service' | langg"
            [status]="bookingTypeData=='5' && !bookingServiceData ? 'danger' : ( bookingServiceData ? 'success':'')">
              <nb-option value="1">{{'X-Ray' | langg}}</nb-option>
              <nb-option value="2">{{'Analysis' | langg}}</nb-option>
              <nb-option value="3">{{'Sonar' | langg}}</nb-option>
              <nb-option value="4">{{'Laser Session' | langg}}</nb-option>
              <nb-option value="5">{{'Therapy Session' | langg}}</nb-option>
            </nb-select>
          </div>
          <nb-alert accent="info" class="text-nowrap">
            <label><span langg>Price</span>:<u>&nbsp;{{50 | currency:'EGP'}}</u></label>
          </nb-alert>
          <div class="form-control-group">
            <label for="input-addPayment" class="label"><span langg>Additional Payment</span>:</label>
            <input nbInput ngModel #addPayment="ngModel" type="number" name="addPayment" [placeholder]="'Additional Payment' | langg"
              fullWidth [min]="0"
              [status]="addPayment.dirty ? (addPayment.invalid  ? 'danger' : (addPayment.value > 0?'success':'')) : ''">
          </div>
          <div class="form-control-group" *ngIf="addPayment.value>0">
            <label for="input-addPaymentNote" class="label"><span langg>Additional Payment Note</span>:</label>
            <input nbInput ngModel #addPaymentNote="ngModel" type="text" [required]="addPayment.value>0"
              name="addPaymentNote" [placeholder]="'Additional Payment Note' | langg" fullWidth
              [status]="addPayment.value > 0 ? (addPaymentNote.invalid  ? 'danger' : 'success') : ''">
            <ng-container *ngIf="addPaymentNote.invalid && addPaymentNote.touched">
              <p class="error-message text-danger" *ngIf="addPaymentNote?.errors.required" langg>
                Additional Payment Note is required!
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <label for="input-discount" class="label"><span langg>Discount</span>:</label>
            <input nbInput ngModel #discount="ngModel" type="number" name="discount" [placeholder]="'Discount' | langg"
              fullWidth [min]="0" [max]="50" (ngModelChange)="onChangeDiscount(discount)"
              [status]="discount.dirty ? (discount.invalid  ? 'danger' : (discount.value > 0?'success':'')) : ''">
            <ng-container *ngIf="discount.invalid">
              <p class="error-message text-danger" *ngIf="discount?.errors.outRange" langg>
                Discount must not exceed the Total Amount!
              </p>
            </ng-container>
          </div>
          <div class="form-control-group" *ngIf="discount.value>0">
            <label for="input-discountNote" class="label"><span langg>Discount Note</span>:</label>
            <input nbInput ngModel #discountNote="ngModel" type="text" [required]="discount.value>0"
              name="discountNote" [placeholder]="'Discount Note' | langg" fullWidth
              [status]="discount.value > 0 ? (discountNote.invalid  ? 'danger' : 'success') : ''">
            <ng-container *ngIf="discountNote.invalid && discountNote.touched">
              <p class="error-message text-danger" *ngIf="discountNote?.errors.required" langg>
                Discount Note is required!
              </p>
            </ng-container>
          </div>
          <nb-alert accent="warning" class="text-nowrap">
            <label><span langg>Total Amount:</span><u>&nbsp;{{50 | currency:'EGP'}}</u></label>
          </nb-alert>
          <div class="form-control-group">
            <label for="input-payment" class="label"><span langg>Amount Paid</span>:</label>
            <input nbInput ngModel #payment="ngModel" type="number" name="payment" [placeholder]="'Amount Paid' | langg"
              fullWidth [min]="0" [max]="50+addPayment.value-discount.value-payment.value" (ngModelChange)="onChangePayment(payment)"
              [status]="payment.dirty ? (payment.invalid  ? 'danger' : (payment.value > 0?'success':'')) : ''">
            <ng-container *ngIf="payment.invalid">
              <p class="error-message text-danger" *ngIf="payment?.errors.outRange" langg>
                Paid must not exceed the Total Amount!
              </p>
            </ng-container>
          </div>
          <nb-alert accent="danger" class="text-nowrap">
            <label><span langg>Amount Due:</span><u>&nbsp;{{ (50+addPayment.value-discount.value-payment.value > 0 ? 50+addPayment.value-discount.value-payment.value  : 0) | currency:'EGP'}}</u></label>
          </nb-alert>
        </div>
        <div class="col-md-6" *ngIf="ChoosenDate!=null">
          <h6 langg>Same Date Bookings:</h6>
          <small>
            <b langg>Urgent Diagnoses</b>: 2&nbsp;|
            <b langg>Diagnoses</b>: 15&nbsp;|
            <b langg>Consults</b>: 5|
          </small>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th langg>Time</th>
                <th langg>Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>05:00</td>
                <td langg>Diagnose</td>
              </tr>
              <tr>
                <td>2</td>
                <td>05:30</td>
                <td langg>Consult</td>
              </tr>
              <tr>
                <td>3</td>
                <td>06:00</td>
                <td langg>Diagnose</td>
              </tr>
              <tr>
                <td>4</td>
                <td>07:00</td>
                <td langg>Diagnose</td>
              </tr>
              <tr>
                <td>5</td>
                <td>07:30</td>
                <td langg>Consult</td>
              </tr>
              <tr>
                <td>6</td>
                <td>08:00</td>
                <td langg>Diagnose</td>
              </tr>
              <tr>
                <td>7</td>
                <td>09:00</td>
                <td langg>Sonar</td>
              </tr>
              <tr>
                <td>8</td>
                <td>09:30</td>
                <td langg>Consult</td>
              </tr>
              <tr>
                <td>9</td>
                <td>10:00</td>
                <td langg>Diagnose</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="text-center nbButton-group">
        <button nbButton type="submit" status="success" [disabled]="!form.valid" langg>Book</button>
        <!-- <button nbButton type="button" status="success" [disabled]="!form.valid" langg>Book & Print Invoice</button> -->
        <button nbButton type="button" status="danger" langg (click)="dialogRef.close()">Cancel</button></div>
    </nb-card-footer>
  </nb-card>
</form>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>

<swal #expiredSwal [title]="'Attention !' | langg" [text]="'Consult is expired.' | langg" icon="warning"
  [confirmButtonText]="'Ok' | langg">
</swal>
