<form [formGroup]="form" (ngSubmit)="onAddBooking()" aria-labelledby="title" [nbSpinner]="formLoading"
  nbSpinnerStatus="success">
  <nb-card class="dialog-center">
    <nb-card-header><b>{{bookId?('Booking Details for:'|langg):('New Booking for:'|langg)}}</b>&nbsp;{{ patientName }}
      <br>
      <small>
        <b langg>Last Visit Type</b>: <span langg>Diagnose</span>&nbsp;|
        <b langg>Last Visit Date</b>: 1/5/2020م
      </small>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-6">
          <!-- <div class="form-control-group">
            <label for="input-bookingDoctor" class="label"><span langg>Doctor Name</span>:</label>
            <nb-select fullWidth [(ngModel)]="bookingDoctorData" #bookingDoctor="ngModel" name="bookingDoctor"
              [placeholder]="'Doctor Name' | langg" required [status]="!bookingDoctorData ? 'danger' : 'success'">
              <nb-option value="1">عادل حسن</nb-option>
              <nb-option value="2">علي أبو مضاوي</nb-option>
              <nb-option value="3">محمد زادة</nb-option>
            </nb-select>
          </div> -->
          <div class="form-control-group">
            <label for="input-bookingDate" class="label"><span langg>Booking Date</span>:</label>
            <input type="text" bsDatepicker nbInput formControlName="date" fullWidth [minDate]="todayDate"
              [daysDisabled]="bookingSetting.weekEnds" autocomplete="off"
              [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-dark-blue', showWeekNumbers: false }"
              (bsValueChange)="onChooseBookingDate($event)" [placeholder]="'Booking Date' | langg"
              [status]="form.get('date').invalid  ? 'danger' : 'success'">
            <ng-container *ngIf="form.get('date').invalid && form.get('date').touched">
              <p class="error-message text-danger" *ngIf="form.get('date')?.errors.required" langg>
                Booking Date is required!
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <label for="input-bookingTime" class="label"><span langg>Booking Time</span>:</label>
            <timepicker (ngModelChange)="onChooseBookingTime($event)" formControlName="time" showMeridian="true"
              labelMinutes="Minutes" [minuteStep]="bookingSetting.bookingPeriod" style="direction: ltr;"
             [min]="bookingSetting.bookingTimeFrom" [max]="bookingSetting.bookingTimeTo"></timepicker>
            <ng-container *ngIf="form.get('time').invalid">
              <p class="error-message text-danger" *ngIf="form.get('time')?.errors.duplicateTime">
                <span langg>This Time</span>&nbsp;{{form.value.time | time12Hour}}&nbsp;<span langg>is already Booked!</span>
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <label for="input-bookingType" class="label"><span langg>Booking Type</span>:</label>
            <nb-select fullWidth formControlName="type" [placeholder]="'Booking Type' | langg"
              (selectedChange)="onChangeType($event)" [status]="form.get('type').invalid ? 'danger' : 'success'">
              <nb-option *ngFor="let item of bookingSetting.bookingTypePrices" [value]="item.id" langg>
                {{item.title | langg}}<span
                  *ngIf="item.type != 'justService'">&nbsp;-&nbsp;{{item.price}}&nbsp;{{'EGP' | langg}}</span>
              </nb-option>
            </nb-select>
          </div>
          <div class="form-control-group">
            <label for="input-bookingService" class="label"><span langg>Add Service</span>:</label>
            <nb-select multiple fullWidth formControlName="services" (selectedChange)="onChangeService($event)"
              [placeholder]="'Add Service' | langg"
              [status]="form.get('services').invalid ? 'danger' : ( form.value.services.length ? 'success':'')">
              <nb-option *ngFor="let item of bookingSetting.bookingServicePrices" [value]="item.id" langg>
                {{item.title | langg}}&nbsp;-&nbsp;{{item.price}}&nbsp;{{'EGP' | langg}}</nb-option>
            </nb-select>
            <ng-container *ngIf="form.get('services').invalid && form.get('services').dirty">
              <p class="error-message text-danger" langg>Service is
                required if Booking Type is Just Service!</p>
            </ng-container>
          </div>
          <nb-alert accent="info" class="text-nowrap">
            <label><span
                langg>Price</span>:<u>&nbsp;{{bookingTypePrice + bookingServicesPrice | currency:'EGP':'symbol':'1.0'}}</u></label>
          </nb-alert>
          <div class="form-control-group">
            <label for="input-discount" class="label"><span langg>Discount</span>:</label>
            <input nbInput type="number" formControlName="discount" [placeholder]="'Discount' | langg" fullWidth
              (ngModelChange)="onChangeDiscount($event)" [min]="0" [max]="bookingTypePrice + bookingServicesPrice"
              [status]="form.get('discount').dirty && (form.get('discount').invalid  ? 'danger' : (form.value.discount?'success':''))">
            <ng-container *ngIf="form.get('discount').invalid">
              <p class="error-message text-danger" *ngIf="form.get('discount')?.errors.max" langg>Discount must not
                exceed the Price!</p>
              <p class="error-message text-danger" *ngIf="form.get('discount')?.errors.min" langg>Can't be less than
                zero!</p>
            </ng-container>
          </div>
          <div class="form-control-group" *ngIf="form.value.discount">
            <label for="input-discountNote" class="label"><span langg>Discount Note</span>:</label>
            <input nbInput type="text" formControlName="discountNote" [placeholder]="'Discount Note' | langg" fullWidth
              [status]="form.get('discountNote').invalid ? (!form.value.discountNote  ? 'danger' : 'success') : ''">
            <ng-container *ngIf="form.get('discountNote').invalid && form.get('discountNote').touched">
              <p class="error-message text-danger" *ngIf="form.get('discountNote')?.errors.required" langg>
                Discount Note is required!
              </p>
            </ng-container>
          </div>
          <nb-alert accent="warning" class="text-nowrap">
            <label><span langg>Total
                Amount:</span><u>&nbsp;{{(bookingTypePrice + bookingServicesPrice - form.value.discount > 0 ? bookingTypePrice + bookingServicesPrice-form.value.discount : 0) | currency:'EGP':'symbol':'1.0'}}</u></label>
          </nb-alert>
          <div class="form-control-group">
            <label for="input-payment" class="label"><span langg>Amount Paid</span>:</label>
            <input nbInput type="number" formControlName="paid" [placeholder]="'Amount Paid' | langg" fullWidth
              [min]="0" [max]="bookingTypePrice + bookingServicesPrice-form.value.discount"
              [status]="form.get('paid').dirty && form.get('paid').invalid ? 'danger' : (form.value.paid ? 'success' : '')">
            <ng-container *ngIf="form.get('paid').invalid">
              <p class="error-message text-danger" *ngIf="form.get('paid')?.errors.max" langg>
                Paid must not exceed the Total Amount!
              </p>
              <p class="error-message text-danger" *ngIf="form.get('paid')?.errors.min" langg>Can't be less than
                zero!</p>
            </ng-container>
          </div>
          <nb-alert accent="danger" class="text-nowrap">
            <label><span langg>Amount
                Due</span>:<u>&nbsp;{{ (bookingTypePrice + bookingServicesPrice - form.value.discount - form.value.paid > 0 ? bookingTypePrice + bookingServicesPrice - form.value.discount - form.value.paid  : 0) | currency:'EGP':'symbol':'1.0'}}</u></label>
          </nb-alert>
        </div>
        <div class="col-md-6" *ngIf="form.value.date">
          <h6 langg>Same Date Bookings:</h6>
          <small>
            <b langg>Urgent Diagnoses</b>: 2&nbsp;|
            <b langg>Diagnoses</b>: 15&nbsp;|
            <b langg>Consults</b>: 5|
          </small>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th langg>Time</th>
                <th langg>Type</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let booking of bookingsBriefList" [class]="bookId==booking.bookId?'table-danger':''" > -->
              <tr *ngFor="let booking of bookingsBriefList" [class]="bookId && booking.bookId==111?'table-danger':''" >
                <td>{{booking.seq}}</td>
                <td>{{booking.time | time12Hour}}</td>
                <td>{{booking.typeTitle | langg}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="text-center nbButton-group">
        <button nbButton type="submit" status="success"
          [disabled]="!form.valid || form.value.paid > (bookingTypePrice + bookingServicesPrice - form.value.discount)">
          {{bookId?('Save'|langg):('Book'|langg)}}</button>
        <!-- <button nbButton type="button" (click)="onAddBookingPrint()" status="success" [disabled]="!form.valid" langg>Book & Print Invoice</button> -->
        <button nbButton type="button" status="danger" langg (click)="dialogRef.close()">Cancel</button></div>
    </nb-card-footer>
  </nb-card>
</form>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>

<swal #expiredSwal [title]="'Attention !' | langg" [text]="'Consult is expired.' | langg" icon="warning"
  [confirmButtonText]="'Ok' | langg">
</swal>
