<form [formGroup]="form" (ngSubmit)="onAddBooking()" aria-labelledby="title" [nbSpinner]="formLoading"
  nbSpinnerStatus="success">
  <nb-card class="dialog-center">
    <nb-card-header>
      <b>{{bookId?('Booking Details for:'|langg):('New Booking for:'|langg)}}</b>&nbsp;{{ bookingSetting?.patientName }}
      <br>
      <small *ngIf="bookingSetting?.patientLastBookingType">
        <b langg>Last Visit Type</b>: {{bookingSetting?.patientLastBookingType}}&nbsp;|
        <b langg>Last Visit Date</b>: {{bookingSetting?.patientLastBookingDate | localDateShort}}
      </small>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div [class]="bookingSetting?.doctorAllBookingSameDay.length || prevBookingsDues?.length?'col-md-6':'col-md-12'">
          <!-- <div class="form-control-group">
            <label for="input-bookingDoctor" class="label"><span langg>Doctor Name</span>:</label>
            <nb-select fullWidth [(ngModel)]="bookingDoctorData" #bookingDoctor="ngModel" name="bookingDoctor"
              [placeholder]="'Doctor Name' | langg" required [status]="!bookingDoctorData ? 'danger' : 'success'">
              <nb-option value="1">عادل حسن</nb-option>
              <nb-option value="2">علي أبو مضاوي</nb-option>
              <nb-option value="3">محمد زادة</nb-option>
            </nb-select>
          </div> -->
          <div class="form-control-group">
            <label for="input-bookingDate" class="label"><span langg>Booking Date</span>:</label>
            <input type="text" bsDatepicker nbInput formControlName="date" fullWidth
            [minDate]="todayDate"
              [daysDisabled]="bookingSetting?.clinicWeekEnds" autocomplete="off" readonly
              [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-dark-blue', showWeekNumbers: false }"
              (bsValueChange)="onChangeBookingDate($event)" [placeholder]="'Booking Date' | langg"
              [status]="form?.get('date').invalid  ? 'danger' : 'success'">
            <ng-container *ngIf="form?.get('date').invalid && form?.get('date').touched">
              <p class="error-message text-danger" *ngIf="form?.get('date')?.errors.required" langg>
                Booking Date is required!
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <label for="input-bookingTime" class="label"><span langg>Booking Time</span>:</label>
            <timepicker (ngModelChange)="onChangeBookingTime($event)" formControlName="time" showMeridian="true"
              labelMinutes="Minutes" [minuteStep]="bookingSetting?.clinicBookingPeriod" style="direction: ltr;"
              [min]="bookingSetting?.clinicDayTimeFrom" [max]="bookingSetting?.clinicDayTimeTo"></timepicker>
            <ng-container *ngIf="form?.get('time').invalid">
              <p class="error-message text-danger" *ngIf="form?.get('time')?.errors.duplicateTime">
                <span langg>This Time</span>&nbsp;{{form?.value.time | time12Hour}}&nbsp;<span langg>is already
                  Booked!</span>
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <label for="input-bookingType" class="label"><span langg>Booking Type</span>:</label>
            <nb-select fullWidth formControlName="type" [placeholder]="'Booking Type' | langg"
              (selectedChange)="onChangeType($event)" [status]="form?.get('type').invalid ? 'danger' : 'success'">
              <nb-option *ngFor="let item of bookingSetting?.clinicBookingTypes" [value]="item.id">
                {{item.type}}<span
                  *ngIf="item.type != 'خدمة فقط'">&nbsp;-&nbsp;{{item.price}}&nbsp;{{'EGP' | langg}}</span>
              </nb-option>
            </nb-select>
          </div>
          <div class="form-control-group" *ngIf="bookingSetting?.clinicBookingServices?.length">
            <label for="input-bookingService" class="label"><span langg>Add Service</span>:</label>
            <nb-select multiple fullWidth formControlName="services" (selectedChange)="onChangeService($event)"
              [placeholder]="'Add Service' | langg"
              [status]="form?.get('services').invalid ? 'danger' : ( form?.value.services?.length ? 'success':'')">
              <nb-option *ngFor="let item of bookingSetting?.clinicBookingServices" [value]="item.id">
                {{item.service | langg}}&nbsp;-&nbsp;{{item.price}}&nbsp;{{'EGP' | langg}}</nb-option>
            </nb-select>
            <ng-container *ngIf="form?.get('services').invalid && form?.get('services').dirty">
              <p class="error-message text-danger" langg>Service is
                required if Booking Type is Just Service!</p>
            </ng-container>
          </div>
          <nb-alert accent="info" class="text-nowrap" *ngIf="bookingSetting?.clinicBookingDiscounts?.length">
            <label><span langg>Price</span>:<u>&nbsp;{{bookingTypePrice + bookingServicesPrice | number:'0.0-0' }}
                {{'EGP' | langg}}</u></label>
          </nb-alert>
          <div class="form-control-group" *ngIf="bookingSetting?.clinicBookingDiscounts?.length">
            <label for="input-discount" class="label"><span langg>Discount</span>:</label>
            <nb-select fullWidth formControlName="discount" [placeholder]="'Discount' | langg"
              (selectedChange)="onChangeDiscount($event)" [status]="form?.value.discount ? 'success' : ''">
              <nb-option *ngFor="let item of bookingSetting?.clinicBookingDiscounts" [value]="item.id">
                {{item.discount | langg}}<span>&nbsp;-&nbsp;{{item.price}}&nbsp;{{ item.isPercent ? '%' : ('EGP' | langg)}}</span>
              </nb-option>
            </nb-select>
          </div>
          <nb-alert accent="warning" class="text-nowrap">
            <label><span langg>Total
                Amount:</span><u>&nbsp;{{(bookingTypePrice + bookingServicesPrice - bookingDiscountPrice > 0 ? bookingTypePrice + bookingServicesPrice - bookingDiscountPrice : 0) | number:'0.0-0' }}
                {{'EGP' | langg}}</u></label>
          </nb-alert>
          <nb-alert *ngIf="bookingDetails?.bookingPayments > 0" accent="success" class="text-nowrap">
            <label><span langg>Previous Payments:</span><u>&nbsp;{{bookingDetails.bookingPayments | number:'0.0-0' }}
                {{'EGP' | langg}}</u></label>
          </nb-alert>
          <div *ngIf="bookingDetails?.bookingPayments < (bookingTypePrice + bookingServicesPrice - bookingDiscountPrice) && (bookingTypePrice + bookingServicesPrice - bookingDiscountPrice) > 0" class="form-control-group">
            <label for="input-payment" class="label"><span langg>Current Payment</span>:</label>
            <input nbInput type="number" formControlName="paid" [placeholder]="'Current Payment' | langg" fullWidth
              [min]="0" [max]="bookingTypePrice + bookingServicesPrice - bookingDiscountPrice"
              [status]="form?.get('paid').dirty && (form?.get('paid').invalid|| form?.value.paid > (bookingTypePrice + bookingServicesPrice - bookingDiscountPrice)) ? 'danger' : (form?.value.paid ? 'success' : '')">
            <ng-container
              *ngIf="form?.get('paid').invalid|| form?.value.paid > (bookingTypePrice + bookingServicesPrice - bookingDiscountPrice)">
              <p class="error-message text-danger" *ngIf="form?.get('paid')?.errors?.required" langg>
                Paid is required!
              </p>
              <p class="error-message text-danger"
                *ngIf="form?.value.paid > (bookingTypePrice + bookingServicesPrice - bookingDiscountPrice)" langg>
                Paid must not exceed the Total Amount!
              </p>
              <p class="error-message text-danger" *ngIf="form?.get('paid')?.errors?.min" langg>Can't be less than
                zero!</p>
            </ng-container>
          </div>
          <nb-alert *ngIf="!bookingDetails?.isCanceled" accent="danger" class="text-nowrap">
            <label><span langg>Amount
                Due</span>:<u>&nbsp;{{ (bookingTypePrice + bookingServicesPrice - bookingDiscountPrice - bookingDetails?.bookingPayments - form?.value.paid > 0 ? bookingTypePrice + bookingServicesPrice - bookingDiscountPrice -bookingDetails?.bookingPayments - form?.value.paid  : 0) | number:'0.0-0' }}
                {{'EGP' | langg}}</u></label>
          </nb-alert>
        </div>
        <div class="col-md-6">
          <div *ngIf="bookingSetting?.doctorAllBookingSameDay.length">
            <h6 langg>Same Date Bookings:</h6>
            <!-- <small>
            <b langg>Urgent Diagnoses</b>: 2&nbsp;|
            <b langg>Diagnoses</b>: 15&nbsp;|
            <b langg>Consults</b>: 5|
          </small> -->
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th langg>Time</th>
                  <th langg>Name</th>
                  <th langg>Type</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let booking of bookingsBriefList" [class]="bookId==booking.bookId?'table-danger':''" > -->
                <tr *ngFor="let booking of bookingSetting?.doctorAllBookingSameDay; index as i"
                  [class]="bookId == booking.bookId || booking.patientId==patientId?'table-danger':''">
                  <td>{{i + 1}}</td>
                  <td>{{booking.time | time12Hour}}</td>
                  <td>{{booking.patientName}}</td>
                  <td>{{booking.type}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="prevBookingsDues?.length">
            <hr>
            <h6 langg>Other Amounts Due from Patient:</h6>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th langg>Date</th>
                  <th langg>Type</th>
                  <th langg>Due</th>
                  <th class="text-center" langg>Paid</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let booking of prevBookingsDues"
                  [class]="booking.bookingDue > booking.bookingPaid || booking.bookingPaid < 0 || booking.bookingPaid > booking.bookingDue ?'table-danger':'table-success'">
                  <td>{{booking.bookingDate | localDateShort}}</td>
                  <td>{{booking.bookingType}}</td>
                  <td>{{booking.bookingDue+('EGP'|langg)}}</td>
                  <td>
                    <input nbInput type="number" [(ngModel)]="booking.bookingPaid" [ngModelOptions]="{standalone: true}"
                      [min]="0" [max]="booking.bookingDue" [placeholder]="'Paid' | langg" fieldSize="small"
                      (keyup)="booking.bookingPaid == null || booking.bookingPaid < 0 || booking.bookingPaid > booking.bookingDue ? isAnyPrevDueInvalid = true : isAnyPrevDueInvalid = false"
                      [status]="booking.bookingPaid == null ||booking.bookingPaid < 0 || booking.bookingPaid > booking.bookingDue ? 'danger' : booking.bookingDue == booking.bookingPaid ? 'success' : ''"
                      fullWidth>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="text-center nbButton-group">
        <button nbButton type="submit" status="success"
          [disabled]="!form.valid || form?.value.paid > (bookingTypePrice + bookingServicesPrice - bookingDiscountPrice) || isHasBookingSameDay || isAnyPrevDueInvalid">
          {{bookId?('Save'|langg):('Book'|langg)}}</button>
        <!-- <button nbButton type="button" (click)="onAddBookingPrint()" status="success" [disabled]="!form.valid" langg>Book & Print Invoice</button> -->
        <button nbButton type="button" status="danger" langg (click)="dialogRef.close()">Cancel</button></div>
    </nb-card-footer>
  </nb-card>
</form>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>

<swal #expiredSwal [title]="'Attention !' | langg" [text]="'Consult is expired.' | langg" icon="warning"
  [confirmButtonText]="'Ok' | langg">
</swal>

<swal #existSwal [title]="'Attention !' | langg" [text]="'This Patient has a Booking on the same day.' | langg"
  icon="warning" [confirmButtonText]="'Ok' | langg">
</swal>
