<nb-card>
  <nb-card-body [nbSpinner]="formLoading" nbSpinnerStatus="success">
    <button nbButton type="button" (click)="onBook(0)" hero status="success" size="small" class="mb-2">
      <nb-icon icon="file-add-outline"></nb-icon><span langg>New Book</span>
    </button>
    <table class="table table-striped table-bordered table-light">
      <thead class="thead-dark">
        <tr>
          <th langg>Visit Date</th>
          <th langg>Booking Type</th>
          <th langg>Services</th>
          <th langg>Booking Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="!visitsList?.length">
        <tr>
          <td colspan="6" class="text-center">
            <h5 langg>No Results !</h5>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="visitsList?.length">
        <tr *ngFor="let visit of visitsList; let i = index;">
          <td>{{visit.date | localDateShort}}</td>
          <td>{{visit.type}}</td>
          <td><span *ngFor="let service of visit.servcies; index as i">{{service}}<b
                *ngIf="i < visit.servcies.length-1">&nbsp;-&nbsp;</b></span></td>
          <td *ngIf="visit.isCanceled" langg>Canceled</td>
          <td *ngIf="visit.isEnter && !visit.isCanceled" langg>Done</td>
          <td *ngIf="!visit.isEnter && !visit.isCanceled" langg>Not Done</td>
          <td class="text-center">
            <button (click)="onBook(visit.bookId)" nbButton size="small" status="info">
              <nb-icon icon="external-link-outline"></nb-icon><span langg>Details</span>
            </button>&nbsp;
            <button *ngIf="!visit.isEnter && !visit.isCanceled" (click)="onDeleteBooking(visit.bookId)" nbButton
              size="small" status="danger">
              <nb-icon icon="slash-outline"></nb-icon><span langg>Cancel Booking</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>

<swal #cancelSwal icon="warning" showCancelButton="true" focusCancel="true" [title]="'Attention !' | langg"
  [text]="'Are you sure to cancel the Booking?' | langg"
  [confirmButtonText]="'Cancel Booking' | langg" [cancelButtonText]="'No' | langg" confirmButtonColor="#ff3d71">
</swal>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>
