<div [nbSpinner]="formLoading" nbSpinnerStatus="success" [class]="formLoading? 'p-5':''">
  <nb-accordion #acc>
    <nb-accordion-item *ngFor="let item of recordItems" [expanded]="item.isExpanded"
      (collapsedChange)="item.isExpanded = !$event">
      <nb-accordion-item-header *ngIf="item.textEN=='Patient Complaint' && item.isActive"><span langg>General
          Complaints Types</span>:</nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='Patient Complaint' && item.isActive">
        <complaint-setting *ngIf="item.isExpanded"></complaint-setting>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.textEN=='Examination' && item.isActive"><span langg>Examinations Types</span>:
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='Examination' && item.isActive">
        <examination-setting *ngIf="item.isExpanded"></examination-setting>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.textEN=='Examination Areas' && item.isActive"><span langg>Examination Areas</span>:
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='Examination Areas' && item.isActive">
        <examination-area-setting *ngIf="item.isExpanded"></examination-area-setting>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.textEN=='Diagnosis' && item.isActive"><span langg>Diagnosis Types</span>:
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='Diagnosis' && item.isActive">
        <diagnosis-setting *ngIf="item.isExpanded"></diagnosis-setting>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.textEN=='X-Rays' && item.isActive"><span langg>Rays Types</span>:
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='X-Rays' && item.isActive">
        <rays-setting *ngIf="item.isExpanded"></rays-setting>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.textEN=='Ray Areas' && item.isActive"><span langg>Ray Areas</span>:
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='Ray Areas' && item.isActive">
        <ray-area-setting *ngIf="item.isExpanded"></ray-area-setting>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.textEN=='Analyses' && item.isActive"><span langg>Analyses Types</span>:
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='Analyses' && item.isActive">
        <analysis-setting *ngIf="item.isExpanded"></analysis-setting>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.textEN=='Operations' && item.isActive"><span langg>Operations Types</span>:
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='Operations' && item.isActive">
        <operation-setting *ngIf="item.isExpanded"></operation-setting>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>
