<form #form="ngForm" (ngSubmit)="onSubmitPatient()" aria-labelledby="title" [nbSpinner]="formLoading"
  nbSpinnerStatus="success">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-md-6">
          <div class="form-control-group" [nbSpinner]="nameLoading" nbSpinnerStatus="success">
            <input nbInput [(ngModel)]="patientNameData" #patientName="ngModel" name="patientName"
              [placeholder]="'Patient Name' | langg" autofocus fullWidth required minlength="5" maxlength="50"
              (blur)="onBlurName(patientName)"
              [status]="patientName.touched ? (patientName.invalid  ? 'danger' : 'success') : ''">
            <ng-container *ngIf="patientName.invalid && patientName.touched">
              <p class="error-message" *ngIf="patientName?.errors.required" langg>
                Patient Name is required!
              </p>
              <p class="error-message" *ngIf="patientName?.errors.minlength || patientName?.errors.maxlength" langg>
                Patient Name should contains from 5 to 50 characters!
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <input nbInput [(ngModel)]="patientPhoneData" #patientPhone="ngModel" name="patientPhone"
              [placeholder]="'Mobile' | langg" fullWidth pattern="[0-9]*"
              minlength="10" required
              [status]="patientPhone.touched ? (patientPhone.invalid  ? 'danger' : 'success') : ''">
            <ng-container *ngIf="patientPhone.invalid && patientPhone.touched">
              <p class="error-message" *ngIf="patientPhone?.errors.required" langg>
                Mobile is required!
              </p>
              <p class="error-message" *ngIf="patientPhone?.errors.pattern || patientPhone?.errors.minlength" langg>
                Mobile must be real number!
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <input nbInput [(ngModel)]="patientAgeData" #age="ngModel" name="age" [placeholder]="'Age' | langg"
              fullWidth type="number" min="1" max="120">
          </div>
          <div class="form-control-group form-inline mx-1">
            <label class="label" for="input-gender" langg>Gender:</label>
            <nb-radio-group ngModel #gender="ngModel" id="input-gender" name="gender" class="form-inline">
              <nb-radio [value]="1"><span langg>Male</span>&nbsp;&nbsp;</nb-radio>
              <nb-radio [value]="2"><span langg>Female</span>&nbsp;&nbsp;</nb-radio>
            </nb-radio-group>
          </div>
          <div class="form-control-group">
            <nb-select fullWidth ngModel #socialStatus="ngModel" name="socialStatus"
              [placeholder]="'Social Status' | langg">
              <nb-option value="1" langg>Single</nb-option>
              <nb-option value="2" langg>Married</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group">
            <input nbInput ngModel #email="ngModel" name="email" [placeholder]="'Email' | langg" fullWidth type="email"
              email [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''">
            <ng-container *ngIf="email.invalid && email.touched">
              <p class="error-message" *ngIf="email?.errors" langg>
                Email should be the real one!
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <input nbInput ngModel #career="ngModel" name="career" [placeholder]="'Career' | langg" fullWidth>
          </div>
          <div class="form-control-group">
            <textarea nbInput ngModel #adress="ngModel" name="adress" [placeholder]="'Address' | langg" rows="2"
              fullWidth></textarea>
          </div>
          <div class="form-control-group">
            <textarea nbInput ngModel #note="ngModel" name="note" [placeholder]="'Note' | langg" fullWidth
              rows="3"></textarea>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="text-center nbButton-group">
        <button nbButton type="submit" status="success" [disabled]="!form.valid" langg>Save</button>
        <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>

<swal #duplicateNameSwal icon="warning" showCancelButton="true" focusCancel="true" [title]="'Attention !' | langg"
  [text]="'This Name is already on the patient list!' | langg"
  [confirmButtonText]="'Get previously added patient' | langg"
  [cancelButtonText]="'Change current Patient Name' | langg">
</swal>

<swal #doneSwal icon="success" showCancelButton="true" focusConfirm="true" [title]="'Success' | langg"
  [text]="'Done successfully!' | langg" [confirmButtonText]="'Add New Booking' | langg"
  [cancelButtonText]="'Close' | langg" confirmButtonColor="#00d68f">
</swal>
