<form #form="ngForm" (ngSubmit)="onSave()" aria-labelledby="title" [nbSpinner]="formLoading" nbSpinnerStatus="success">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-md-6">
          <label class="label"><span langg>Bookings prices</span>:</label>
          <table class="table">
            <tr *ngFor="let item of bookingTypePricesList">
              <td>
                <nb-checkbox ngModel [name]="item.id" [checked]="item.isActive" [(ngModel)]="item.isActive">
                </nb-checkbox>
              </td>
              <td><label [class]="!item.isActive ? 'text-muted':''"><span langg>{{item.title}}</span>:</label></td>
              <td><input nbInput type="number" [min]="0" ngModel [name]="item.type" [(ngModel)]="item.price"
                  [disabled]="!item.isActive" fieldSize="small">
                <label langg>EGP</label>
                <ng-container *ngIf="item.price<0">
                  <p class="error-message text-danger" langg>
                    Price cannot be less than: 0
                  </p>
                </ng-container>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <label class="label"><span langg>Services prices</span>:</label>
          <table class="table">
            <tr *ngFor="let item of bookingServicePrices">
              <td>
                <nb-checkbox ngModel [name]="item.id" [checked]="item.isActive" [(ngModel)]="item.isActive">
                </nb-checkbox>
              </td>
              <td><label [class]="!item.isActive ? 'text-muted':''"><span langg>{{item.title}}</span>:</label></td>
              <td><input nbInput type="number" [min]="0" ngModel [name]="item.service" [(ngModel)]="item.price"
                  [disabled]="!item.isActive" fieldSize="small">
                <label langg>EGP</label>
                <ng-container *ngIf="item.price<0">
                  <p class="error-message text-danger" langg>
                    Price cannot be less than: 0
                  </p>
                </ng-container>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="text-center nbButton-group mt-1">
        <button nbButton type="submit" status="success" [disabled]="!form.valid" langg>Save</button>
        <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>
