<form #form="ngForm" (ngSubmit)="onSave()" aria-labelledby="title" [nbSpinner]="formLoading" nbSpinnerStatus="success">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-md-4">
          <label class="label"><span langg>Bookings prices</span>:</label>
          <table class="table">
            <tr *ngFor="let item of bookingTypePrices">
              <td><span langg>{{item.type}}</span>:</td>
              <td>
                <input nbInput type="number" [min]="0" [(ngModel)]="item.price" [name]="'type'+item.id"
                  fieldSize="small">
                <label langg>EGP</label>
                <ng-container *ngIf="item.price<0">
                  <p class="error-message text-danger" langg>
                    Price cannot be less than: 0
                  </p>
                </ng-container>
              </td>
            </tr>
          </table>
          <button nbButton size="small" type="button" (click)="onAddType()" class="mx-1 mb-1">
            <nb-icon icon="plus-outline"></nb-icon><span langg>Add Booking Type</span>
          </button>
        </div>
        <div class="col-md-4">
          <label class="label"><span langg>Services prices</span>:</label>
          <table class="table">
            <tr *ngFor="let item of bookingServicePrices">
              <td><span langg>{{item.service}}</span>:</td>
              <td><input nbInput type="number" [min]="0" [(ngModel)]="item.price" [name]="'service'+item.id"
                  fieldSize="small">
                <label langg>EGP</label>
                <ng-container *ngIf="item.price<0">
                  <p class="error-message text-danger" langg>
                    Price cannot be less than: 0
                  </p>
                </ng-container>
              </td>
            </tr>
          </table>
          <button nbButton size="small" type="button" (click)="onAddService()" class="mx-1 mb-1">
            <nb-icon icon="plus-outline"></nb-icon><span langg>Add Service</span>
          </button>
        </div>
        <div class="col-md-4">
          <label class="label"><span langg>Discounts prices</span>:</label>
          <table class="table">
            <tr *ngFor="let item of bookingDiscountPrices">
              <td><span langg>{{item.discount}}</span>:</td>
              <td><input nbInput type="number" [min]="0" [(ngModel)]="item.price" [name]="'discount'+item.id"
                  fieldSize="small">
                <ng-container>
                  <p *ngIf="item.price<0" class="error-message text-danger" langg>
                    Price cannot be less than: 0
                  </p>
                  <p *ngIf="item.isPercent && item.price > 100" class="error-message text-danger" langg>
                    Percentage cannot be more than 100%
                  </p>
                </ng-container>
              </td>
              <td>
                <nb-select [(ngModel)]="item.isPercent" [name]="'isPercent'+item.id" size="small">
                  <nb-option [value]="false" langg>EGP</nb-option>
                  <nb-option [value]="true">%</nb-option>
                </nb-select>
              </td>
            </tr>
          </table>
          <button nbButton size="small" type="button" (click)="onAddDiscount()" class="mx-1 mb-1">
            <nb-icon icon="plus-outline"></nb-icon><span langg>Add Discount</span>
          </button>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="text-center nbButton-group mt-1">
        <button nbButton type="submit" status="success" [disabled]="!form.valid || !form.dirty" langg>Save</button>
        <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>
