input{
  width: 7rem !important;
}
nb-select{
  width: 6rem !important;
}

.table td{
  border-top: unset !important;
}

.prices-group input{
  margin: 0 1rem;
  }

  .prices-group label{
    font-size: 0.8125rem;
    font-weight: 600;
  }
