<form #form="ngForm" aria-labelledby="title" [nbSpinner]="formLoading" nbSpinnerStatus="success">
  <div class="row">
    <div class="col-md-6">
      <label for="input-diseasesInQuestions" class="label"><span langg>Associated Diseases Summary</span>:</label>
      <textarea nbInput [ngModel]="diseaseSummary" #diseases name="diseases" id="input-diseasesInQuestions" disabled fullWidth
        rows="1"></textarea>
    </div>
    <div class="col-md-6">
      <label for="input-complaints" class="label"><span langg>Complaints Summary:</span></label>
      <textarea nbInput [ngModel]="complaintSummary" #complaints name="complaints" id="input-complaints" disabled
        fullWidth rows="1"></textarea>
    </div>
  </div>

<hr>

  <h6 langg>Exact Diagnosis Probability:</h6>
  <div class="row">
    <div class="col-4 form-control-group text-center">
      <label class="label"><span langg>سؤال تحديد الاحتمالات؟</span></label>
    </div>
    <div class="col-4 form-control-group">
      <nb-select fullWidth ngModel #mainQuest="ngModel" name="mainQuest" [placeholder]="'' | langg">
        <nb-option value="1" langg>الاحتمال الأول</nb-option>
        <nb-option value="2" langg>الثاني</nb-option>
        <nb-option value="3" langg>الثالث</nb-option>
      </nb-select>
    </div>
    <div class="col-4 form-control-group">
      <input nbInput ngModel type="text" #note="ngModel" name="note"  [placeholder]="'Note' | langg"
        fullWidth>
    </div>
  </div>

  <h6 langg>Probability Questions:</h6>
  <div class="row">
    <div class="col-4 form-control-group text-center">
      <label class="label"><span langg>السؤال الأول؟</span></label>
    </div>
    <div class="col-4 form-control-group">
      <nb-select fullWidth ngModel #mainQuest="ngModel" name="mainQuest" [placeholder]="'' | langg">
        <nb-option value="1" langg>إجابة أ</nb-option>
        <nb-option value="2" langg>إجابة ب</nb-option>
        <nb-option value="3" langg>إجابة ج</nb-option>
      </nb-select>
    </div>
    <div class="col-4 form-control-group">
      <input nbInput ngModel type="text" #note="ngModel" name="note"  [placeholder]="'Note' | langg"
        fullWidth>
    </div>
    <div class="col-4 form-control-group text-center">
      <label class="label"><span langg>السؤال الثاني</span></label>
    </div>
    <div class="col-4 form-control-group">
      <nb-select fullWidth ngModel #mainQuest="ngModel" name="mainQuest" [placeholder]="'' | langg">
        <nb-option value="1" langg>إجابة أ</nb-option>
        <nb-option value="2" langg>إجابة ب</nb-option>
        <nb-option value="3" langg>إجابة ج</nb-option>
      </nb-select>
    </div>
    <div class="col-4 form-control-group">
      <input nbInput ngModel type="text" #note="ngModel" name="note"  [placeholder]="'Note' | langg"
        fullWidth>
    </div>
    <div class="col-4 form-control-group text-center">
      <label class="label"><span langg>السؤال الثالث</span></label>
    </div>
    <div class="col-4 form-control-group">
      <nb-select fullWidth ngModel #mainQuest="ngModel" name="mainQuest" [placeholder]="'' | langg">
        <nb-option value="1" langg>إجابة أ</nb-option>
        <nb-option value="2" langg>إجابة ب</nb-option>
        <nb-option value="3" langg>إجابة ج</nb-option>
      </nb-select>
    </div>
    <div class="col-4 form-control-group">
      <input nbInput ngModel type="text" #note="ngModel" name="note"  [placeholder]="'Note' | langg"
        fullWidth>
    </div>
  </div>
  <div class="text-center nbButton-group">
    <button nbButton type="submit" status="success" [disabled]="!form.valid" langg>Save</button>
    <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
  </div>
</form>
