
.print-container{
  direction: ltr ;
  width: 90% ;
  height: 90% ;
  margin: 0 auto ;
  padding-top: 5rem ;
}

.print-container .logo {
  text-align: center;
  margin-bottom: 10px;
}
.print-container .logo img {
  width: 90px;
}

.print-container header{
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  text-align: center ;
  padding: 2rem 0;
}
.print-container footer{
  position: fixed;
  bottom: 0;
  border-top: 1px solid #5D6975;
  padding: 1rem 0 3rem;
  width: 90%;
}

.print-container div.left{
  float: left ;
}
.print-container div.right{
  float: right ;
}

.print-container main table{
  width: 100%;
}

.print-container main table thead{
  border-bottom: 1px solid #C1CED9;
}

.print-container main table th div.right{
  text-align: right;
  direction: rtl;
  padding: 1rem 0;
}
.print-container main table th div.right label.dotted{
  border-bottom: 1px dashed;
}

/* .print-container main table tbody tr td.left{
  padding-top: 2rem;
} */
.print-container main table tbody tr td.right{
  padding-top: 3rem;
}

.print-container h2, .print-container h4, .print-container h5{
  font-family: 'DecoType Naskh';
  //font-family: "DecoType Naskh", "Aldhabi", "Andalus", "Sakkal Majalla", "Simplified Arabic", "Traditional Arabic", "Arabic Typesetting", "Urdu Typesetting", "Tahoma";
}
.print-container table thead div.right{
  font-family: 'Arabic Typesetting';
  font-size: 1.5rem;
}
.print-container span.r{
  font-family:'ToyorAljanah';
  font-weight: bolder;
  font-size: 3rem;
}
.print-container span.medicine , .print-container span.concentration , .print-container span.form {
font-family: "Urdu Typesetting";
font-weight: bold;
  font-size: 1.5rem;
}
.print-container tbody td.right{
  font-family: "Traditional Arabic";
  font-weight: bold;
  font-size: 1.5rem;
}


/////////////////////////////////////////////////////////////////////////////


/* .print {
  //display: none;
  direction: ltr ;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

.print {
  position: relative;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  color: #001028;
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-family: Arial;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: url(../../../../../assets/images/print-medicine-header.png);
}

#project {
  float: left;
}

#project span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
  text-align: right;
}

#project div,
#company div {
  white-space: nowrap;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;
  font-weight: normal;
}

table .service,
table .desc {
  text-align: left;
  font-family: 'ToyorAljanah';
}

table td {
  padding: 20px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}
 */
