<div class="print-container">
  <header>
    <div class="row">
      <div class="col-4 left">
        <h2 style="white-space: pre-line">{{printInfoSetting?.clinicTitle}}</h2>
        <img [src]="printInfoSetting?.logoUrl" (load)="onImageLoad($event)">
      </div>
      <div class="col-4">
      </div>
      <div class="col-4 right">
        <h4>{{printInfoSetting?.doctorName}}</h4>
        <h5 style="white-space: pre-line">{{printInfoSetting?.doctorDegree}}</h5>
      </div>
    </div>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>
            <div class="right">
              <label>كود المريض:</label>&nbsp;
              <label class="dotted">{{printType=='medicine' ? prescription?.patientCodeId : printType=='request' ? requests?.patientCodeId : printType=='referral'? referrals?.patientCodeId : ''}}</label>
              <br>
              <ngx-barcode [bc-value]="prescription?.patientCodeId" [bc-display-value]="true"></ngx-barcode>
            </div>
          </th>
          <th>
            <div class="right">
              <label>الإسم:</label>&nbsp;
              <label class="dotted">{{printType=='medicine' ? prescription?.patientName : printType=='request' ? requests?.patientName : printType=='referral'? referrals?.patientName : ''}}</label>
              <br>
              <label>التاريخ:</label>&nbsp;
              <label class="dotted">{{prescription?.createdOn | localDateShort}}</label>
              <label class="dotted">{{printType=='medicine' ? (prescription?.createdOn | localDateShort) : printType=='request' ? (requests?.createdOn | localDateShort) : printType=='referral'? (referrals?.createdOn | localDateShort) : ''}}</label>
            </div>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="printType=='medicine'">
        <tr *ngFor="let item of prescription.medicinesForPrint">
          <td class="left">
            <span class="r">R/</span>&nbsp;
            <span class="medicine">{{item.medicine}}</span>&nbsp;
            <span class="concentration">{{item.concentration}}</span>&nbsp;
            <span class="form">{{item.form}}</span>
          </td>
          <td class="right">
            <span class="Dose">{{item.dose}}</span>&nbsp;
            <span class="timing">{{item.timing}}</span>&nbsp;
            <span class="period">{{item.period}}</span>
          </td>
        </tr>
        <tr *ngIf="prescription.note">
          <td class="right" colspan="2">
            <span class="period">{{prescription?.note}}</span>&nbsp;
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="printType=='request'">
        <tr *ngFor="let item of requests.requests">
          <td class="left">
            <span class="r">R/</span>&nbsp;
            <span class="medicine">{{item.requestName}}</span>&nbsp;
            <span class="concentration">{{item.rayArea}}</span>&nbsp;
            <span class="form">{{item.note}}</span>
          </td>
          <td class="right">
            <span class="period">{{item.requestType=='ray'?'طلب أشعة':'طلب تحاليل'}}</span>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="printType=='referral'">
        <tr *ngFor="let item of referrals">
          <td class="left">
            <span class="r">R/</span>&nbsp;
            <span class="medicine">{{item.diagnose}}</span>
          </td>
          <td class="right">
            <span class="Dose"><span langg>Specialty</span>: {{item.specialtyName}}</span>&nbsp;
            <br>
            <span class="Dose"><span langg>Doctor Name</span>: {{item.doctorName}}</span>&nbsp;
            <br>
            <span class="Dose" *ngIf="item.note"><span langg>Notes</span>: {{item.note}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  <footer>
    <div class="row">
      <div class="col-6 left">
        <h6>{{printInfoSetting?.phone1}}</h6>
      </div>
      <div class="col-6 right text-right">
        <h6>{{printInfoSetting?.address1}}</h6>
      </div>
      <div class="col-6 left">
        <h6>{{printInfoSetting?.phone2}}</h6>
      </div>
      <div class="col-6 right text-right">
        <h6>{{printInfoSetting?.address2}}</h6>
      </div>
      <div class="col-6 left">
        <h6>{{printInfoSetting?.phone3}}</h6>
      </div>
      <div class="col-6 right text-right">
        <h6>{{printInfoSetting?.address3}}</h6>
      </div>
    </div>
  </footer>
</div>
