<div class="print-container">
  <div class="logo">
    <img src="../../../../../assets/images/print-medicine-logo.png">
  </div>
  <header>
    <div class="row">
      <div class="col-4 left">
        <h2>{{printInfoSetting.clinicTitle}}</h2>
      </div>
      <div class="col-4"></div>
      <div class="col-4 right">
        <h4>{{printInfoSetting.doctorName}}</h4>
        <h5>{{printInfoSetting.doctorDegree}}</h5>
      </div>
    </div>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>
            <div class="right">
            <label>كود المريض:</label>&nbsp;
              <label class="dotted">156546</label>
              <br>
              <label>156546</label>
            </div>
          </th>
          <th>
            <div class="right">
              <label>الإسم:</label>&nbsp;
              <label class="dotted">محمد أحمد السيد</label>
              <br>
              <label>التاريخ:</label>&nbsp;
              <label class="dotted">{{'2020-3-5' | localDateShort}}</label>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of medicines">
          <td class="left">
            <span class="r">R/</span>&nbsp;
            <span class="medicine">{{item.name}}</span>&nbsp;
            <span class="concentration">{{item.concentration}}</span>&nbsp;
            <span class="form">{{item.form}}</span>
          </td>
          <td class="right">
            <span class="Dose">{{item.dose}}</span>&nbsp;
            <span class="timing">{{item.timing}}</span>&nbsp;
            <span class="period">{{item.period}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  <footer>
    <div class="row">
      <div class="col-4 left">
        <h6>{{printInfoSetting.phone1}} - {{printInfoSetting.phone2}} - {{printInfoSetting.phone3}}</h6>
      </div>
      <div class="col-4"></div>
      <div class="col-4 right">
        <h6>{{printInfoSetting.address1}} - {{printInfoSetting.address2}}</h6>
      </div>
    </div>
  </footer>
</div>
