<div class="print-container">
  <div class="logo">
    <img src="../../../../../assets/images/print-medicine-logo.png">
  </div>
  <header>
    <div class="row">
      <div class="col-4 left">
        <h2>مركز العظام والمفاصل للأطفال والكبار</h2>
      </div>
      <div class="col-4"></div>
      <div class="col-4 right">
        <h4>دكتور بهاء علي قرنة</h4>
        <h5>أستاذ جراحة العظام والمفاصل جامعة الأزهر</h5>
      </div>
    </div>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>
            <div class="right">
              <label>الإسم:</label>&nbsp;
              <label class="dotted">محمد أحمد السيد</label>
              <br>
              <label>التاريخ:</label>&nbsp;
              <label class="dotted">{{'2020-3-5' | localDateShort}}</label>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left">
            <span class="r">R/</span>&nbsp;
            <span class="medicine">Cornivita</span>&nbsp;
            <span class="concentration">2 mg</span>&nbsp;
            <span class="form">Caps</span>
          </td>
          <td class="right">
            <span class="Dose">مرتان يومياً</span>&nbsp;
            <span class="timing">بعد الأكل</span>&nbsp;
            <span class="period">لمدة أسبوع</span>
          </td>
        </tr>
        <tr>
          <td class="left">
            <span class="r">R/</span>&nbsp;
            <span class="medicine">Cornivita</span>&nbsp;
            <span class="concentration">2 mg</span>&nbsp;
            <span class="form">Caps</span>
          </td>
          <td class="right">
            <span class="Dose">مرتان يومياً</span>&nbsp;
            <span class="timing">بعد الأكل</span>&nbsp;
            <span class="period">لمدة أسبوع</span>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  <footer>
    <div class="row">
      <div class="col-4 left">
        <h6>01254215215 - 02315251512</h6>
      </div>
      <div class="col-4"></div>
      <div class="col-4 right">
        <h6>المهندسين شارع نجيب محفوظ عمارة 5 شقة 6</h6>
      </div>
    </div>
  </footer>
</div>
