@{
    ViewBag.Title = "Create";
}

<h2>إضافة طبيب</h2>

<div id="tabs">
    <ul>
        <li><a href="#tabs-0">(&#x06F1;) بيانات الدخول</a></li>
        <li><a href="#tabs-1">(&#x06F2;) بيانات الطبيب</a></li>
        <li><a href="#tabs-2">(&#x06F3;) بيانات العيادة</a></li>
    </ul>
    <div id="tabs-0">
        @if (ViewBag.Tab == 0)
        {
            Html.RenderPartial("_CreateDoctor");
        }
    </div>
    <div id="tabs-1">
        @if (ViewBag.Tab == 1)
        {
            //Html.RenderPartial("_FloorCabinsCount", ViewData["Tab1Model"]);
        }
    </div>
    <div id="tabs-2">
        @if (ViewBag.Tab == 2)
        {
            //Html.RenderPartial("_UserCabinsCount", ViewData["Tab2Model"]);
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            // initial tabs
            $("#tabs").tabs()
                .tabs("option", "disabled", [0, 1, 2])
                .tabs("enable", @ViewBag.Tab)
                .tabs( "option", "active", @ViewBag.Tab );

            //// initial Datepickers
            //$.datepicker.setDefaults($.datepicker.regional['ar']);
            //$('#ToDate').datepicker({
            //    dateFormat: "yy/mm/dd",
            //    changeMonth: true,
            //    changeYear: true,
            //    minDate: new Date()
            //});
            //$("#FromDate").datepicker({
            //    dateFormat: "yy/mm/dd",
            //    changeMonth: true,
            //    changeYear: true,
            //    minDate: new Date(),
            //    onSelect: function (dateStr) {
            //        $("#ToDate").val(dateStr);
            //        $("#ToDate").datepicker("option", { minDate: new Date(dateStr) })
            //    }
            //});
        });
    </script>
}
