@{
    ViewBag.Title = "Create";
}

<h2>إضافة طبيب</h2>

<div id="tabs">
    <ul>
        <li><a href="#tabs-0">(&#x0661;) بيانات الدخول</a></li>
        <li><a href="#tabs-1">(&#x0662;) بيانات الطبيب</a></li>
        <li><a href="#tabs-2">(&#x0663;) بيانات الاشتراك</a></li>
        <li><a href="#tabs-3">(&#x0664;) بيانات العيادة</a></li>
    </ul>
    <div id="tabs-0">
        @if (ViewBag.Tab == 0)
        {
            Html.RenderPartial("_CreateUser");
        }
    </div>
    <div id="tabs-1">
        @if (ViewBag.Tab == 1)
        {
            Html.RenderPartial("_CreateDoctor", ViewData["Tab1Model"]);
        }
    </div>
    <div id="tabs-2">
        @if (ViewBag.Tab == 2)
        {
            Html.RenderPartial("_CreateSubs", ViewData["Tab2Model"]);
        }
    </div>
    <div id="tabs-3">
        @if (ViewBag.Tab == 3)
        {
            Html.RenderPartial("_CreateClinic", ViewData["Tab3Model"]);
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            // initial tabs
            $("#tabs").tabs()
                .tabs("option", "disabled", [0, 1, 2,3])
                .tabs("enable", @ViewBag.Tab)
                .tabs( "option", "active", @ViewBag.Tab );

            // initial Datepickers
            $.datepicker.setDefaults($.datepicker.regional['ar']);
            $('#NextPaymentDate').datepicker({
                dateFormat: "yy/mm/dd",
                changeMonth: true,
                changeYear: true,
                minDate: new Date()
            });

            // change sign up fee when select plan
            //$('#Paid').val($('#SignUpFee').val());
            $('#PlanId').change(function () {
                if (+$(this).val() == 1) {
                    $('#SignUpFee').val(1000);
                    $('#Paid').val(1000);
                }
                if (+$(this).val() == 2) {
                    $('#SignUpFee').val(3000);
                    $('#Paid').val(3000);
                }
                if (+$(this).val() == 3) {
                    $('#SignUpFee').val(10000);
                    $('#Paid').val(10000);
                }
            });
        });
    </script>
}
