<nb-card-header class="dialog-center">
  <nb-card-header>{{ patientDetails }}</nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item>
        عدد جميع الزيارات السابقة: 15
      </nb-list-item>
      <nb-list-item>
        عدد مرات الكشف: 10
      </nb-list-item>
      <nb-list-item>
        عدد مرات الاستشارة: 5
      </nb-list-item>
      <nb-list-item>
        تاريخ أول زيارة: 1/1/2020م
      </nb-list-item>
      <nb-list-item>
        تاريخ آخر زيارة 5/5/2020م
      </nb-list-item>
    </nb-list>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="primary" (click)="dialogRef.close()" langg>Close</button>
  </nb-card-footer>
</nb-card-header>
