@model IEnumerable<clinic_panel.Models.SysCitiesValue>

@{
    ViewBag.Title = "المدن";
}

<h2>مدن محافظة: @ViewBag.Gov</h2>

<table class="table">
    <tr class="info">
        <th>
            المدينة/عربي
        </th>
        <th>
            المدينة/إنجليزي
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TextAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextEN)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("رجوع", "Index")
</p>
