<form #form="ngForm" aria-labelledby="title" [nbSpinner]="formLoading" nbSpinnerStatus="success">
  <!-- <label for="input-diseasesInComplaints" class="label"><span langg>Associated Diseases Summary</span>:</label>
  <textarea nbInput [ngModel]="diseaseSummary" #diseases name="diseases" id="input-diseasesInComplaints" disabled
    fullWidth rows="1"></textarea>
  <hr> -->
  <h6><span langg>General Complaint</span>:</h6>
  <table class="table">
    <tbody>
      <tr *ngFor="let item of patientGeneralComplaints; index as i;">
        <td>
          <nb-select fullWidth [(ngModel)]="item.compId" [ngModelOptions]="{standalone: true}"
            [placeholder]="'Complaint' | langg" size="small">
            <nb-option *ngFor="let complaintValue of complaintsGeneralValues" [value]="complaintValue.compId">
              {{complaintValue.compName}}
            </nb-option>
          </nb-select>
          <!-- <input nbInput [(ngModel)]="item.compName" [typeahead]="complaintsGeneralValues" typeaheadOptionField="compName"
          (typeaheadOnSelect)="onSelectGeneralComplaint($event)"  (typeaheadNoResults)="item.isNameValid = !$event" [placeholder]="'Complaint' | langg"
            [isAnimated]="true" fieldSize="small" [typeaheadMinLength]="0" [ngModelOptions]="{standalone: true}"
            [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="15" fullWidth>
          <ng-container *ngIf="!item.isNameValid">
            <label class="error-message" langg>This Name does not exist! Do you add it to the
              list?</label>&nbsp;
            <button nbButton type="button" (click)="onAddNewItemToList(item.compName);item.isNameValid=true"
              status="info" size="small" class="mt-2" langg>Add</button>
          </ng-container> -->
        </td>
        <td>
          <input nbInput [(ngModel)]="item.note" [ngModelOptions]="{standalone: true}" [placeholder]="'Period or Notes' | langg" fullWidth
            fieldSize="small">
        </td>
        <td class="label pt-2">
          <label *ngIf="item.compId"><span langg>Added Date</span>:&nbsp;<b>{{item.createdOn | localDateShort}}</b>
          </label>
        </td>
        <td>
          <button (click)="onRemoveComplaint(i,'general')" nbButton [nbTooltip]="'Remove Complaint' | langg" size="tiny"
            status="danger">
            <nb-icon icon="close-square"></nb-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button nbButton size="small" (click)="onAddComplaint('general')"
    [disabled]="patientGeneralComplaints.length && !patientGeneralComplaints[patientGeneralComplaints?.length-1]?.compId"
    class="mx-1 mb-1">
    <nb-icon icon="plus-outline"></nb-icon><span langg>Add General Complaint</span>
  </button>
  <hr>
  <h6><span langg>Complaint Details</span>:</h6>
  <table class="table">
    <tbody>
      <tr *ngFor="let item of patientComplaintsDetails; index as i;">
        <td>
          <nb-select fullWidth [(ngModel)]="item.compId" [ngModelOptions]="{standalone: true}"
            [placeholder]="'Complaint' | langg" size="small" (selectedChange)="onChangeComplaintDetails($event,item)">
            <nb-option *ngFor="let complaintValue of complaintsDetailsValues" [value]="complaintValue.compId">
              {{complaintValue.compName}}
            </nb-option>
          </nb-select>
        </td>
        <td>
          <nb-select *ngIf="item.allChoises?.length" fullWidth [(ngModel)]="item.choiceId"
            [ngModelOptions]="{standalone: true}" [placeholder]="'Choices' | langg" size="small">
            <nb-option *ngFor="let choise of item.allChoises" [value]="choise.choiceId">
              {{choise.choiceName}}</nb-option>
          </nb-select>
        </td>
        <td>
          <input *ngIf="item.allChoises?.length" nbInput [(ngModel)]="item.period" [ngModelOptions]="{standalone: true}"
            [placeholder]="'Period' | langg" fullWidth fieldSize="small">
        </td>
        <td>
          <input *ngIf="item.allChoises?.length" nbInput ngModel #note="ngModel" name="note"
            [placeholder]="'Notes' | langg" fullWidth fieldSize="small">
        </td>
        <td class="label pt-2">
          <label *ngIf="item.allChoises?.length"><span langg>Added Date</span>:&nbsp;<b>{{today | localDateShort}}</b>
          </label>
        </td>
        <td>
          <button (click)="onRemoveComplaint(i,'')" nbButton [nbTooltip]="'Remove Complaint' | langg" size="tiny"
            status="danger">
            <nb-icon icon="close-square"></nb-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <button nbButton size="small" (click)="onAddComplaint('')"
    [disabled]="patientComplaintsDetails.length &&!patientComplaintsDetails[patientComplaintsDetails?.length-1]?.choiceId"
    class="mx-1 mb-1">
    <nb-icon icon="plus-outline"></nb-icon><span langg>Add Complaint Details</span>
  </button>

  <div class="text-center nbButton-group mb-1">
    <button nbButton type="submit" status="success" (click)="onSave(form)"
      [disabled]="!patientGeneralComplaints.length || !patientGeneralComplaints[patientGeneralComplaints?.length-1]?.compId" langg>Save</button>
    <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
  </div>
</form>


<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>

<swal #deleteSwal icon="error" showCancelButton="true" focusCancel="true" [title]="'Attention !' | langg"
  [text]="'This data will be deleted forever and all other data related to it, and it will not be retrievable again!' | langg"
  [confirmButtonText]="'Delete' | langg" [cancelButtonText]="'Cancel' | langg" confirmButtonColor="#ff3d71">
</swal>
