<nb-card>
  <nb-card-body>
    <h6 langg>Add New Referral:</h6>
    <form #form="ngForm" aria-labelledby="title" [nbSpinner]="formLoading" nbSpinnerStatus="success">
      <table class="table requests">
        <tbody>
          <tr *ngFor="let item of referrals; index as i;">
            <td>
              <nb-select fullWidth [(ngModel)]="item.specialtyName" [ngModelOptions]="{standalone: true}"
                [placeholder]="'Specialty' | langg" size="small" (selectedChange)="onChangeReferralValue($event,item)">
                <nb-option *ngFor="let referralValue of referralsValues" [value]="referralValue.specialtyName">
                  {{referralValue.specialtyName}}
                </nb-option>
              </nb-select>
            </td>
            <td>
              <nb-select *ngIf="item.doctors?.length" fullWidth [(ngModel)]="item.doctorName"
                [ngModelOptions]="{standalone: true}" [placeholder]="'Doctor Name' | langg" size="small">
                <nb-option *ngFor="let doctor of item.doctors" [value]="doctor.doctorName">
                  {{doctor.doctorName}}</nb-option>
              </nb-select>
            </td>
            <td>
              <nb-select *ngIf="item.doctors?.length" fullWidth [(ngModel)]="item.diagnose"
                [ngModelOptions]="{standalone: true}" [placeholder]="'Diagnosis' | langg" size="small">
                <nb-option *ngFor="let diagnose of diagnosesNames" [value]="diagnose">
                  {{diagnose}}</nb-option>
              </nb-select>
            </td>
            <td>
              <input *ngIf="item.doctors?.length" nbInput [(ngModel)]="item.note" #note="ngModel" name="note"
                [ngModelOptions]="{standalone: true}" [placeholder]="'Notes' | langg" fullWidth fieldSize="small">
            </td>
            <td class="label pt-2">
              <label *ngIf="item.doctors?.length"><span langg>Referral
                  Date</span>:&nbsp;<b>{{today | localDateShort}}</b>
              </label>
            </td>
            <td>
              <button (click)="onRemoveReferral(i)" nbButton [nbTooltip]="'Remove Referral' | langg" size="tiny"
                status="danger">
                <nb-icon icon="close-square"></nb-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <button nbButton size="small" (click)="onAddReferral('doctor')"
        [disabled]="referrals.length &&!referrals[referrals?.length-1]?.doctorName" class="mx-1 mb-1">
        <nb-icon icon="plus-outline"></nb-icon><span langg>Doctor Referral</span>
      </button>
      <!-- <button nbButton size="small" (click)="onAddReferral('pt')"
        [disabled]="referrals[0]?.type && (!referrals[0]?.name || !referrals[0]?.isNameValid)" class="mx-1 mb-1">
        <nb-icon icon="plus-outline"></nb-icon><span langg>Physical Therapy</span>
      </button>
      <button nbButton size="small" (click)="onAddReferral('hospital')"
        [disabled]="referrals[0]?.type && (!referrals[0]?.name || !referrals[0]?.isNameValid)" class="mx-1 mb-1">
        <nb-icon icon="plus-outline"></nb-icon><span langg>Hospital Referral</span>
      </button> -->

      <div class="text-center nbButton-group mb-1">
        <button nbButton type="submit" status="success" (click)="onSave(form)"
          [disabled]="!referrals[referrals?.length-1]?.doctorName" langg>Save</button>
        <button nbButton type="submit" status="success" (click)="onSavePrint(form)"
          [disabled]="!referrals[referrals?.length-1]?.doctorName" langg>Save & Print Referral</button>
        <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>

<swal #deleteSwal icon="error" showCancelButton="true" focusCancel="true" [title]="'Attention !' | langg"
  [text]="'This data will be deleted forever and all other data related to it, and it will not be retrievable again!' | langg"
  [confirmButtonText]="'Delete' | langg" [cancelButtonText]="'Cancel' | langg" confirmButtonColor="#ff3d71">
</swal>
