<!-- <div class="my-1 btns-acc">
  <button nbButton (click)="acc.openAll()" size="tiny"><span langg>Open All</span>
    <nb-icon icon="expand"></nb-icon>
  </button>&nbsp;
  <button nbButton (click)="acc.closeAll()" status="info" size="tiny"><span langg>Close All</span>
    <nb-icon icon="collapse"></nb-icon>
  </button>
</div> -->
<nb-accordion #acc >
    <nb-accordion-item *ngFor="let item of recordItems">
      <nb-accordion-item-header *ngIf="item.recordName=='Patient Complaint' && item.isActive"><span langg>Patient Complaint</span>:</nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.recordName=='Patient Complaint' && item.isActive">
        <complaints></complaints>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.recordName=='Patient History' && item.isActive"><span langg>Patient History</span>:</nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.recordName=='Patient History' && item.isActive">
        <history></history>
      </nb-accordion-item-body>

    <nb-accordion-item-header *ngIf="item.recordName=='Examination' && item.isActive"><span langg>Examination</span>:</nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.recordName=='Examination' && item.isActive">
        <examination></examination>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.recordName=='Diagnosis' && item.isActive"><span langg>Diagnosis</span>:</nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.recordName=='Diagnosis' && item.isActive">
        <diagnosis></diagnosis>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.recordName=='X-Rays' && item.isActive"><span langg>X-Rays</span>:</nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.recordName=='X-Rays' && item.isActive">
        <x-rays></x-rays>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.recordName=='Analyses' && item.isActive"><span langg>Analyses</span>:</nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.recordName=='Analyses' && item.isActive">
        <analysis></analysis>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.recordName=='Operations' && item.isActive"><span langg>Operations</span>:</nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.recordName=='Operations' && item.isActive">
        <operations></operations>
      </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
