<!-- <div class="my-1 d-flex flex-row-reverse">
  <button nbButton (click)="acc.openAll()" size="tiny"><span langg>Open All</span>
    <nb-icon icon="expand"></nb-icon>
  </button>&nbsp;
  <button nbButton (click)="acc.closeAll()" status="info" size="tiny"><span langg>Close All</span>
    <nb-icon icon="collapse"></nb-icon>
  </button>
</div> -->
<div class="col-md-12 mt-1 d-flex flex-row-reverse">
  <button nbButton size="small" status="success" type="button" (click)="onBook(0)" class="mb-1" langg>New
    Booking for Patient</button>
  &nbsp;<button *ngIf="todayBookingId" nbButton size="small" status="info" type="button" (click)="onBook(todayBookingId)" class="mb-1" langg>Edit today Booking</button>
</div>
<div [nbSpinner]="formLoading" nbSpinnerStatus="success" [class]="formLoading? 'p-5':''">
  <nb-accordion #acc>
    <nb-accordion-item *ngFor="let item of recordItems" [expanded]="item.isExpanded"
      (collapsedChange)="item.isExpanded = !$event">
      <nb-accordion-item-header *ngIf="item.textEN=='Patient Complaint' && item.isActive"><span langg>Patient
          Complaint</span>:</nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='Patient Complaint' && item.isActive">
        <complaints *ngIf="item.isExpanded" (onFinish)="acc.closeAll()"></complaints>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.textEN=='Patient History' && item.isActive"><span langg>Patient
          History</span>:</nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='Patient History' && item.isActive">
        <history *ngIf="item.isExpanded" (onFinish)="acc.closeAll()"></history>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.textEN=='Examination' && item.isActive"><span langg>Examination</span>:
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='Examination' && item.isActive">
        <examination *ngIf="item.isExpanded" (onFinish)="acc.closeAll()"></examination>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.textEN=='Diagnosis' && item.isActive"><span langg>Diagnosis</span>:
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='Diagnosis' && item.isActive">
        <diagnosis *ngIf="item.isExpanded" (onFinish)="acc.closeAll()"></diagnosis>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.textEN=='X-Rays' && item.isActive"><span langg>X-Rays</span>:
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='X-Rays' && item.isActive">
        <xrays *ngIf="item.isExpanded" (onFinish)="acc.closeAll()"></xrays>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.textEN=='Analyses' && item.isActive"><span langg>Analyses</span>:
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='Analyses' && item.isActive">
        <analysis *ngIf="item.isExpanded" (onFinish)="acc.closeAll()"></analysis>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.textEN=='Operations' && item.isActive"><span langg>Operations</span>:
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.textEN=='Operations' && item.isActive">
        <operations *ngIf="item.isExpanded" (onFinish)="acc.closeAll()"></operations>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>
