<form #form="ngForm" (ngSubmit)="onSaveSetting()" aria-labelledby="title" [nbSpinner]="formLoading"
  nbSpinnerStatus="success">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-md-4 form-control-group">
          <label class="label" for="input-sort"><span langg>Entry order</span>:</label>
          <nb-radio-group id="input-sort" name="sortBookings" [(ngModel)]="bookingSetting.entryOrderId"
            class="form-inline" fullWidth>
            <nb-radio [value]="1"><span langg>According to the Attendance</span>&nbsp;</nb-radio>
            <nb-radio [value]="2"><span langg>According to the Booking Time</span>&nbsp;</nb-radio>
            <nb-radio [value]="3"><span langg>Manual</span>&nbsp;</nb-radio>
          </nb-radio-group>
          <small class="form-text text-muted" langg>The order of Bookings that will appear in the current day’s
            Bookings.</small>
        </div>
        <div class="col-md-4 form-control-group">
          <label class="label" for="input-period"><span langg>Booking Period</span>:</label>
          <nb-select name="bookingPeriod" [(ngModel)]="bookingSetting.bookingPeriod"
            [placeholder]="'Choose Period' | langg" id="input-period" fullWidth>
            <nb-option [value]="5">5 {{'Minutes' | langg}}</nb-option>
            <nb-option [value]="10">10 {{'Minutes' | langg}}</nb-option>
            <nb-option [value]="15">15 {{'Minutes' | langg}}</nb-option>
            <nb-option [value]="20">20 {{'Minutes' | langg}}</nb-option>
            <nb-option [value]="30">30 {{'Minutes' | langg}}</nb-option>
            <nb-option [value]="45">45 {{'Minutes' | langg}}</nb-option>
            <nb-option [value]="60">{{'An Hour' | langg}}</nb-option>
          </nb-select>
          <small class="form-text text-muted" langg>The period that will be calculated for each Booking, whatever its
            type.</small>
        </div>
        <div class="col-md-4 form-control-group">
          <label class="label" for="input-consultExpireDays"><span langg>Consult Expire after Days</span>:</label>
          <input nbInput type="number" [min]="0" #consultExpireDays="ngModel" name="consultExpireDays"
            [(ngModel)]="bookingSetting.consultExpiration" required id="input-consultExpireDays" fullWidth
            [status]="consultExpireDays.touched ? (consultExpireDays.invalid || consultExpireDays.value < 0 ? 'danger' : 'success') : ''">
          <small class="form-text text-muted" langg>The period after which the Consult is expired.</small>
          <ng-container *ngIf="consultExpireDays.touched">
            <p class="error-message text-danger" *ngIf="consultExpireDays?.errors?.required" langg>
              Consult Expire Days is required!
            </p>
            <p class="error-message text-danger" *ngIf="consultExpireDays.value < 0" langg>
              Can't be less than zero!
            </p>
          </ng-container>
        </div>
      </div>
      <hr>
      <label class="label" for="input-workdays"><span langg>Work Days and Times</span>:</label>
      <table class="table">
        <thead>
          <tr>
            <th>
              <nb-checkbox [(checked)]="bookingSetting.isAllDaysOn">
                {{'All Days' | langg}}</nb-checkbox>
            </th>
            <th>
              <nb-checkbox [(checked)]="bookingSetting.isAllDaysSameTime">
                {{'Same Time From:' | langg}}</nb-checkbox>
            </th>
            <th>
              <timepicker name="bookingTimeFrom" [(ngModel)]="bookingSetting.allDaysTimeFrom" showMeridian="true"
                [disabled]="!bookingSetting.isAllDaysSameTime" labelMinutes="Minutes" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </th>
            <th><span langg>To</span>:</th>
            <th>
              <timepicker name="bookingTimeTo" [(ngModel)]="bookingSetting.allDaysTimeTo" showMeridian="true"
                [disabled]="!bookingSetting.isAllDaysSameTime" labelMinutes="Minutes" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle">
              <nb-checkbox [(checked)]="bookingSetting.isAllDaysOn ? true : bookingSetting.isSaturdayOn"
                [disabled]="bookingSetting.isAllDaysOn">
                {{'Saturday' | langg}}</nb-checkbox>
            </td>
            <td class="align-middle"><span langg>From</span>:</td>
            <td>
              <timepicker name="saturdayFrom"
                [(ngModel)]="bookingSetting.isAllDaysSameTime? bookingSetting.allDaysTimeFrom : bookingSetting.saturdayTimeFrom"
                showMeridian="true" [disabled]="bookingSetting.isAllDaysSameTime" labelMinutes="Minutes" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </td>
            <td class="align-middle"><span langg>To</span>:</td>
            <td>
              <timepicker name="saturdayTo"
                [(ngModel)]="bookingSetting.isAllDaysSameTime? bookingSetting.allDaysTimeTo : bookingSetting.saturdayTimeTo"
                showMeridian="true" labelMinutes="Minutes" [disabled]="bookingSetting.isAllDaysSameTime" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </td>
          </tr>
          <tr>
            <td class="align-middle">
              <nb-checkbox name="sunday" [(checked)]="bookingSetting.isAllDaysOn ? true :bookingSetting.isSundayOn"
                [disabled]="bookingSetting.isAllDaysOn">
                {{'Sunday' | langg}}</nb-checkbox>
            </td>
            <td class="align-middle"><span langg>From</span>:</td>
            <td>
              <timepicker name="sundayFrom"
                [(ngModel)]="bookingSetting.isAllDaysSameTime? bookingSetting.allDaysTimeFrom : bookingSetting.sundayTimeFrom"
                showMeridian="true" [disabled]="bookingSetting.isAllDaysSameTime" labelMinutes="Minutes" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </td>
            <td class="align-middle"><span langg>To</span>:</td>
            <td>
              <timepicker name="sundayTo"
                [(ngModel)]="bookingSetting.isAllDaysSameTime? bookingSetting.allDaysTimeTo : bookingSetting.sundayTimeTo"
                showMeridian="true" labelMinutes="Minutes" [disabled]="bookingSetting.isAllDaysSameTime" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </td>
          </tr>
          <tr>
            <td class="align-middle">
              <nb-checkbox name="monday" [(checked)]="bookingSetting.isAllDaysOn ? true :bookingSetting.isMondayOn"
                [disabled]="bookingSetting.isAllDaysOn">
                {{'Monday' | langg}}</nb-checkbox>
            </td>
            <td class="align-middle"><span langg>From</span>:</td>
            <td>
              <timepicker name="mondayFrom"
                [(ngModel)]="bookingSetting.isAllDaysSameTime? bookingSetting.allDaysTimeFrom : bookingSetting.mondayTimeFrom"
                showMeridian="true" [disabled]="bookingSetting.isAllDaysSameTime" labelMinutes="Minutes" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </td>
            <td class="align-middle"><span langg>To</span>:</td>
            <td>
              <timepicker name="mondayTo"
                [(ngModel)]="bookingSetting.isAllDaysSameTime? bookingSetting.allDaysTimeTo : bookingSetting.mondayTimeTo"
                showMeridian="true" labelMinutes="Minutes" [disabled]="bookingSetting.isAllDaysSameTime" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </td>
          </tr>
          <tr>
            <td class="align-middle">
              <nb-checkbox name="tuesday" [(checked)]="bookingSetting.isAllDaysOn ? true :bookingSetting.isTuesdayOn"
                [disabled]="bookingSetting.isAllDaysOn">
                {{'Tuesday' | langg}}</nb-checkbox>
            </td>
            <td class="align-middle"><span langg>From</span>:</td>
            <td>
              <timepicker name="tuesdayFrom"
                [(ngModel)]="bookingSetting.isAllDaysSameTime? bookingSetting.allDaysTimeFrom : bookingSetting.tuesdayTimeFrom"
                showMeridian="true" [disabled]="bookingSetting.isAllDaysSameTime" labelMinutes="Minutes" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </td>
            <td class="align-middle"><span langg>To</span>:</td>
            <td>
              <timepicker name="tuesdayTo"
                [(ngModel)]="bookingSetting.isAllDaysSameTime? bookingSetting.allDaysTimeTo : bookingSetting.tuesdayTimeTo"
                showMeridian="true" labelMinutes="Minutes" [disabled]="bookingSetting.isAllDaysSameTime" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </td>
          </tr>
          <tr>
            <td class="align-middle">
              <nb-checkbox name="wednesday"
                [(checked)]="bookingSetting.isAllDaysOn ? true :bookingSetting.isWednesdayOn"
                [disabled]="bookingSetting.isAllDaysOn">
                {{'Wednesday' | langg}}</nb-checkbox>
            </td>
            <td class="align-middle"><span langg>From</span>:</td>
            <td>
              <timepicker name="wednesdayFrom"
                [(ngModel)]="bookingSetting.isAllDaysSameTime? bookingSetting.allDaysTimeFrom : bookingSetting.wednesdayTimeFrom"
                showMeridian="true" [disabled]="bookingSetting.isAllDaysSameTime" labelMinutes="Minutes" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </td>
            <td class="align-middle"><span langg>To</span>:</td>
            <td>
              <timepicker name="wednesdayTo"
                [(ngModel)]="bookingSetting.isAllDaysSameTime? bookingSetting.allDaysTimeTo : bookingSetting.wednesdayTimeTo"
                showMeridian="true" labelMinutes="Minutes" [disabled]="bookingSetting.isAllDaysSameTime" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </td>
          </tr>
          <tr>
            <td class="align-middle">
              <nb-checkbox name="thursday" [(checked)]="bookingSetting.isAllDaysOn ? true :bookingSetting.isThursdayOn"
                [disabled]="bookingSetting.isAllDaysOn">
                {{'Thursday' | langg}}</nb-checkbox>
            </td>
            <td class="align-middle"><span langg>From</span>:</td>
            <td>
              <timepicker name="thursdayFrom"
                [(ngModel)]="bookingSetting.isAllDaysSameTime? bookingSetting.allDaysTimeFrom : bookingSetting.thursdayTimeFrom"
                showMeridian="true" [disabled]="bookingSetting.isAllDaysSameTime" labelMinutes="Minutes" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </td>
            <td class="align-middle"><span langg>To</span>:</td>
            <td>
              <timepicker name="thursdayTo"
                [(ngModel)]="bookingSetting.isAllDaysSameTime? bookingSetting.allDaysTimeTo : bookingSetting.thursdayTimeTo"
                showMeridian="true" labelMinutes="Minutes" [disabled]="bookingSetting.isAllDaysSameTime" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </td>
          </tr>
          <tr>
            <td class="align-middle">
              <nb-checkbox name="friday" [(checked)]="bookingSetting.isAllDaysOn ? true :bookingSetting.isFridayOn"
                [disabled]="bookingSetting.isAllDaysOn">
                {{'Friday' | langg}}</nb-checkbox>
            </td>
            <td class="align-middle"><span langg>From</span>:</td>
            <td>
              <timepicker name="fridayFrom"
                [(ngModel)]="bookingSetting.isAllDaysSameTime? bookingSetting.allDaysTimeFrom : bookingSetting.fridayTimeFrom"
                showMeridian="true" [disabled]="bookingSetting.isAllDaysSameTime" labelMinutes="Minutes" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </td>
            <td class="align-middle"><span langg>To</span>:</td>
            <td>
              <timepicker name="fridayTo"
                [(ngModel)]="bookingSetting.isAllDaysSameTime? bookingSetting.allDaysTimeTo : bookingSetting.fridayTimeTo"
                showMeridian="true" labelMinutes="Minutes" [disabled]="bookingSetting.isAllDaysSameTime" minuteStep="30"
                style="direction: ltr;"></timepicker>
            </td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
    <nb-card-footer>
      <div class="text-center nbButton-group mt-1">
        <button nbButton type="submit" status="success" [disabled]="!form.valid || !form.touched" langg>Save</button>
        <button nbButton type="button" status="danger" (click)="location.back()" langg>Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" icon="success" timer="2000"
  [showConfirmButton]="false">
</swal>
