    <button [routerLink]="['/pages/patients/details',1,'request']" [queryParams]="{type:'xray'}" nbButton class="mb-1" langg>Request New X-Ray</button>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th langg>X-Rays</th>
          <th langg>X-Ray Area</th>
          <th langg>Request Date</th>
          <th langg>Result Date</th>
          <th langg>Disease Severity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>PLAIN X RAY FILM</td>
          <td>القدم اليمنى</td>
          <td>2020-5-2</td>
          <td>2020-5-7</td>
          <td>Grade 1</td>
          <td class="text-center">
            <button nbButton (click)="onOpenXrayDetails()" type="submit" status="info" size="small" langg>Details</button>
          </td>
        </tr>
        <tr>
          <td>ULTRASONOGRAPHY</td>
          <td>اليد اليمنى</td>
          <td>2020-4-1</td>
          <td>2020-5-2</td>
          <td>Grade 3</td>
          <td class="text-center">
            <button nbButton (click)="onOpenXrayDetails()" type="button" status="info" size="small" langg>Details</button>
          </td>
        </tr>
        <tr>
          <td>ISOTOPIC  SCAN</td>
          <td>الظهر</td>
          <td>2020-5-2</td>
          <td>{{'No Result' | langg}}</td>
          <td></td>
          <td class="text-center">
            <button nbButton (click)="onOpenXrayDetails()" type="button" status="success" size="small" langg>Register Result</button>
          </td>
        </tr>
      </tbody>
    </table>
